<textarea name="textarea" id="InternalAuditDataExport" cols="100" style="display:none">{{valuesToString exportInternalAuditData}}</textarea>
<textarea name="textarea" id="PPRDataExport" cols="100" style="display:none">{{valuesToString exportPPRData}}</textarea>
<textarea name="textarea" id="OtherAuditsDataExport" cols="100" style="display:none">{{valuesToString exportOtherAuditsData}}</textarea>

<table id="auditreview_table" class="ibm-data-table" width="100%">
  <tr class="audit-review-content">
    <td>
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <thead>
          <th class="audit-review-viewheader" scope="col" width="20%"></th>
          <th class="audit-review-viewheader" scope="col" width="20%"># Completed Audits</th>
          <th class="audit-review-viewheader" scope="col" width="20%"># SAT Audits</th>
          <th class="audit-review-viewheader" scope="col" width="20%"># UNSAT Audits</th>
          <th class="audit-review-viewheader" scope="col" width="20%">Weighted Score</th>
        </thead>
        <tr class="audit-review-viewheader-ar">
          <td class="audit-review-viewheader-al" width="20%">GTS - IS Delivery</td>
          <td class="asmt-viewdata" width="20%">{{SummaryISDelivery.countComplete}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryISDelivery.countSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryISDelivery.countUNSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryISDelivery.countScore}}</td>
        </tr>
        <tr class="audit-review-viewheader-ar" width="20%">
          <td class="audit-review-viewheader-al">GTS - IS</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMIS.countComplete}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMIS.countSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMIS.countUNSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMIS.countScore}}</td>
        </tr>
        <tr class="audit-review-viewheader-ar" width="20%">
          <td class="audit-review-viewheader-al">GTS - OTHER</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMOther.countComplete}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMOther.countSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMOther.countUNSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryCRMOther.countScore}}</td>
        </tr>
        <tr class="audit-review-viewheader-ar" width="20%">
          <td class="audit-review-viewheader-al" width="20%"><strong>TOTAL</strong></td>
          <td class="asmt-viewdata" width="20%">{{SummaryTotal.countComplete}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryTotal.countSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{SummaryTotal.countUNSAT}}</td>
          <td class="asmt-viewdata" width="20%">{{WeightedAuditScore}}</td>
        </tr>
      </table>
    </td>
  </tr>
  {{#if editmode}}
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Internal Audits</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="InternalAudit-link-export" id="InternalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="InternalAudit-link-export2" id="InternalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="InternalAudit_treeview" width="100%" class="table_with_scroll">
  				<thead>
            <th class="audit-review-viewheader" scope="col" width="5%">Cat</th>
  					<th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Country</th>
  					<th class="audit-review-viewheader" scope="col" width="10%">Engagement</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Audited Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="13%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Score</th>
  				</thead>
          {{#each InternalAuditData}}
  					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
    					<td width="5%">{{#unless parent}}{{cat}}{{/unless}}</td>
    					<td width="10%">{{plannedStartDate}}</td>
    					<td width="10%">{{country}}</td>
              <td width="10%">{{engagement}}</td>
    					<td width="30%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
    					<td width="13%">{{DocSubType}}</td>
    					{{{ratingDisplayView PeriodRatingPrev 5}}}
    					{{{ratingDisplayView PeriodRating 5}}}
    					<td width="7%">{{CUSize}}</td>
    					<td width="5%">{{CUScore}}</td>
  					</tr>
  				{{/each}}
          <tr class="audit-review-viewheader-ar">
            <td class="audit-review-viewheader-ar" colspan="10"><b>Weighted Score: {{WeightedAuditScore}}</b></td>
          </tr>
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="IAExplanations" id="IAExplanations" value="{{IAExplanations}}" size="167"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Proactive Reviews - Quarterly Recommendation Status</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="ppr_treeview" width="100%" class="table_with_scroll">
  				<thead>
            <th class="audit-review-viewheader" scope="col" width="5%">Cat</th>
            <th class="audit-review-viewheader" scope="col" width="7%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Pd</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Sts</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Country</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Review ID</th>
            <th class="audit-review-viewheader" scope="col" width="20%">Assessable Unit</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="6%">Rating</th>
            <th class="audit-review-viewheader" scope="col" width="7%">Total Recs</th>
            <th class="audit-review-viewheader" scope="col" width="7%">Open Recs</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Count</th>
  				</thead>
          {{#each PPRData}}
  					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
  						<td width="5%">{{#if catEntry}}<strong>{{cat}}{{/if}}</strong></td>
  						<td width="7%">{{#if catEntry}}{{auditOrReview}}{{/if}}</td>
  						<td width="5%">{{#if catEntry}}{{reportingQuarter}}{{/if}}</td>
  						<td width="5%">{{#if catEntry}}{{status}}{{/if}}</td>
              <td width="5%">{{country}}</td>
  						<td width="8%">{{reviewID}}</td>
  						<td width="20%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">a{{Name}}</a></td>
  						<td width="10%">{{DocSubType}}</td>
  						<td width="10%">{{reportDate}}</td>
  						{{{ratingDisplayView rating 6}}}
  						<td width="7%">{{numRecommendationsTotal}}</td>
  						<td width="7%">{{numRecommendationsOpen}}</td>
  						<td width="5%">{{count}}</td>
  					</tr>
  				{{/each}}
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="PRExplanations" id="PRExplanations" value="{{PRExplanations}}" size="167"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Other Audits and Reviews</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="OtherAudits-link-export" id="OtherAudits-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="OtherAudits-link-export2" id="OtherAudits-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="OtherAudits_treeview" width="100%" class="table_with_scroll">
  				<thead>
            <th class="audit-review-viewheader" scope="col" width="5%">Cat</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Rating/Status</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Date</th>
  					<th class="audit-review-viewheader" scope="col" width="25%">Assessable Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
  				</thead>
          {{#each OtherAuditsData}}
            <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
              <td width="5%">{{#if catEntry}}<strong>{{cat}}{{/if}}</strong></td>
              <td width="8%">{{#if catEntry}}{{auditOrReview}}{{/if}}</td>
              {{{ratingDisplayView PeriodRating 8}}}
              <td width="8%">{{imt}}</td>
              <td width="8%">{{reportDate}}</td>
              <td width="25%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
              <td width="8%">{{DocSubType}}</td>
              {{{ratingDisplayView PeriodRatingPrev 5}}}
              <td width="5%">{{CUSize}}</td>
              <td width="20%">{{comments}}</td>
  					</tr>
  				{{/each}}
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="ARRExplanations" id="ARRExplanations" value="{{ARRExplanations}}" size="167"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Focus items, key changes, open items, comments for current &amp; next quarter</b></span><br /><br />
        <table width="100%" class="ibm-data-table">
          <tr class="asmt-viewdata">
            <td><input type="text" name="AuditFocusText" id="AuditFocusText" value="{{AuditFocusText}}" size="186"></td>
          </tr>
        </table>
      </td>
  	</tr>
  {{else}} <!-- Read Mode  -->
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Internal Audits</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="InternalAudit-link-export" id="InternalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="InternalAudit-link-export2" id="InternalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="InternalAudit_treeview" width="100%" class="table_with_scroll">
          <thead>
            <th class="audit-review-viewheader" scope="col" width="5%">Cat</th>
  					<th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Country</th>
  					<th class="audit-review-viewheader" scope="col" width="10%">Engagement</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Audited Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="13%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Score</th>
  				</thead>
          {{#each InternalAuditData}}
  					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
    					<td width="5%">{{#unless parent}}{{cat}}{{/unless}}</td>
    					<td width="10%">{{plannedStartDate}}</td>
    					<td width="10%">{{country}}</td>
              <td width="10%">{{engagement}}</td>
    					<td width="30%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
    					<td width="13%">{{DocSubType}}</td>
    					{{{ratingDisplayView PeriodRatingPrev 5}}}
    					{{{ratingDisplayView PeriodRating 5}}}
    					<td width="7%">{{CUSize}}</td>
    					<td width="5%">{{CUScore}}</td>
  					</tr>
  				{{/each}}
          <tr class="audit-review-viewheader-ar">
            <td class="audit-review-viewheader-ar" colspan="10"><b>Weighted Score: {{WeightedAuditScore}}</b></td>
          </tr>
        </table>
        <table width="100%" class="ibm-data-table">
          <tr>
            <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
            <td class="asmt-viewdata" width="90%">{{IAExplanations}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Proactive Reviews - Quarterly Recommendation Status</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
          <thead>
            <th class="audit-review-viewheader" scope="col" width="5%">Cat</th>
            <th class="audit-review-viewheader" scope="col" width="7%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Pd</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Sts</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Country</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Review ID</th>
            <th class="audit-review-viewheader" scope="col" width="20%">Assessable Unit</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="6%">Rating</th>
            <th class="audit-review-viewheader" scope="col" width="7%">Total Recs</th>
            <th class="audit-review-viewheader" scope="col" width="7%">Open Recs</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Count</th>
          </thead>
          {{#each PPRData}}
  					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
  						<td width="5%">{{#if catEntry}}<strong>{{cat}}{{/if}}</strong></td>
  						<td width="7%">{{#if catEntry}}{{auditOrReview}}{{/if}}</td>
  						<td width="5%">{{#if catEntry}}{{reportingQuarter}}{{/if}}</td>
  						<td width="5%">{{#if catEntry}}{{status}}{{/if}}</td>
              <td width="5%">{{country}}</td>
  						<td width="8%">{{reviewID}}</td>
  						<td width="20%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">a{{Name}}</a></td>
  						<td width="10%">{{DocSubType}}</td>
  						<td width="10%">{{reportDate}}</td>
  						{{{ratingDisplayView rating 6}}}
  						<td width="7%">{{numRecommendationsTotal}}</td>
  						<td width="7%">{{numRecommendationsOpen}}</td>
  						<td width="5%">{{count}}</td>
  					</tr>
  				{{/each}}
        </table>
        <table width="100%" class="ibm-data-table">
          <tr>
            <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
            <td class="asmt-viewdata" width="90%">{{PRExplanations}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Other Audits and Reviews</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="OtherAudits-link-export" id="OtherAudits-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="OtherAudits-link-export2" id="OtherAudits-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="OtherAudits_treeview" width="100%" class="table_with_scroll">
          <thead>
            <th class="audit-review-viewheader" scope="col" width="5%">Cat</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Rating/Status</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Date</th>
  					<th class="audit-review-viewheader" scope="col" width="25%">Assessable Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
          </thead>
          {{#each OtherAuditsData}}
            <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
              <td width="5%">{{#if catEntry}}<strong>{{cat}}{{/if}}</strong></td>
              <td width="8%">{{#if catEntry}}{{auditOrReview}}{{/if}}</td>
              {{{ratingDisplayView PeriodRating 8}}}
              <td width="8%">{{imt}}</td>
              <td width="8%">{{reportDate}}</td>
              <td width="25%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
              <td width="8%">{{DocSubType}}</td>
              {{{ratingDisplayView PeriodRatingPrev 5}}}
              <td width="5%">{{CUSize}}</td>
              <td width="20%">{{comments}}</td>
  					</tr>
  				{{/each}}
        </table>
        <table width="100%" class="ibm-data-table">
          <tr>
            <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
            <td class="asmt-viewdata" width="90%">{{ARRExplanations}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Focus items, key changes, open items, comments for current &amp; next quarter</b></span><br /><br />
        <table width="100%" class="ibm-data-table">
          <tr class="asmt-viewdata">
            <td>&nbsp;{{AuditFocusText}}</td>
          </tr>
        </table>
      </td>
    </tr>
  {{/if}}
</table>
<script>
  $("#InternalAudit_treeview").treetable({expandable: true });
	$("#ppr_treeview").treetable({expandable: true });
  $("#OtherAudits_treeview").treetable({expandable: true });
</script>
