<input type="hidden" name="showOutlook" id="showOutlook" value="{{showOutlook}}">
<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Basics</em></caption>
	<tr>
		<td width="25%">Parent BU IOT:</td><td>{{BUIOT}}</td>
	</tr>
	<tr>
		<td width="25%">BU IMT:</td><td><b>{{AssessableUnitName}}</b></td>
	</tr>
	{{#if editmode}}
		<tr>
			{{#if RatingEditable}}
				<td><label for="PeriodRating">Holistic Rating:<span class="ibm-required">*</span></label></td>
				<td>
					<span>{{{uniqueSelect "PeriodRating" parameters.PeriodRating.0.options "name" "name" PeriodRating}}}</span><br />
					<span class="mira-subdata">Rating last changed from {{PrevRatingUpdate}} to {{PeriodRating}} by: </span><span class="mira-subdatablue">{{RatingChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{RatingChangeWhen}}</span>
				</td>
			{{else}}
				<td>Holistic Rating:</td>
				<td>
					{{PeriodRating}}<br />
					<span class="mira-subdata">Rating last changed from {{PrevRatingUpdate}} to {{PeriodRating}} by: </span><span class="mira-subdatablue">{{RatingChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{RatingChangeWhen}}</span>
				</td>
			{{/if}}
		</tr>
		<tr>
			{{#if RJandT2SEditable}}
				<td><label for="MIRARatingJustification">Rating Justification:</label></td>
				<td>
					<span><input type="text" name="MIRARatingJustification" id="MIRARatingJustification" value="{{MIRARatingJustification}}" size="153"></span>
				</td>
			{{else}}
				<td>Rating Justification:</td>
				<td>{{WWBCITRatingJustification}}</td>
			{{/if}}
		</tr>
		<tr class="reviewComments">
			<td><label for="ReviewComments">Review Explanation/Comment:</label></td>
			<td>
				<span><input type="text" name="ReviewComments" id="ReviewComments" value="{{ReviewComments}}" size="153"></span>
			</td>
		</tr>
		<tr class="target2Sat">
			{{#if RJandT2SEditable}}
				<td><label for="Target2Sat">Target to Sat:<span class="ibm-required">*</span></label></td>
				<td>
					<span><input type="date" name="Target2Sat" id="Target2Sat" class="ibm-calendar-link" value="{{Target2Sat}}"></span>&nbsp;
				</td>
			{{/if}}
		</tr>
		<tr>
			{{#if_not_equal MIRAStatus "Final"}}
				<td><label for="MIRAStatus">MIRA Status:<span class="ibm-required">*</span></label></td>
				<td>
					<span>{{{uniqueSelect "MIRAStatus" parameters.AssessmentStatus.0.options "name" "name" MIRAStatus}}}</span><br />
					<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{MIRAStatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{MIRAStatusChangeWhen}}</span>
				</td>
			{{else}}
				<td>MIRA Status:</td>
				<td>
					<b class="ibm-important">{{MIRAStatus}}</b><br />
					<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{MIRAStatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{MIRAStatusChangeWhen}}</span>
				</td>
			{{/if_not_equal}}
		</tr>
		<tr>
			<td><label for="NextQtrRating">Next Qtr Outlook:</label></td>
			<td>
				<span>{{{uniqueSelect "NextQtrRating" parameters.NextQtrRating.0.options "name" "name" NextQtrRating}}}</span>
			</td>
		</tr>
	{{else}} <!-- read mode -->
		<tr>
			<td>Holistic Rating:</td>
			<td>
				{{{ratingDisplay PeriodRating "PeriodRating"}}}<br />
				<span class="mira-subdata">Rating last changed from {{PrevRatingUpdate}} to {{PeriodRating}} by: </span><span class="mira-subdatablue">{{RatingChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{RatingChangeWhen}}</span>
			</td>
		</tr>
<!--	<tr class="reviewComments"><td>Review Explanation/Comment:</td><td>{{ReviewComments}}</td></tr>
		<tr class="target2Sat"><td>Target to Sat</td><td>{{Target2Sat}}</td></tr> -->
		<tr>
			{{#if_not_equal PeriodRating "Sat"}}
				<tr class="MIRARatingJustification"><td>Rating Justification:</td><td>{{MIRARatingJustification}}</td></tr>
				<tr class="reviewComments"><td>Review Explanation/Comment:</td><td>{{ReviewComments}}</td></tr>
				<tr class="target2Sat"><td>Target to Sat</td><td>{{Target2Sat}}</td></tr>
			{{else}}
				<tr class="WWBCITRatingJustification"><td>Rating Justification:</td><td>{{WWBCITRatingJustification}}</td></tr>
			{{/if_not_equal}}
		</tr>
		<tr>
			<td>MIRA Status:</td>
			<td>
				<b class="ibm-important">{{MIRAStatus}}</b><br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{MIRAStatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{MIRAStatusChangeWhen}}</span>
			</td>
		</tr>
		<tr class="outlook">
			<td>Next Qtr Outlook:</td>
			<td>{{{ratingDisplay NextQtrRating "NextQtrRating"}}}</td>
		</tr>
	{{/if}}
</table>

<!--Script to disable past days selection on Target to sat calender-->
<script>
$("#Target2Sat").datepicker({ minDate: 0 });
</script>
