<textarea name="textarea" id="SampleDataExport" cols="100" style="display:none">{{valuesToString exportSample}}</textarea>
<textarea name="textarea" id="Sample2DataExport" cols="100" style="display:none">{{valuesToString exportSample2}}</textarea>
<table id="kctest_table" class="ibm-data-table" width="100%">
	<tr class="kc-test-content">
		<td class="kc-test-cell" colspan="4">
			<table width="100%" class="ibm-data-table">
				<thead class="kc-test-viewheader">
					<th class="kc-test-viewheader" colspan="2"></th>
					<th colspan="5" class="kc-test-viewheader">Defect Rates &amp; Testing Ratios (%) for Prior and Current Quarters</th>
					<th class="kc-test-viewheader"></th>
					<th colspan="12" class="kc-test-viewheader"># Unremed. Defects @ QE for Prior and Current Quarters</th>
				</thead>
				<thead class="kc-test-viewheader">
					<th class="kc-test-viewheader" colspan="2"></th>
					{{#each PrevQtrs}}
						<th class="kc-test-viewsubheader">{{this}}</th>
					{{/each}}
					<th class="asmt-viewdata-centered">{{CurrentPeriod}}</th>
					<th class="kc-test-viewheader"></th>
					{{#each PrevQtrs}}
						<th colspan="2" class="kc-test-viewsubheader">{{this}}</th>
					{{/each}}
					<th colspan="4" class="asmt-viewdata-centered">{{CurrentPeriod}}</th>
				</thead>
				<tr class="kc-test-viewheader">
					<td class="kc-test-viewheader" width="21%" colspan="2">Financial Process</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewheader" width="3%"></td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQF</td>
					<td class="kc-test-viewsubheader" width="4%">PQO</td>
					<td class="kc-test-viewsubheader" width="4%">CQF</td>
					<td class="kc-test-viewsubheader" width="4%">CQO</td>
				</tr>
				{{#KCProcessFIN}}
					{{#members}}
						<tr class="asmt-viewdata">
							{{#if @first}}
							<td rowspan="{{../length}}" class="kc-test-viewsubheader">{{../lob}}</td>
							{{/if}}
							<td>{{name}}</td>
							{{{defectRateDisplayView defectRateP4 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRateP3 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRateP2 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRateP1 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRate ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							<td></td>
							<td class="asmt-viewdata-centered">{{pqP4}}</td>
							<td class="asmt-viewdata-centered">{{cqP4}}</td>
							<td class="asmt-viewdata-centered">{{pqP3}}</td>
							<td class="asmt-viewdata-centered">{{cqP3}}</td>
							<td class="asmt-viewdata-centered">{{pqP2}}</td>
							<td class="asmt-viewdata-centered">{{cqP2}}</td>
							<td class="asmt-viewdata-centered">{{pqP1}}</td>
							<td class="asmt-viewdata-centered">{{cqP1}}</td>
							<td class="asmt-viewdata-centered">{{pqf}}</td>
							<td class="asmt-viewdata-centered">{{pqo}}</td>
							<td class="asmt-viewdata-centered">{{cqf}}</td>
							<td class="asmt-viewdata-centered">{{cqo}}</td>
						</tr>
					{{/members}}
				{{/KCProcessFIN}}
				<tr class="kc-test-viewheader">
					<td colspan="20"></td>
				</tr>
				<tr class="kc-test-viewsubheader-al">
					<td class="kc-test-viewsubheader-al" colspan="5">Total Country Financial Processes with Defect Rate &gt; 2% / 4%</td>
					<td class="marg-bg">{{#if_not_equal margCPDRFin 0}}{{margCPDRFin}}{{/if_not_equal}}</td>
					<td class="unsat-bg">{{#if_not_equal unsatCPDRFin 0}}{{unsatCPDRFin}}{{/if_not_equal}}</td>
					<td class="kc-test-viewheader-cell"></td>
					<td colspan="12" class="kc-test-viewheader">Explanations for current quarter entries</td>
				</tr>
				<tr class="kc-test-viewheader">
					<td colspan="8" rowspan="2"></td>
					<td colspan="12" rowspan="2">
						{{#if editmode}}
							<textarea name="SCSOXProcessTestingExplanations" id="SCSOXProcessTestingExplanations" rows="2" cols="85">{{SCSOXProcessTestingExplanations}}</textarea><br />
						{{else}}
							<textarea rows="2" cols="85" disabled>{{SCSOXProcessTestingExplanations}}</textarea><br />
						{{/if}}
					</td>
				</tr>
				<tr class="kc-test-viewheader">
				</tr>
				<tr class="kc-test-viewheader">
					<td colspan="20"></td>
				</tr>
				<tr class="kc-test-viewheader">
					<td class="kc-test-viewheader" width="21%" colspan="2">Operational Process</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewsubheader" width="5%">DR</td>
					<td class="kc-test-viewheader" width="3%"></td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQ</td>
					<td class="kc-test-viewsubheader" width="4%">CQ</td>
					<td class="kc-test-viewsubheader" width="4%">PQF</td>
					<td class="kc-test-viewsubheader" width="4%">PQO</td>
					<td class="kc-test-viewsubheader" width="4%">CQF</td>
					<td class="kc-test-viewsubheader" width="4%">CQO</td>
				</tr>
				{{#KCProcessOPS}}
					{{#members}}
						<tr class="asmt-viewdata">
							{{#if @first}}
							<td rowspan="{{../length}}" class="kc-test-viewsubheader">{{../lob}}</td>
							{{/if}}
							<td>{{name}}</td>
							{{{defectRateDisplayView defectRateP4 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRateP3 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRateP2 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRateP1 ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							{{{defectRateDisplayView defectRate ../../parameters.MargThresholdPercent.0.options.0.name ../../parameters.UnsatThresholdPercent.0.options.0.name}}}
							<td></td>
							<td class="asmt-viewdata-centered">{{pqP4}}</td>
							<td class="asmt-viewdata-centered">{{cqP4}}</td>
							<td class="asmt-viewdata-centered">{{pqP3}}</td>
							<td class="asmt-viewdata-centered">{{cqP3}}</td>
							<td class="asmt-viewdata-centered">{{pqP2}}</td>
							<td class="asmt-viewdata-centered">{{cqP2}}</td>
							<td class="asmt-viewdata-centered">{{pqP1}}</td>
							<td class="asmt-viewdata-centered">{{cqP1}}</td>
							<td class="asmt-viewdata-centered">{{pqf}}</td>
							<td class="asmt-viewdata-centered">{{pqo}}</td>
							<td class="asmt-viewdata-centered">{{cqf}}</td>
							<td class="asmt-viewdata-centered">{{cqo}}</td>
						</tr>
					{{/members}}
				{{/KCProcessOPS}}
				<tr class="kc-test-viewheader">
					<td colspan="20"></td>
				</tr>
				<tr class="kc-test-viewsubheader-al">
					<td class="kc-test-viewsubheader-al" colspan="5">Total Country Operational Processes with Defect Rate &gt; 2% / 4%</td>
					<td class="marg-bg">{{#if_not_equal margCPDROps 0}}{{margCPDROps}}{{/if_not_equal}}</td>
					<td class="unsat-bg">{{#if_not_equal unsatCPDROps 0}}{{unsatCPDROps}}{{/if_not_equal}}</td>
					<td class="kc-test-viewheader-cell"></td>
					<td colspan="13" class="kc-test-viewheader">Explanations for current quarter entries</td>
				</tr>
				<tr class="kc-test-viewheader">
					<td colspan="8" rowspan="2"></td>
					<td colspan="12" rowspan="2">
						{{#if editmode}}
							<textarea name="SCOpsProcessTestingExplanations" id="SCOpsProcessTestingExplanations" rows="2" cols="85">{{SCOpsProcessTestingExplanations}}</textarea><br />
						{{else}}
							<textarea rows="2" cols="85" disabled>{{SCOpsProcessTestingExplanations}}</textarea><br />
						{{/if}}
					</td>
				</tr>
				<tr class="kc-test-viewheader">
				</tr>
				<tr class="kc-test-viewheader">
					<td colspan="20"></td>
				</tr>
			</table>
			<table width="100%" class="ibm-data-table">
				<tr class="kc-test-cell">
					<td class="kc-test-cell" width="65%">
						<table width="100%" class="ibm-data-table">
							<tr class="kc-test-cell">
								<th class="kc-test-label" colspan="4">Focus items, key changes, open items, comments for current &amp; next quarter</th>
							</tr>
							<tr class="kc-test-cell">
								<td class="asmt-viewdata" colspan="4">
									{{#if editmode}}
										<textarea name="SCProcessTestingFocusItems" id="SCProcessTestingFocusItems" rows="4" cols="130">{{SCProcessTestingFocusItems}}</textarea>
									{{else}}
										<textarea rows="4" cols="130" disabled>{{SCProcessTestingFocusItems}}</textarea><br />
									{{/if}}
								</td>
							</tr>
						</table>
					</td>
					<td class="kc-test-cell" width="5%"></td>
					<td class="kc-test-cell" width="30%">
						<table width="100%" class="ibm-data-table">
							<tr class="asmt-viewdata">
								<td colspan="4"><b>Key:</b></td>
							</tr>
							<tr class="asmt-viewdata">
								<td colspan="2"><span class="mira-subdata2"><u>DR: Defect Rate</u></span></td>
								<td colspan="2"><span class="mira-subdata2"><u>TR: Testing Ratio</u></span></td>
							</tr>
							<tr class="asmt-viewdata">
								<td width="10%">
									{{{ratingBGDisplay "Sat" ""}}}<br />
									{{{ratingBGDisplay "Marg" ""}}}<br />
									{{{ratingBGDisplay "Unsat" ""}}}<br />
									"-"
								</td>
								<td width="40%">
									<span class="mira-subdata2">
										DR &lt; 2%<br />
										2% &le;  DR &lt; 4%<br />
										DR &ge; 4%<br />
										Not Applicable
									</span>
								</td>
								<td width="10%">
									{{{ratingBGDisplay "Sat" ""}}}<br />
									{{{ratingBGDisplay "Marg" ""}}}<br />
									{{{ratingBGDisplay "Unsat" ""}}}<br />
									"-"
								</td>
								<td width="40%">
									<span class="mira-subdata2">
										TR &ge; 98%<br />
										95% &le; TR &lt; 98%<br />
										TR &lt; 95%<br />
										Not Applicable
									</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td colspan="4">
			<span class="kc-test-header"><b>Current Quarter Country Process Defect Rate Exceptions</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="Sample-link-export" id="Sample-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="Sample-link-export2" id="Sample-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
			<br /><br />
			<table id="Sample_treeview" width="100%" class="table_with_scroll">
				<thead>
					<th class="kc-test-viewheader" scope="col" width="10%"></th>
					<th class="kc-test-viewheader" scope="col" width="40%">Process</th>
					<th class="kc-test-viewheader" scope="col" width="15%"># Tests</th>
					<th class="kc-test-viewheader" scope="col" width="15%"># Defects</th>
					<th class="kc-test-viewheader" scope="col" width="10%">DR %</th>
					<th class="kc-test-viewheader" scope="col" width="10%">Count</th>
				</thead>
				<tbody>
				{{#each CPDRException}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="10%">{{category}}</td>
						<td width="40%"><a target="_blank" href="/assessment`?id={{_id}}">{{AssessableUnitName}}</a></td>
						<td width="15%" >{{#if _id}}{{AUTestCount}}{{else}}&nbsp;{{/if}}</td>
						<td width="15%" >{{AUDefectCount}}</td>
						{{{defectRateDisplayView AUDefectRate ../parameters.MargThresholdPercent.0.options.0.name ../parameters.UnsatThresholdPercent.0.options.0.name 10}}}
						<td width="10%">{{count}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td colspan="4">
			<span class="kc-test-header"><b>Unremediated Defects by Quarter</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="Sample2-link-export" id="Sample2-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="Sample2-link-export2" id="Sample2-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
			<br /><br />
			<table id="Sample2_treeview" width="100%" class="table_with_scroll">
				<thead>
					<th class="kc-test-viewheader" scope="col" width="5%"></th>
					<th class="kc-test-viewheader" scope="col" width="5%">Type</th>
					<th class="kc-test-viewheader" scope="col" width="15%">Process</th>
					<th class="kc-test-viewheader" scope="col" width="10%">Reporting Country</th>
					<th class="kc-test-viewheader" scope="col" width="10%">Control</th>
					<th class="kc-test-viewheader" scope="col" width="20%">Controllable Unit</th>
					<th class="kc-test-viewheader" scope="col" width="10%">Sample</th>
					<th class="kc-test-viewheader" scope="col" width="5%">Original Target to Close</th>
					<th class="kc-test-viewheader" scope="col" width="5%">Current Target to Close</th>
					<th class="kc-test-viewheader" scope="col" width="5%"># Defects</th>
					<th class="kc-test-viewheader" scope="col" width="10%">Defect Type</th>
				</thead>
				<tbody>
				{{#each SCUnremedDefects}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="5%">{{#if catEntry}}{{originalReportingQuarter}}{{/if}}</td>
						<td width="5%">{{#if catEntry}}{{testType}}{{/if}}</td>
						<td width="15%">{{#if catEntry}}{{processSampled}}{{/if}}</td>
						<td width="10%">{{#if catEntry}}{{reportingCountry}}{{/if}}</td>
						<td width="10%">{{#if catEntry}}{{controlName}}{{/if}}</td>
						<td width="20%">{{controllableUnit}}</td>
						<td width="10%"><a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{sampleUniqueID}}</a></td>
						<td width="5%">{{#if _id}}{{originalTargetDate}}{{else}}&nbsp;{{/if}}</td>
						<td width="5%">{{targetClose}}</td>
						<td width="5%">{{count}}</td>
						<td width="10%">{{defectType}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
</table>
<script>
	$("#Sample_treeview").treetable({expandable: true });
	$("#Sample2_treeview").treetable({expandable: true });
</script>
