{{#if editmode}}
{{!-- AUBUSINESSUNIT form - Holistic Assessment section - Edit Mode --}}
	<table id="assessment_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>Holistic Assessment</em></caption>
		<tr>
			<td width="25%"><b class="ibm-important">{{CurrentPeriod}}</b> Rating justification:</td><td>{{Owner}}</td>
		</tr>
	</table>
	<div class="ibm-columns ibm-graphic-tabs">
		<table id="assessmentview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
			<thead class="mira-subtable">
				<th scope="col">Period</th>
				<th scope="col">Rating</th>
				<th scope="col">Assessed by</th>
				<th scope="col">Target to Sat</th>
			</thead>
			{{#each AssessmentData}}
			<tr>
				{{#each col}}<td>{{this}}</td>{{/each}}
			</tr>
			{{/each}}
		</table>
	</div>	
{{else}}
{{!-- AUBUSINESSUNIT form - Holistic Assessment section - Read Mode --}}
	<table id="assessment_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>Holistic Assessment</em></caption>
		<tr>
			<td width="25%"><b class="ibm-important">{{CurrentPeriod}}</b> Rating justification:</td><td>{{Owner}}</td>
		</tr>
	</table>
	<div class="ibm-columns ibm-graphic-tabs">
		<table id="assessmentview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
			<thead class="mira-subtable">
				<th scope="col">Period</th>
				<th scope="col">Rating</th>
				<th scope="col">Assessed by</th>
				<th scope="col">Target to Sat</th>
			</thead>
			{{#each AssessmentData}}
			<tr>
				{{#each col}}<td>{{this}}</td>{{/each}}
			</tr>
			{{/each}}
		</table>
	</div>	
{{/if}}