<table id="assessment_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Holistic Assessment</em></caption>
	<tr>
		<td width="25%"><b class="ibm-important">{{CurrentPeriod}}</b> Rating justification:</td><td>{{RatingJustification}}</td>
	</tr>
</table>
<div class="ibm-columns ibm-graphic-tabs">
	<!-- {{#if CreateAsmt}}
	<a href="/newassessment?pid={{_id}}" class="ibm-add1-link">New</a>
	<br /><br />
	{{/if}} -->
	<table id="assessmentview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
		<thead class="mira-subtable">
			<th scope="col">Period</th>
			<th scope="col">Rating</th>
			<th scope="col">Assessed by</th>
			<th scope="col">Target to Sat</th>
		</thead>
		{{#each AssessmentData}}
		<tr>
			{{#each col}}
				{{#if @first}}
					<td><a href="/assessment?id={{../docid}}">{{this}}</a></td>
				{{else}}
					<td>{{this}}</td>
				{{/if}}
			{{/each}}
		</tr>
		{{/each}}
	</table>
</div>
