<table id="access_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Contact/Access</em></caption>
	{{#if editmode}}
		{{! AUBUSINESSUNIT form - Contact/Access section - Edit Mode }}
		{{#if grantaccess}}
			{{#if MIRAunit}}
			<tr>
				<td width="25%">MIRA Owner:<span class="ibm-required">*</span></td>
				<td>
					<div class="Owner">
						<input id="ownername" name="ownername" size="95" class="ui-autocomplete-input" autocomplete="off" value="{{Owner}}" required>
						<script>$(document).ready(function() {bpLookup('#ownername','#ownername');});</script>
					</div>
				</td>
			</tr>
			{{else}}
			<tr>
				<td width="25%">WWBCIT Owner:</td>
				<td><div id="Owner">{{Owner}}</div>
					<script>$(document).ready(function() {updateOwner();});</script>
				</td>
			</tr>
			<tr><td>WWBCIT Focals:</td><td>{{Focals}}</td></tr>
			<tr><td>WWBCIT Coordinators:</td><td>{{Coordinators}}</td></tr>
			<tr><td>WWBCIT Readers:</td><td>{{Readers}}</td></tr>
			{{/if}}
			
			<tr>
				<td>MIRA Additional Editors:</td>
				<td>
					<div class="ui-widget">
						<input id="editorname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#editorname'),$('#editorlist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#editorname','#editorlist');});</script>
					</div>
					<textarea id="editorlist" name="editorlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalEditors}}</textarea>
				</td>
			</tr>
			<tr>
				<td>MIRA Additional Readers:</td>
				<td>
					<div class="ui-widget">
						<input id="readername" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#readername'),$('#readerlist'))">Delete</a>
					<script>$(document).ready(function() {bpLookup('#readername','#readerlist');});</script>
					</div>
					<textarea id="readerlist" name="readerlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalReaders}}</textarea>
				</td>
			</tr>
		{{else}}
			<tr>
				<td width="25%">WWBCIT Owner:</td>
				<td><div id="Owner">{{Owner}}</div>
					<script>$(document).ready(function() {updateOwner();});</script>
				</td>
			</tr>
			<tr><td>WWBCIT Focals:</td><td>{{Focals}}</td></tr>
			<tr><td>WWBCIT Coordinators:</td><td>{{Coordinators}}</td></tr>
			<tr><td>WWBCIT Readers:</td><td>{{Readers}}</td></tr>
			<tr><td>Additional MIRA Editors:</td><td>{{AdditionalEditors}}</td></tr>
			<tr><td>Additional MIRA Readers:</td><td>{{AdditionalReaders}}</td></tr>
		{{/if}}
	{{else}}
		{{!-- AUBUSINESSUNIT form - Contact/Access section - Read Mode --}}
		{{#if MIRAunit}}
		<tr>
			<td width="25%">MIRA Owner:<span class="ibm-required">*</span></td>
			<td><div id="Owner">{{Owner}}</div>
				<script>$(document).ready(function() {updateOwner();});</script>
			</td>
		</tr>
		{{else}}
		<tr>
			<td width="25%">WWBCIT Owner:</td>
			<td><div id="Owner">{{Owner}}</div>
				<script>$(document).ready(function() {updateOwner();});</script>
			</td>
		</tr>
		<tr><td>WWBCIT Focals:</td><td>{{Focals}}</td></tr>
		<tr><td>WWBCIT Coordinators:</td><td>{{Coordinators}}</td></tr>
		<tr><td>WWBCIT Readers:</td><td>{{Readers}}</td></tr>
		{{/if}}
		<tr><td>MIRA Additional Editors:</td><td>{{AdditionalEditors}}</td></tr>
		<tr><td>MIRA Additional Readers:</td><td>{{AdditionalReaders}}</td></tr>
	{{/if}}
</table>
