{{#if editmode}}
	{{! AUBUSINESSUNIT form - Contact/Access section - Edit Mode }}
	<table id="access_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>Contact/Access</em></caption>
		{{#if grantaccess}}
			{{#if RGFlag}}
				<tr>
					<td width="25%">WWBCIT Owner:</td><td><div id="Owner">{{Owner}}</div>
					<script>$(document).ready(function() {updateOwner();});</script>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Focals:</td>
					<td>
						<div class="ui-widget">
						<input id="focalsname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#focalsname'),$('#focalslist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#focalsname','#focalslist');});</script>
						</div>
						<textarea id="focalslist" name="focalslist" rows="4" cols="100" onfocus="this.blur()">{{Focals}}</textarea>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Coordinators:</td>
					<td>
						<div class="ui-widget">
						<input id="coordinatorsname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#coordinatorsname'),$('#coordinatorslist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#coordinatorsname','#coordinatorslist');});</script>
						</div>
						<textarea id="coordinatorslist" name="coordinatorslist" rows="4" cols="100" onfocus="this.blur()">{{Coordinators}}</textarea>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Readers:</td><
					<td>
						<div class="ui-widget">
						<input id="readersname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#readersname'),$('#readerslist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#readersname','#readerslist');});</script>
						</div>
						<textarea id="readerslist" name="readerslist" rows="4" cols="100" onfocus="this.blur()">{{Readers}}</textarea>
					</td>
				</tr>
				<tr>
					<td>Additional MIRA Editors:</td>
					<td>
						<div class="ui-widget">
						<input id="editorname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#editorname'),$('#editorlist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#editorname','#editorlist');});</script>
						</div>
						<textarea id="editorlist" name="editorlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalEditors}}</textarea>
					</td>
				</tr>
				<tr>   
					<td>Additional MIRA Readers:</td>
					<td>
						<div class="ui-widget">
							<input id="readername" class="ui-autocomplete-input" autocomplete="off" >
							<a class="ibm-delete-link" href="#" onclick="removeItem($('#readername'),$('#readerlist'))">Delete</a>
							<script>$(document).ready(function() {bpLookup('#readername','#readerlist');});</script>
						</div>
						<textarea id="readerlist" name="readerlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalReaders}}</textarea>
					</td>
				</tr>
			{{else if BUIMTflag}}
				<tr>
					<td width="25%">WWBCIT Owner:</td><td><div id="Owner">{{Owner}}</div>
					<script>$(document).ready(function() {updateOwner();});</script>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Focals:</td>
					<td>
						<div class="ui-widget">
						<input id="focalsname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#focalsname'),$('#focalslist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#focalsname','#focalslist');});</script>
						</div>
						<textarea id="focalslist" name="focalslist" rows="4" cols="100" onfocus="this.blur()">{{Focals}}</textarea>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Coordinators:</td>
					<td>
						<div class="ui-widget">
						<input id="coordinatorsname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#coordinatorsname'),$('#coordinatorslist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#coordinatorsname','#coordinatorslist');});</script>
						</div>
						<textarea id="coordinatorslist" name="coordinatorslist" rows="4" cols="100" onfocus="this.blur()">{{Coordinators}}</textarea>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Readers:</td><
					<td>
						<div class="ui-widget">
						<input id="readersname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#readersname'),$('#readerslist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#readersname','#readerslist');});</script>
						</div>
						<textarea id="readerslist" name="readerslist" rows="4" cols="100" onfocus="this.blur()">{{Readers}}</textarea>
					</td>
				</tr>
				<tr>
					<td>Additional MIRA Editors:</td>
					<td>
						<div class="ui-widget">
						<input id="editorname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#editorname'),$('#editorlist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#editorname','#editorlist');});</script>
						</div>
						<textarea id="editorlist" name="editorlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalEditors}}</textarea>
					</td>
				</tr>
				<tr>   
					<td>Additional MIRA Readers:</td>
					<td>
						<div class="ui-widget">
							<input id="readername" class="ui-autocomplete-input" autocomplete="off" >
							<a class="ibm-delete-link" href="#" onclick="removeItem($('#readername'),$('#readerlist'))">Delete</a>
							<script>$(document).ready(function() {bpLookup('#readername','#readerlist');});</script>
						</div>
						<textarea id="readerlist" name="readerlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalReaders}}</textarea>
					</td>
				</tr>
			{{else}}
				<tr>
					<td width="25%">WWBCIT Owner:</td><td><div id="Owner">{{Owner}}</div>
					<script>$(document).ready(function() {updateOwner();});</script>
					</td>
				</tr>
				<tr>
					<td>WWBCIT Focals:</td><td>{{Focals}}</td>
				</tr>
				<tr>
					<td>WWBCIT Coordinators:</td><td>{{Coordinators}}</td>
				</tr>
				<tr>
					<td>WWBCIT Readers:</td><td>{{Readers}}</td>
				</tr>
				<tr>
					<td>Additional MIRA Editors:</td>
					<td>
						<div class="ui-widget">
						<input id="editorname" class="ui-autocomplete-input" autocomplete="off" >
						<a class="ibm-delete-link" href="#" onclick="removeItem($('#editorname'),$('#editorlist'))">Delete</a>
						<script>$(document).ready(function() {bpLookup('#editorname','#editorlist');});</script>
						</div>
						<textarea id="editorlist" name="editorlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalEditors}}</textarea>
					</td>
				</tr>
				<tr>
					<td>Additional MIRA Readers:</td>
					<td>
						<div class="ui-widget">
							<input id="readername" class="ui-autocomplete-input" autocomplete="off" >
							<a class="ibm-delete-link" href="#" onclick="removeItem($('#readername'),$('#readerlist'))">Delete</a>
							<script>$(document).ready(function() {bpLookup('#readername','#readerlist');});</script>
						</div>
						<textarea id="readerlist" name="readerlist" rows="4" cols="100" onfocus="this.blur()">{{AdditionalReaders}}</textarea>
					</td>
				</tr>
			
			{{/if}}
		{{else}}
			<tr>
				<td width="25%">WWBCIT Owner:</td><td><div id="Owner">{{Owner}}</div>
				<script>$(document).ready(function() {updateOwner();});</script>
				</td>
			</tr>
			<tr>
				<td>WWBCIT Focals:</td><td>{{Focals}}</td>
			</tr>
			<tr>
				<td>WWBCIT Coordinators:</td><td>{{Coordinators}}</td>
			</tr>
			<tr>
				<td>WWBCIT Readers:</td><td>{{Readers}}</td>
			</tr>
			<tr>
				<td>Additional MIRA Editors:</td><td>{{AdditionalEditors}}</td>
			</tr>
			<tr>
				<td>Additional MIRA Readers:</td><td>{{AdditionalReaders}}</td>
			</tr>
		{{/if}}
	</table>
{{else}}
	{{!-- AUBUSINESSUNIT form - Contact/Access section - Read Mode --}}
	<table id="access_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>Contact/Access</em></caption>
		<tr>
			<td width="25%">WWBCIT Owner:</td><td><div id="Owner">{{Owner}}</div>
			<script>$(document).ready(function() {updateOwner();});</script>
			</td>
		</tr>
		<tr>
			<td>WWBCIT Focals:</td><td>{{Focals}}</td>
		</tr>
		<tr>
			<td>WWBCIT Coordinators:</td><td>{{Coordinators}}</td>
		</tr>
		<tr>
			<td>WWBCIT Readers:</td><td>{{Readers}}</td>
		</tr>
		<tr>
			<td>Additional MIRA Editors:</td><td>{{AdditionalEditors}}</td>
		</tr>
		<tr>
			<td>Additional MIRA Readers:</td><td>{{AdditionalReaders}}</td>
		</tr>
	</table>
{{/if}}