<script src="./js/submenu.js"/></script>
<div id="ibm-navigation">
	<ul id="ibm-primary-links">
		<li id="ibm-overview">
			<a id="ibm-overview-1">{{submenu.menutitle}}</a>
		</li>
		{{#each	submenu.menu}}
			<li id="{{this.id}}">
				<a id="{{this.id}}-a" href="{{this.link}}">{{this.title}}</a>
				<ul id="{{this.id}}-options" style="display:none">
				{{#each	this.entries}}
					<li><a href="{{this.link}}" id="{{this.id}}">{{this.name}}</a></li>
				{{/each}}
				</ul>
			</li>		
		{{/each}}
	</ul>
	<!-- SECONDARY NAVIGATION SECTION -->
	<div id="ibm-secondary-navigation">
		<h2>Related links</h2>
		<ul id="ibm-related-links">
			<li><a href="https://w3-connections.ibm.com/communities/service/html/communityview?communityUuid=f8bdaa5d-8166-4929-94a4-993b90a69d1c" target="_blank">Services MSAC Community</a> </li>
		</ul>
	</div>
</div>
