<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/jquery-ui.css">

<input type="hidden" id="docTitle" value="Key Controls Test">
<input type="hidden" id="docSubTitle" value="{{account}}">

<script>
	//Load document's name
	$('h1#pageTitle').text($('input#docTitle').val());
  $('h3#pageSubTitle').text($('input#docSubTitle').val());
	$('input#docTitle').remove();
  $('input#docSubTitle').remove();

</script>
<div class="ibm-container" style="width:80%">
  <p style="text-align:right">
		{{#unless newunit}}
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}<br>
		{{/unless}}
	</p>

{{#if editmode}}
<input type="hidden" id="UnsatThreshold" value="{{Unsat}}">
<input type="hidden" id="MargThreshold" value="{{Marg}}">
<form id="asmtcomponentform" class="ibm-column-form" name="form" method="POST" action="/saveaccountcontrols">
  <input type="hidden" name="docid" id="docid" value="{{_id}}">
  <input type="hidden" name="editmode" value="{{editmode}}">
	<input type="hidden" name="parentid" id="parentid" value="{{parentid}}">
  <input type="hidden" name="docType" id="docType" value="accountControls">
	<input type="hidden" name="quarter" id="quarter" value="{{reportingQuarter}}">
	<input type="hidden" name="RAGStatus" id="RAGStatus" value="{{RAGStatus}}">

<table id="sample-table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <caption class="mira-caption"><em>Details</em></caption>
<tr>
  <td width="25%">Reporting quarter:</td><td><b class="ibm-important">{{reportingQuarter}}</b></td>
</tr>
<tr>
  <td>Process:</td>
	<td>
		{{{uniqueSelect "process" RelevantGPs "name" "name" process}}}
	</td>
</tr>
<tr>
  <td>Event date:</td><td>
    <input type="text" id="eventDate" name="eventDate" value="{{eventDate}}">&nbsp;<span for="startDate" class="ibm-calendar-link"></span>
  </td>
</tr>
</table>

<table id="details_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <thead bgcolor="#FF0000" style="color:#FFFFFF;">
    <tr>
      <th ># Tests Completed</th>
      <th ># Process Defects</th>
      <th ># Control Deficiencies</th>
      <th >RAG Status</th>
      <th >Remediation Status</th>
      <th >Target to Close</th>
      <th >Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="number" name="numTestsCompleted" id="numTestsCompleted" value="{{numTestsCompleted}}"></td>
      <td><input type="number" name="numProcessDefects" id="numProcessDefects" value="{{numProcessDefects}}"></td>
      <td><input type="number" name="numControlDeficiencies" value="{{numControlDeficiencies}}"></td>
			<td id="ragstatustd"></td>
      <td>{{{uniqueSelect "remediationStatus" remedStats "name" "name" remediationStatus}}}</td>
      <td><div id="targetToClosediv"><input type="text" name="targetToClose" id="targetToClose" value="{{targetToClose}}"></div></td>
      <td><input type="text" name="comments" value="{{comments}}"></td>
    </tr>
    </tbody>
</table>
</form>
{{else}}
<table id="sample-table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <caption class="mira-caption"><em>Details</em></caption>
<tr>
  <td width="25%">Reporting quarter:</td><td><b class="ibm-important">{{reportingQuarter}}</b></td>
</tr>
<tr>
  <td>Process:</td><td>{{process}}</td>
</tr>
<tr>
  <td>Event date:</td><td>{{eventDate}}</td>
</tr>
</table>

<table id="details_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <thead bgcolor="#FF0000" style="color:#FFFFFF;">
    <tr>
      <th ># Tests Completed</th>
      <th ># Process Defects</th>
      <th ># Control Deficiencies</th>
      <th >RAG Status</th>
      <th >Remediation Status</th>
      <th >Target to Close</th>
      <th >Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >{{numTestsCompleted}}</td>
      <td >{{numProcessDefects}}</td>
      <td>{{numControlDeficiencies}}</td>
			{{{ratingDisplayView RAGStatus}}}
      <td >{{remediationStatus}}</td>
      <td>{{targetToClose}}</td>
      <td>{{comments}}</td>
    </tr>
    </tbody>
</table>
{{/if}}
<!-- BUTTONS AREA -->
{{>buttons}}
</div>
<script>
$(document).ready(function(){
	if( isNaN($("#numProcessDefects").val()) || $("#numProcessDefects").val() < 1 || $("#numProcessDefects").val()=="") {
		$("#targetToClosediv").hide();
	}else{
		$("#targetToClosediv").show();
	}
	if($("#RAGStatus").val()=="" || $("#RAGStatus").val()==undefined) {
		$("#ragstatustd").html("&nbsp;");
	} else if ($("#RAGStatus").val()=="Unsat") {
		$("#ragstatustd").attr('width','5%');
		$("#ragstatustd").attr('class','asmt-viewdata-red');
		$("#ragstatustd").attr('style','background-color: red; color: #ffffff; text-align: center; !important;');
		$("#ragstatustd").html('Unsat');
	} else if ($("#RAGStatus").val()=="Sat") {
		$("#ragstatustd").attr('width','5%');
		$("#ragstatustd").attr('class','asmt-viewdata-green');
		$("#ragstatustd").attr('style','background-color: #00FF00; text-align: center; !important;');
		$("#ragstatustd").html('Sat');
	} else if ($("#RAGStatus").val()=="Marg") {
		$("#ragstatustd").attr('width','5%');
		$("#ragstatustd").attr('class','asmt-viewdata-yellow');
		$("#ragstatustd").attr('style','background-color: yellow; text-align: center; !important;');
		$("#ragstatustd").html('Marg');
	} else {
		$("#ragstatustd").html("&nbsp;");
	}

  $('#eventDate').datepicker( {
          changeMonth: true,
          changeYear: true,
          dateFormat: 'MM yy',
          onClose: function(dateText, inst) {
              $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
          }
      });

      $('#targetToClose').datepicker({
      changeMonth: true
    });
    $( "#targetToClose" ).on( "change", function() {
      $( "#targetToClose" ).datepicker( "option", "dateFormat", "M dd, yy" );
    });

    $("#numTestsCompleted").change(function () {

      var tests = $(this).val();
      var defects = $("#numProcessDefects").val();
      var unsatT = $("#UnsatThreshold").val();;
      var margT = $("#MargThreshold").val();
			if (tests == "" || tests < 1 || defects < 0 || defects == "" ) {
				$("#RAGStatus").val("");
				$("#ragstatustd").html("&nbsp;");
			} else {
				var tmp = (defects / tests) * 100;
				if(tmp >= unsatT){
	        $("#RAGStatus").val("Unsat");
					$("#ragstatustd").attr('width','5%');
					$("#ragstatustd").attr('class','asmt-viewdata-red');
					$("#ragstatustd").attr('style','background-color: red; color: #ffffff; text-align: center; !important;');
					$("#ragstatustd").html('Unsat');
	      }else if(tmp < margT){
	        $("#RAGStatus").val("Sat");
					$("#ragstatustd").attr('width','5%');
					$("#ragstatustd").attr('class','asmt-viewdata-green');
					$("#ragstatustd").attr('style','background-color: #00FF00; text-align: center; !important;');
					$("#ragstatustd").html('Sat');
	      }else{
	        $("#RAGStatus").val("Marg");
					$("#ragstatustd").attr('width','5%');
					$("#ragstatustd").attr('class','asmt-viewdata-yellow');
					$("#ragstatustd").attr('style','background-color: yellow; text-align: center; !important;');
					$("#ragstatustd").html('Marg');
	      }
			}
    });

    $("#numProcessDefects").change(function () {

      var defects = $(this).val();
      var tests = $("#numTestsCompleted").val();
      var unsatT = $("#UnsatThreshold").val();;
      var margT = $("#MargThreshold").val();
			if (tests == "" || tests < 1 || defects < 0 || defects == "" ) {
				$("#RAGStatus").val("");
				$("#ragstatustd").html("&nbsp;");
			} else {
				var tmp = (defects / tests) * 100;
				if(tmp >= unsatT){
	        $("#RAGStatus").val("Unsat");
					$("#ragstatustd").attr('width','5%');
					$("#ragstatustd").attr('class','asmt-viewdata-red');
					$("#ragstatustd").attr('style','background-color: red; color: #ffffff; text-align: center; !important;');
					$("#ragstatustd").html('Unsat');
	      }else if(tmp < margT){
	        $("#RAGStatus").val("Sat");
					$("#ragstatustd").attr('width','5%');
					$("#ragstatustd").attr('class','asmt-viewdata-green');
					$("#ragstatustd").attr('style','background-color: #00FF00; text-align: center; !important;');
					$("#ragstatustd").html('Sat');
	      }else{
	        $("#RAGStatus").val("Marg");
					$("#ragstatustd").attr('width','5%');
					$("#ragstatustd").attr('class','asmt-viewdata-yellow');
					$("#ragstatustd").attr('style','background-color: yellow; text-align: center; !important;');
					$("#ragstatustd").html('Marg');
	      }
			}
			if( isNaN(defects) || defects < 1 || defects=="") {
				$("#targetToClosediv").hide();
			}else{
				$("#targetToClosediv").show();
			}
    });

$('#btn_edit').click(function() {
  window.location.href = window.location.href+"&edit";
});
$('#btn_save_close').click(function() {
  $('#close').val("back");
  $("#asmtcomponentform").submit();
});
$('#btn_save').click(function(evt) {
  $("#asmtcomponentform").submit();
});
$('#btn_cancel').click(function() {
  window.location.href = "/assessment?id="+$('#parentid').val();
});
});
</script>
