<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/jquery-ui.css">
<script src="./js/attachments.js"></script>
<script src="./js/asmtComponentsAudits.js"></script>

<!-- JS and CSS for rich text edit -->
<link rel="stylesheet" type="text/css" href="./css/skin.css">
<!-- Utility Dependencies -->
<script src="./lib/yahoo-dom-event.js"></script>
<script src="./lib/element-min.js"></script>
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="./lib/container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="./lib/simpleeditor-min.js"></script>
<script src="./lib/yui-min.js"></script>
<!-- end rich text -->

<input type="hidden" id="docTitle" value="{{reportingQuarter}}">

<script>
//Load document's name
$('h1#pageTitle').html('<b class="ibm-important">'+$('input#docTitle').val()+"</b> Audit / Review");
</script>
<div class="ibm-container" style="width:80%">
  <p style="text-align:right">
    {{#unless newunit}}
    <span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}<br>
    {{/unless}}
  </p>
  <form id="asmtcomponentform" class="ibm-column-form" name="form" method="POST" action="/saveinternalaudit">
    <input type="hidden" name="_id" value="{{_id}}">
    <input type="hidden" name="docid" id="docid" value="{{_id}}">
    <input type="hidden" name="editmode" value="{{editmode}}">
    <input type="hidden" name="close" id="close" value="0">
    <input type="hidden" name="parentid" id="parentid" value="{{parentid}}">
    <input type="hidden" name="docType" id="docType" value="internalaudit">
    <table id="sample_information" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
      <caption class="mira-caption"><em>Basics</em></caption>
      <tr>
        <td width="25%">{{parentdocsubtype}}:</td><td><b>{{parentname}}</b></td>
      </tr>
      <tr>
        <td width="25%">ID:</td><td><b>{{engagement}}</b></td>
      </tr>
      <tr>
        <td>Audit or Review:</td><td>CHQ Internal Audit</td>
      </tr>
      <tr>
        <td>Status:</td><td>{{status}}</td>
      </tr>
      <tr>
        <td>Relevant Country Process(es):</td><td>{{relevantCountryProcess}}</td>
      </tr>
      <tr>
        <td>Organization:</td><td>{{organization}}</td>
      </tr>
      <tr>
        <td>Location:</td><td>{{location}}</td>
      </tr>
      <tr>
        <td>Location description:</td><td>{{locationDescription}}</td>
      </tr>
      <tr>
        <td>IOT & IMT:</td><td>{{IOTIMT}}</td>
      </tr>
      <tr>
        <td>Planned start date:</td><td>{{plannedStartDate}}</td>
      </tr>
      <tr>
        <td>Added to AQ DB:</td><td>{{addedToAQDB}}</td>
      </tr>
      <tr>
        <td>Rating:</td><td >{{{ratingDisplay rating}}}</td>
      </tr>
      <tr>
        <td>Distribution (to):</td><td>{{distributionTo}}</td>
      </tr>
      <tr>
        <td>Distribution (cc):</td><td>{{distributionCC}}</td>
      </tr>
      <tr>
        <td>Reply required:</td><td>{{replyRequired}}</td>
      </tr>
      <tr>
        <td># Recommendations:</td><td>Total:{{numRecommendationsTotal}}<br/>Open:{{numRecommendationsOpen}}</td>
      </tr>

      {{#if editmode}}
      <tr>
        <td>Comments:</td><td>
          <textarea name="comments" cols="100">{{comments}}</textarea>
        </td>
      </tr>
      <tr>
        <td>Size<span class="ibm-required">*</span>:</td><td>
          {{{uniqueSelect "size" sizes "name" "name" size}}}
        </td>
      </tr>
      {{else}}
      <tr>
        <td>Comments:</td><td>{{comments}}</td>
      </tr>
      <tr>
        <td>Size:</td><td>
          {{size}}
        </td>
      </tr>
      {{/if}}


      <!-- NOTES & LINKS SECTION -->
      {{>comments}}
    </table>

    <!-- BUTTONS AREA -->
		{{>buttons}}
  </form>
</div>
