<link href='./css/fullcalendar.min.css' rel='stylesheet' />
<link href="./css/jquery-ui.css" rel="stylesheet">
<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />

<script src='./lib/moment.min.js'></script>
<script src='./lib/fullcalendar.min.js'></script>
<script src='/js/asmtComponentsAudits.js'></script>
<script src="./js/common_routines.js"></script>
<script src="./js/attachments.js"></script>
<!-- JS and CSS for rich text edit -->
<link rel="stylesheet" type="text/css" href="./css/skin.css">
<!-- Utility Dependencies -->
<script src="./lib/yahoo-dom-event.js"></script>
<script src="./lib/element-min.js"></script>
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="./lib/container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="./lib/simpleeditor-min.js"></script>
<script src="./lib/yui-min.js"></script>
<!-- end rich text -->

<input type="hidden" id="docTitle" value="{{reportingQuarter}}">
<input type="hidden" id="ratingList" value="{{valuesToString ratingList}}">

<script>
//Load document's name
$('h1#pageTitle').html('<b class="ibm-important">'+$('input#docTitle').val()+"</b> Audit / Review");
</script>
<div class="ibm-container" style="width:80%">
	<p style="text-align:right">
		{{#unless new}}
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}<br>
		{{/unless}}
	</p>
	<form id="asmtcomponentform" class="ibm-column-form" name="form" onsubmit="return CheckAuditReviewLocalFields()" method="POST" action="/savelocalaudit">
		<input type="hidden" name="_id" value="{{_id}}">
		<input type="hidden" name="docid" id="docid" value="{{_id}}">
		<input type="hidden" name="editmode" value="{{editmode}}">
		<input type="hidden" name="parentid" id="parentid" value="{{parentid}}">
		<input type="hidden" name="docType" id="docType" value="localaudit">
		<input type="hidden" name="quarter" id="quarter" value="{{reportingQuarter}}">
		<input type="hidden" id="AssessableUnitName" name="AssessableUnitName" value="{{AssessableUnitName}}">
		<table id="sample_information" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
			<caption class="mira-caption"><em>Basics</em></caption>
			<tr>
				<td width="20%">{{parentType}}:</td><td width="80%"><b>{{AssessableUnitName}}</b></td>
			</tr>
			{{#if editmode}}
			<tr>
				<td>Audit or Review<span class="ibm-required">*</span>:</td><td>{{{uniqueSelect "auditOrReview" auditList "name" "name" auditOrReview "required"}}}</td>
			</tr>
			<tr id="auditIDTD2">
				<div ><td >ID:</td><td ><input type="text" name="auditID" value="{{auditID}}" ></td></div>
			</tr>
			<tr>
				<td><span  id="reportDateSpan"></span><span class="ibm-required">*</span>:</td>
				<td>
					<input type="date" id="reportDate" name="reportDate" value="{{reportDate}}" class="ibm-calendar-link" required>
				</td>
			</tr>
			<tr>
				<td>Process(es):</td>
				<td>
					{{#if_equal parentType "Controllable Unit"}}
						{{#each process}}{{#unless @last}}{{this}}<br />{{else}}{{this}}{{/unless}}{{/each}}
					{{else}}
						{{process}}
					{{/if_equal}}
				</td>
			</tr>
			<tr>
				<td>Status/Rating<span class="ibm-required">*</span>:</td><td><select id="rating" name="rating"><option value='{{rating}}' selected>{{rating}}</option></select></td>
			</tr>
			<tr>
				<td># Recommendations<span class="ibm-required">*</span>:</td><td>
				<span style="display: inline-block; width: 75px;">Total:</span><input type="text" name="numRecommendationsTotal" id="numRecommendationsTotal" value="{{numRecommendationsTotal}}" required><br/><br />
				<span style="display: inline-block; width: 75px;">Open:</span><input type="text" name="numRecommendationsOpen" id="numRecommendationsOpen" value="{{numRecommendationsOpen}}" required></td>
			</tr>
			<tr>
				<td>Target to close:</td><td>
					{{#if new}}
						<span style="display: inline-block; width: 75px;">Original:</span><input type="date" id="reportDate2" name="targetCloseOriginal" value="{{targetCloseOriginal}}" class="ibm-calendar-link">
					{{else}}
						<span style="display: inline-block; width: 75px;">Original:</span>{{{openRiskDisplay numRecommendationsOpen targetCloseOriginal}}}
						<input type="hidden" id="reportDateTCO" name="targetCloseOriginal" value="{{targetCloseOriginal}}">
					{{/if}}
					<br /><br />
					<span style="display: inline-block; width: 75px;">Current:</span><input type="date" id="reportDate3" name="targetCloseCurrent" value="{{targetCloseCurrent}}"class="ibm-calendar-link">
				</td>
			</tr>
			<tr>
				<td>Comments:</td><td><textarea name="comments" cols="100">{{comments}}</textarea></td>
			</tr>
			{{else}}
			<tr>
				<td>Audit or Review:</td><td>{{auditOrReview}}</td>
			</tr>
			<tr>
				<td>Report date:</td><td>{{reportDate}}</td>
			</tr>
			<tr>
				<td>Process(es):</td>
				<td>
					{{#if_equal parentType "Controllable Unit"}}
						{{#each process}}{{#unless @last}}{{this}}<br />{{else}}{{this}}{{/unless}}{{/each}}
					{{else}}
						{{process}}
					{{/if_equal}}
				</td>
			</tr>
			<tr>
				<td>Status/Rating:</td><td>{{{statusRatingLclAdt rating}}}</td>
			</tr>
			<tr>
				<td># Recommendations:</td>
				<td>
					<span style="display: inline-block; width: 75px;">Total:</span>{{numRecommendationsTotal}}<br/><br />
					<span style="display: inline-block; width: 75px;">Open:</span>{{numRecommendationsOpen}}
					<input type="hidden" name="numRecommendationsOpen" id="numRecommendationsOpen" value="{{numRecommendationsOpen}}">
				</td>
			</tr>
			<tr>
				<td>Target to close:</td>
				<td>
					<span style="display: inline-block; width: 75px;">Original:</span>
					{{{openRiskDisplay numRecommendationsOpen targetCloseOriginal}}}<br/><br />
					<span id="targetCloseCurrentSpan"><span style="display: inline-block; width: 75px;">Current:</span>
					{{{openRiskDisplay numRecommendationsOpen targetCloseCurrent}}}</span>
				</td>
			</tr>
			<tr>
				<td>Comments:</td><td>{{comments}}</td>
			</tr>
			{{/if}}
		</table>
		<!-- NOTES & LINKS SECTION -->
		{{>comments}}
		<!-- BUTTONS AREA -->
		{{>buttons}}
	</form>
</div>
<script>
$(document).ready(function(){
	$('#reportDate').datepicker({
		changeMonth: true
	});
	$( "#reportDate" ).on( "change", function() {
		$( "#reportDate" ).datepicker( "option", "dateFormat", "M dd, yy" );
	});
	$('#reportDate2').datepicker({
		changeMonth: true
	});
	$( "#reportDate2" ).on( "change", function() {
		$( "#reportDate2" ).datepicker( "option", "dateFormat", "M dd, yy" );
		//Validate currentdate > original date
		if($("#reportDate3").val() != ""){
			if($("#reportDate2").val() > $("#reportDate3").val()){
				alert("Original date could not be later than Current date.");
				$("#reportDate2").val("");
			}
		}
	});
	$('#reportDate3').datepicker({
		changeMonth: true,
		minDate: 0
	});
	$( "#reportDate3" ).on( "change", function() {
		$( "#reportDate3" ).datepicker( "option", "dateFormat", "M dd, yy" );
		//Validate currentdate > original date
		if($("#reportDate2").length > 0){
			if($("#reportDate2").val() != ""){
				if($("#reportDate2").val() > $("#reportDate3").val()){
					alert("Current date could not be prior than Original date.");
					$("#reportDate3").val("");
				}
			}
			else{
				alert("Original Target to close date is missing.");
			}
		}
		else{
			if($("#reportDateTCO").val() != ""){
				if($("#reportDateTCO").val() > $("#reportDate3").val()){
					alert("Current Target to close date could not be prior than Original date.");
					$("#reportDate3").val("");
				}
			}
			else{
				alert("Original Target to close date is missing.");
			}
		}
	});

		
	
	if ($("#editmode").val() == undefined) {
		if ($("#numRecommendationsOpen").val() !== undefined && $("#numRecommendationsOpen").val() !== "" && $("#numRecommendationsOpen").val() < 1) {
			$("#targetCloseCurrentSpan").hide();
		} else {
			$("#targetCloseCurrentSpan").show();
		}
	}
	
	var val = $("#auditOrReview").val();
	var tmpList = JSON.parse($("#ratingList").val());
	$("#rating").html($("#rating").html()+tmpList[val]);
	if(val == "CHQ Internal Audit"){
		$("#auditIDTD2").show();
		$("#reportDateSpan").text("Added to AQ DB");
	}else{
		$("#auditIDTD2").hide();
		$("#reportDateSpan").text("Report date");
	}

	$("#auditOrReview").change(function () {
		var val = $(this).val();
		var tmpList = JSON.parse($("#ratingList").val());
		$("#rating").html(tmpList[val]);
		if(val == "CHQ Internal Audit"){
			$("#auditIDTD2").show();;
			$("#reportDateSpan").text("Added to AQ DB");
		}else{
			$("#auditIDTD2").hide();
			$("#reportDateSpan").text("Report date");
		}
	});
	
});

</script>
