<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/jquery-ui.css">
<link rel="stylesheet" href="./css/jquery-ui.min.css">


<input type="hidden" id="docTitle" value="Key Controls Test">
<input type="hidden" id="docSubTitle" value="{{account}}">
<input type="hidden" name="parentid" id="parentid" value="{{parentid}}">

<script>
	//Load document's name
	$('h1#pageTitle').text($('input#docTitle').val());
  $('h3#pageSubTitle').text($('input#docSubTitle').val());
	$('input#docTitle').remove();
  $('input#docSubTitle').remove();

</script>
<div class="ibm-container" style="width:80%">
  <p style="text-align:right">
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}<br>
	</p>

{{#if editmode}}
<input type="hidden" id="UnsatThreshold" value="{{Unsat}}">
<input type="hidden" id="MargThreshold" value="{{Marg}}">
<form id="asmtcomponentform" class="ibm-column-form" name="form" method="POST" action="/saveaccountcontrols">
  <input type="hidden" name="docid" id="docid" value="{{_id}}">
  <input type="hidden" name="editmode" value="{{editmode}}">
  <input type="hidden" name="parentid" id="parentid" value="{{parentid}}">
  <input type="hidden" name="docType" id="docType" value="accountControls">
<table id="sample-table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <caption class="mira-caption"><em>Details</em></caption>
<tr>
  <td width="25%">Reporting quarter:</td><td><b class="ibm-important"><input type="text" name="reportingQuarter" value="{{reportingQuarter}}" {{#unless new}}readonly{{/unless}}></b></td>
</tr>
<tr>
  <td>Process:</td><td><input type="text" name="process" value="{{process}}"></td>
</tr>
<tr>
  <td>Event date:</td><td>
    <input type="text" id="eventDate" name="eventDate" value="{{eventDate}}">&nbsp;<span for="startDate" class="ibm-calendar-link"></span>
  </td>
</tr>
</table>

<table id="details_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <thead bgcolor="#FF0000" style="color:#FFFFFF;">
    <tr>
      <th ># Tests Completed</th>
      <th ># Process Defects</th>
      <th ># Control Deficiencies</th>
      <th >RAG Status</th>
      <th >Remediation Status</th>
      <th >Target to Close</th>
      <th >Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ><input type="number" name="numTestsCompleted" id="numTestsCompleted" value="{{numTestsCompleted}}"></td>
      <td ><input type="number" name="numProcessDefects" id="numProcessDefects" value="{{numProcessDefects}}"></td>
      <td><input type="number" name="numControlDeficiencies" value="{{numControlDeficiencies}}"></td>
      <td ><input type="text" name="RAGStatus" id="RAGStatus" value="{{RAGStatus}}" readonly></td>
      <td ><input type="text" name="remediationStatus" value="{{remediationStatus}}"></td>
      <td><input type="text" name="targetToClose" id="targetToClose" value="{{targetToClose}}"></td>
      <td><input type="text" name="comments" value="{{comments}}"></td>
    </tr>
    </tbody>
</table>
</form>
{{else}}
<table id="sample-table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <caption class="mira-caption"><em>Details</em></caption>
<tr>
  <td width="25%">Reporting quarter:</td><td><b class="ibm-important">{{reportingQuarter}}</b></td>
</tr>
<tr>
  <td>Process:</td><td>{{process}}</td>
</tr>
<tr>
  <td>Event date:</td><td>{{eventDate}}</td>
</tr>
</table>

<table id="details_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <thead bgcolor="#FF0000" style="color:#FFFFFF;">
    <tr>
      <th ># Tests Completed</th>
      <th ># Process Defects</th>
      <th ># Control Deficiencies</th>
      <th >RAG Status</th>
      <th >Remediation Status</th>
      <th >Target to Close</th>
      <th >Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >{{numTestsCompleted}}</td>
      <td >{{numProcessDefects}}</td>
      <td>{{numControlDeficiencies}}</td>
      <td >{{{ratingDisplay RAGStatus}}}</td>
      <td >{{remediationStatus}}</td>
      <td>{{targetToClose}}</td>
      <td>{{comments}}</td>
    </tr>
    </tbody>
</table>
{{/if}}
<!-- BUTTONS AREA -->
{{>buttons}}
</div>
<script>
$(document).ready(function(){
  $('#eventDate').datepicker( {
          changeMonth: true,
          changeYear: true,
          dateFormat: 'MM yy',
          onClose: function(dateText, inst) {
              $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
          }
      });

      $('#targetToClose').datepicker({
      changeMonth: true
    });
    $( "#targetToClose" ).on( "change", function() {
      $( "#targetToClose" ).datepicker( "option", "dateFormat", "M dd, yy" );
    });

    $("#numTestsCompleted").change(function () {

      var tests = $(this).val();
      var defects = $("#numProcessDefects").val();
      var unsatT = $("#UnsatThreshold").val();;
      var margT = $("#MargThreshold").val();
      var tmp = tests / defects;
      alert(margT);
      if(tmp >= unsatT){
        $("#RAGStatus").val("Unsat");
      }else if(tmp < margT){
        $("#RAGStatus").val("Sat");
      }else{
        $("#RAGStatus").val("Marg");
      }
    });

    $("#numProcessDefects").change(function () {

      var defects = $(this).val();
      var tests = $("#numTestsCompleted").val();
      var unsatT = $("#UnsatThreshold").val();;
      var margT = $("#MargThreshold").val();
      var tmp = tests / defects;
      alert(unsatT);
      if(tmp >= unsatT){
        $("#RAGStatus").val("Unsat");
      }else if(tmp < margT){
        $("#RAGStatus").val("Sat");
      }else{
        $("#RAGStatus").val("Marg");
      }
    });

$('#btn_edit').click(function() {
  window.location.href = window.location.href+"&edit";
});
$('#btn_save_close').click(function() {
  $('#close').val("back");
  $("#accountauditform").submit();
});
$('#btn_save').click(function(evt) {
  $("#asmtcomponentform").submit();
});
$('#btn_cancel').click(function() {
  window.location.href = "/assessment?id="+$('#parentid').val();
});
});
</script>
