<script src="/js/asmtbasic_section.js" type="text/javascript"></script>
<link href="/public/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
<script src="/js/asmt_tabsCP.js" type="text/javascript"></script>
<script src="/js/asmt_componentsbla.js" type="text/javascript"></script>
<script src="/js/assessment.js" type="text/javascript"></script>
<script src="/js/merge.js" type="text/javascript"></script>
<script src="./js/attachments.js"/></script>
<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./css/jquery-ui.css">

<input type="hidden" id="docTitle" value="{{CurrentPeriod}} Holistic Base Level Assessment">


<!-- JS and CSS for rich text edit -->
<link rel="stylesheet" type="text/css" href="./css/skin.css">
<!-- Utility Dependencies -->
<script src="./lib/yahoo-dom-event.js"></script>
<script src="./lib/element-min.js"></script>
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="./lib/container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="./lib/simpleeditor-min.js"></script>
<script src="./lib/yui-min.js"></script>
<!-- end rich text -->

<div class="ibm-container" style="width:95%">
	<p style="text-align:right">
		{{#unless newunit}}
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}
		{{/unless}}
	</p>
	<form id="assessment" class="ibm-column-form" name="form" method="POST" action="/saveasmt">
		<input type="hidden" name="docid" id="docid" value="{{_id}}">
		<input type="hidden" name="editmode" value="{{editmode}}">
		<input type="hidden" name="parentdocsubtype" id="parentdocsubtype" value="{{ParentDocSubType}}">
		<input type="hidden" name="hybrid" value="{{hybrid}}">
		<input type="hidden" name="CatCU" value="{{CatCU}}">
		<input type="hidden" name="portfolio" value="{{Portfolio}}">
		<input type="hidden" name="enteredbu" id="docid" value="{{EnteredBU}}">
		<input type="hidden" name="close" id="close" value="0">
		<input type="hidden" name="opmetrickey" id="opmetrickey" value="{{OpMetricKey}}">
		<input type="hidden" name="fieldslist" id="fieldslist" value="">
		
		<!-- Error section -->
		{{>errormessage}}
		<!-- Basic Details -->
		{{>asmtcontrollableunit/basics}}
		<!-- Exception Details -->
		{{>asmtexception}}
		<!-- Contact -->
		{{>asmtcontact}}<br /><br />

		{{#if_equal EnteredBU "GTS Transformation"}}
			<!-- Assessment components guide -->
			{{>asmtbaselevel/compguidegtstrans}}<br /><br />
			<!-- Assessment components tabs -->
			{{>asmtcontrollableunit/blacomponentgtstrans}}<br /><br />
		{{else}}
			<!-- Assessment components guide -->
			{{#if_equal hybrid "Yes"}}
				{{>asmtbaselevel/compguidehybrid}}<br /><br />
			{{else}}
				{{>asmtbaselevel/compguide}}<br /><br />
			{{/if_equal}}
			<!-- Assessment components tabs -->
			{{#if_equal Portfolio "Yes"}}
				{{#if_equal hybrid "Yes"}}
					{{>asmtcontrollableunit/blacomponenthybridportfolio}}<br /><br />
				{{else}}
					{{>asmtcontrollableunit/blacomponentportfolio}}<br /><br />
				{{/if_equal}}
			{{else}}
				{{#if_equal hybrid "Yes"}}
					{{>asmtcontrollableunit/blacomponenthybrid}}<br /><br />
				{{else}}
					{{>asmtcontrollableunit/blacomponent}}<br /><br />
				{{/if_equal}}
			{{/if_equal}}
		{{/if_equal}}
		<!-- NOTES & LINKS SECTION -->
		{{>comments}}
		<!-- BUTTONS AREA -->
		{{>buttons}}
	</form>
</div>
<script>
	//Load document's name
	$('h1#pageTitle').text($('input#docTitle').val());
	//Load document's business unit
	$('h3#pageSubTitle').hide();
	$("#audit_readiness_treeview").treetable({expandable: true });
	$("#open_risks_treeview").treetable({expandable: true });
</script>
{{#if editmode}}
<script>
	//Log editable fields
	collect();
</script>	
{{/if}}
