<script src="/js/asmtbasic_section.js" type="text/javascript"></script>
<script src="/js/assessment.js" type="text/javascript"></script>
<!-- <script src="/js/constituent_section.js" type="text/javascript"></script>
<script src="/js/admin_section.js" type="text/javascript"></script>  -->
<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<script src="./js/attachments.js"/></script>
<!-- <script src="./js/owner.js"/></script>
<script src="./js/bluepages.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/multiselect.js" type="text/javascript"></script> -->
<!-- <link rel="stylesheet" href="./css/multiselect.css" />
<link rel="stylesheet" href="./css/style.css"> -->
<link rel="stylesheet" href="./css/jquery-ui.css">
<link rel="stylesheet" href="./css/jquery-ui.min.css">

<input type="hidden" id="docTitle" value="{{CurrentPeriod}} Holistic Base Level Assessment">
<script>
	//Load document's name
	$('h1#pageTitle').text($('input#docTitle').val());
	//Load document's business unit
	$('h3#pageSubTitle').hide();
</script>

<!-- JS and CSS for rich text edit -->
<link rel="stylesheet" type="text/css" href="./css/skin.css">
<!-- Utility Dependencies -->
<script src="./lib/yahoo-dom-event.js"></script>
<script src="./lib/element-min.js"></script>
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="./lib/container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="./lib/simpleeditor-min.js"></script>
<script src="./lib/yui-min.js"></script>
<!-- end rich text -->

<div class="ibm-container" style="width:80%">
	<p style="text-align:right">
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}
	</p>
	<form id="assessableunit" class="ibm-column-form" name="form" method="POST" action="/savebuau">
		<input type="hidden" name="docid" id="docid" value="{{_id}}">
		<input type="hidden" name="editmode" value="{{editmode}}">
		<input type="hidden" name="parentdocsubtype" value="{{ParentDocSubType}}">
		<input type="hidden" name="close" id="close" value="0">
		<!-- Basic Details -->
		{{>asmtcountryprocess/basics}}
		<!-- Exception Details -->
		{{>asmtexception}}
		<!-- Contact -->
		{{>asmtexception}}
		<!-- NOTES & LINKS SECTION -->
		<br />
		<br />
		{{>comments}}
		<!-- BUTTONS AREA -->
		{{>buttons}}
	</form>
</div>
