<script src="/js/assessableunit.js" type="text/javascript"></script>
<script src="/js/constituent_section.js" type="text/javascript"></script>
<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<!-- JS for attachments widget -->
<script src="./js/attachments.js"/></script>
<!-- JS and CSS for owner, editors and readers / bluepages widget -->
<script src="./js/owner.js"/></script>
<script src="./js/bluepages.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/jquery-ui.css">
<link rel="stylesheet" href="./css/jquery-ui.min.css">

<input type="hidden" id="docTitle" value="{{DocType}} ({{DocSubType}})">
<input type="hidden" id="docSubTitle" value="{{Name}}">
<script>
	//Load document's name
	$('h1#pageTitle').text($('input#docTitle').val());
	//Load document's business unit
	$('h3#pageSubTitle').text($('input#docSubTitle').val());
</script>

<!-- JS and CSS for rich text edit -->
<link rel="stylesheet" type="text/css" href="./css/skin.css">
<!-- Utility Dependencies -->
<script src="./lib/yahoo-dom-event.js"></script>
<script src="./lib/element-min.js"></script>
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="./lib/container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="./lib/simpleeditor-min.js"></script>
<script src="./lib/yui-min.js"></script>
<!-- end rich text -->

<div class="ibm-container" style="width:80%">
	<p style="text-align:right">
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}
	</p>
	<form id="assessableunit" class="ibm-column-form ibm-styled-form" name="form" method="POST" action="/savebuau">
		<input type="hidden" name="docid" value="{{_id}}">
		<input type="hidden" name="editmode" value="{{editmode}}">
		<input type="hidden" name="close" id="close" value="0">
		<!-- BASICS SECTION -->
		{{>aubusinessunit/basics}}
		<!-- ADMIN TABLE -->
		{{>aubusinessunit/administrative}}
		<!-- ACCESS SECTION -->
		{{>aubusinessunit/contact}}
		<!-- ASSESSMENT SECTION -->
		{{>aubusinessunit/assessment}}
		<!-- CONSTITUENT SECTION -->
		{{>aubusinessunit/constituent}}
		<!-- NOTES & LINKS SECTION -->
		{{>comments}}
		<!-- BUTTONS AREA -->
		{{>aubusinessunit/buttons}}
	</form>
</div>
