<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/jquery-ui.css">
<link rel="stylesheet" href="./css/jquery-ui.min.css">


<input type="hidden" id="docTitle" value="Controllable Unit Process Testing Summary">


<script>
	//Load document's name
	$('h1#pageTitle').text($('input#docTitle').val());
	$('input#docTitle').remove();

</script>
<div class="ibm-container" style="width:80%">
  <p style="text-align:right">
		<span style="color: #5C87C4">Created by</span> {{Log.0.name}} <span style="color: #5C87C4">on</span> {{Log.0.date}} <span style="color: #5C87C4">at</span> {{Log.0.time}}<br>
	</p>
  <p style="text-align:right">
		<span style="color: #5C87C4">Last modified by</span> {{modified.name}} <span style="color: #5C87C4">on</span> {{modified.date}} <span style="color: #5C87C4">at</span> {{modified.time}}<br>
	</p>


<table id="sample-table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <caption class="mira-caption"><em>Sample information</em></caption>
<tr>
  <td width="25%">Reporting quarter:</td><td><b class="ibm-important">{{reportingQuarter}}</b></td>
</tr>
<tr>
  <td>Controllable Unit:</td><td>{{controllableUnit}}</td>
</tr>
<tr>
  <td>Reporting Country:</td><td>{{reportingCountry}}</td>
</tr>
<tr>
  <td>Process:</td><td>{{process}}</td>
</tr>
<tr>
  <td>Control short name:</td><td>{{controlShortName}}</td>
</tr>
<tr>
  <td>Owning business unit:</td><td>{{owningBusinessUnit}}</td>
</tr>
<tr>
  <td>BU IMT:</td><td>{{IMT}}</td>
</tr>
<tr>
  <td>BU IOT:</td><td>{{IOT}}</td>
</tr>
<tr>
  <td>CU Category:</td><td>{{CUCategory}}</td>
</tr>
<tr>
  <td>CU Sub Category:</td><td>{{CUSubCategory}}</td>
</tr>
<tr>
  <td>Type:</td><td>{{type}}</td>
</tr>

</table>

<table id="details_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
  <caption class="mira-caption"><em>Details</em></caption>
  <thead bgcolor="#FF0000" style="color:#FFFFFF;">
    <tr>
      <th ># Tests</th>
      <th ># Defects</th>
      <th >RAG Status</th>
      <th >Remaining Financial Impact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >{{numTests}}</td>
      <td >{{numDefects}}</td>
      <td >{{{ratingDisplay RAGStatus}}}</td>
      <td >{{{moneyDisplay remainingFinancialImpact}}}</td>
    </tr>
    </tbody>
</table>

		<div class="ibm-buttons-row">
			<p>
				<input class="ibm-btn-cancel-sec" type="button" id="btn_cancel" value="Close" />
			</p>
		</div>
</div>
<script>
$('#btn_cancel').click(function() {
	window.location.href = "/assessment?id=";
});
</script>
