<script src='./js/report.js'></script>
<script src='./js/utility.js'></script>
<link href="./css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<script src="./lib/jquery.dataTables.js"></script>
<script>
	//Load document's name
	$('h1#pageTitle').text("Auditable Unit Files");
</script>
<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<span><br/></span>
		<div id="eventLinks" name="eventLinks" class="ibm-buttons-row">
			<p>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="Export to Excel" name="lnk_exportxls" id="lnk_exportxls" class="ibm-symp-spreadsheet">Export to Excel</a>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="Export to Open Office" name="lnk_exportods" id="lnk_exportods" class="ibm-symp-spreadsheet">Export to Open Office</a>
			</p>
			<br/>
		</div>
		<div id='reportstaexc'>
			<table id="reports_table" cellspacing="0" cellpadding="0" border="0" class="display nowrap">
				<thead>
					<tr> 
					    <th scope="col">Auditable Unit Name</th>
						<th scope="col">Type</th>
						<th scope="col">Auditable Process</th>
						<th scope="col">Audit Readiness Review Status</th>
						<th scope="col">CQ - 4</th>
						<th scope="col">CQ - 3</th>
						<th scope="col">CQ - 2</th>
						<th scope="col">CQ - 1</th>
						<th scope="col">Current Quarter (CQ)</th>
						<th scope="col">Outlook</th>
						<th scope="col">Target to Sat</th>
						<th scope="col">Size</th>
						<th scope="col">Max Score</th>
						<th scope="col">CU Score</th>
						<th scope="col">Explanations</th>
					</tr>
				</thead>
				<tbody>
				{{#each doc}}
					<tr>
      				    <td><a href="/assessableunit?id={{_id}}">{{Name}}</a></td>
					    <td>{{DocSubType}}</td>	
                        <td>{{AuditableProcess}}</td>	
                        <td>{{AuditReadiness}}</td>
                        <td>{{CQ4}}</td>
						<td>{{CQ3}}</td>
                        <td>{{CQ2}}</td>	
                        <td>{{CQ1}}</td>
						<td>{{AUNextQtrRating}}</td>
						<td>{{Target2Sat}}</td>
                        <td></td>						
						<td>{{MIRAAssessmentStatus}}</td>
						<td>{{WWBCITAssessmentStatus}}</td>
						<td>{{PeriodRatingPrev}}</td>
						<td>{{PeriodRating}}</td>
						
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>