<script src='./js/report.js'></script>
<link href="./css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<script src="./lib/jquery.dataTables.js"></script>
<script>
	//Load document's name
	$('h1#pageTitle').text("Controllable Units File");
</script>
<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<span><br/></span>
		<div id="eventLinks" name="eventLinks" class="ibm-buttons-row">
			<p>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="Export to Excel" name="btn_exportxls" id="btn_exportxls" class="ibm-symp-spreadsheet">Export to Excel</a>
			</p>
			<br/>
		</div>
		<div id='reportcufile'>
			<table id="reports_table" cellspacing="0" cellpadding="0" border="0">
				<thead>
					<tr> 
						<th>Assessable Unit</th>
						<th>Type</th>
						<th>Status</th>
						<th>Portafolio</th>
						<th>Auditable</th>
						<th>Auditable Process</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
				{{#each doc}}
					<tr>
						<td><a href="/assessableunit?id={{_id}}">{{Name}}</a></td>
						<td>{{DocSubType}}</td>
						<td>{{Status}}</td>
						<td>{{Portafolio}}</td>
						<td>{{AuditableFlag}}</td>
						<td>{{AuditProgram}}</td>
						<td>{{Owner}}</td>
						
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>