<link href="/public/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
<link href="/public/css/mirastyle.css" rel="stylesheet" type="text/css" />
<script src="./js/dashboards.js"/></script>
<script src='./js/utility.js'></script>

<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<span><br/></span>
		<div id="eventLinks" name="eventLinks" class="ibm-buttons-row">
			<p>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="Flat View" name="link-view" id="link-view" class="ibm-forward-link">Flat View</a>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="Export to Excel" name="link-export" id="link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="Export to Open Office" name="link-export2" id="link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			</p>
			<br/>
		</div>
		<textarea name="textarea" id="dataForExport" cols="100" style="display:none">{{view}}</textarea>
		<div>
			<table id="rg_dashboard_treeview" cellspacing="0" cellpadding="0" border="0"  class="mira-dashboard-table">
				<thead>
					<tr>
						<th scope="col"><input type="checkbox" class="mira_checkbox_tree" id="mira_checkbox_tree" name="mira_checkbox "/></th>
						<th>Assessable Unit</th>
						<th>Type</th>
						<th>Prior Q</th>
						<th>Curr Q</th>
						<th>Next Qtr</th>
						<th>Target to Sat</th>
						<th>MIRA</th>
						<th>WWBCIT</th>
						<th>Group</th>
					</tr>
				</thead>
				<tbody>
				{{#each doc}}
					<tr data-tt-id={{_id}} data-tt-parent-id={{parentidg}}>
						<th scope="row" class="ibm-table-row"><input type="checkbox" class="mira_checkbox_tree"/></th>
						{{#if_equal  DocSubType "GroupName"}}
						<td>{{Name}}</td>
						<td></td>
						{{else}}
						<td><a href="/assessableunit?id={{_id}}">{{Name}}</a></td>
						<td>{{DocSubType}}</td>
						{{/if_equal}}
						<td>{{{ratingDisplay PeriodRatingPrev}}}</td>
						<td>{{{ratingDisplay PeriodRating}}}</td>
						<td>{{{ratingDisplay AUNextQtrRating}}}</td>
						<td>{{Target2Sat}}</td>
						<td class="{{{statusIcon MIRAAssessmentStatus}}}" title="{{MIRAAssessmentStatus}}"></td>
						<td class="{{{statusIcon WWBCITAssessmentStatus}}}" title="{{WWBCITAssessmentStatus}}"></td>
						<td>{{GroupName}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<div>
			<table id="rg_dashboard_flatview"  cellspacing="0" cellpadding="0" border="0"  class="mira-dashboard-table" style='display : none'>
				<thead>
					<tr>
						<th scope="col"><input type="checkbox" class="mira_checkbox_flat" id="mira_checkbox_flat" name="mira_checkbox "/></th>
						<th>Assessable Unit</th>
						<th>Type</th>
						<th>Prior Q</th>
						<th>Curr Q</th>
						<th>Next Qtr</th>
						<th>Target to Sat</th>
						<th>MIRA</th>
						<th>WWBCIT</th>
						<th>Group</th>
					</tr>
				</thead>
				<tbody>
				{{#each doc}}
					<tr>
						<th scope="row" class="ibm-table-row"><input type="checkbox" class="mira_checkbox_flat"/></th>
						<td><a href="/assessableunit?id={{_id}}">{{Name}}</a></td>
						{{#if_equal  DocSubType "GroupName"}}
						<td></td>
						{{else}}
						<td>{{DocSubType}}</td>
						{{/if_equal}}
						<td>{{{ratingDisplay PeriodRatingPrev}}}</td>
						<td>{{{ratingDisplay PeriodRating}}}</td>
						<td>{{{ratingDisplay AUNextQtrRating}}}</td>
						<td>{{Target2Sat}}</td>
						<td class="{{{statusIcon MIRAAssessmentStatus}}}" title="{{MIRAAssessmentStatus}}"></td>
						<td class="{{{statusIcon WWBCITAssessmentStatus}}}" title="{{WWBCITAssessmentStatus}}"></td>
						<td>{{GroupName}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	//Load document's name
	$('h1#pageTitle').text("Reporting Group Dashboard");
	$("#rg_dashboard_treeview").treetable({expandable: true });
    $("#rg_dashboard_flatview");
</script>
