<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>For Administrative Use Only</em></caption>

	{{#if editmode}}

		{{!-- AU BU Country form - Administrative Use Only section - Edit Mode with Admin Access --}}
		{{#if admin}}
			<tr>
				<td width="25%"><label for="ExcludeGeo">Exclude from Geo roll-ups?:</label></td>
				<td>
          <span>
						{{#if_equal ExcludeGeo "Yes"}}
							<input type="radio" name="ExcludeGeo" id="AFYes" value="Yes" checked>Yes
							<input type="radio" name="ExcludeGeo" id="AFNo" value="No">No
						{{else}}
							<input type="radio" name="ExcludeGeo" id="AFYes" value="Yes">Yes
							<input type="radio" name="ExcludeGeo" id="AFNo" value="No" checked>No
						{{/if_equal}}
					</span>
				</td>
			</tr>
      {{#if_equal EnteredBU "GTS"}}
				<tr>
					<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
					<td>
						<span>
							{{{uniqueSelect "AuditProgram" parameters.GTSAuditPrograms.0.options "name" "name" AuditProgram}}}
						</span>
					</td>
				</tr>
			{{else}}
				<tr>
					<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
					<td>
						<span>
							{{{uniqueSelect "AuditProgram" parameters.GBSAuditPrograms.0.options "name" "name" AuditProgram}}}
						</span>
					</td>
				</tr>
			{{/if_equal}}
			<tr>
				<td><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>

		{{else}}

			{{!-- AU BU Country form - Administrative Use Only section - Edit Mode with no Admin Access --}}
			<tr><td width="25%">Exclude from Geo roll-ups?:</td><td>{{ExcludeGeo}}</td></tr>
			<tr><td>Audit Program:</td><td>{{AuditProgram}}</td></tr>
			<tr><td>BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>

		{{/if}}

	{{else}}

		{{!-- AU BU Country form - Administrative Use Only section - Read Mode --}}
    <tr><td width="25%">Exclude from Geo roll-ups?:</td><td>{{ExcludeGeo}}</td></tr>
    <tr><td>Audit Program:</td><td>{{AuditProgram}}</td></tr>
    <tr><td>BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>

	{{/if}}

</table>
