{{#if editmode}}
	{{!-- Basic section - Edit Mode --}}
	<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>Basics</em></caption>
		<tr><td width="25%">Parent BU IMT:</td><td>{{BUIMT}}</td></tr>
		<tr>
			{{#if newunit}}
				<td><label for="Country">Country:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						<input type="hidden" name="IOT" id="IOT" value="{{IOT}}">
						<input type="hidden" name="IMT" id="IMT" value="{{IMT}}">
						<input type="hidden" name="Country" id="Country" value="{{Country}}">
						<input type="hidden" name="Countryid" id="Countryid" value="{{Countryid}}">
						{{{uniqueSelect "countryname" CountryList "docid" "name" Country}}}
					</span>
				</td>
			{{else}}
				<td>Country:</td><td>{{Country}}</td>
			{{/if}}
		</tr>
		<tr><td>BU IOT:</td><td>{{IOT}}</td></tr>
		<tr>
			<td>Current reporting period:</td><td><b class="ibm-important">{{CurrentPeriod}}</b></td>
		</tr>
		<tr>
			<td><label for="Status">Status:<span class="ibm-required">*</span></label></td>
			<td>
				<span>{{{uniqueSelect "Status" parameters.AssessableUnitStatus.0.options "name" "name" Status}}}</span>
				<br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{StatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{StatusChangeWhen}}</span>
			</td>
		</tr>
	</table>
{{else}}
	{{!-- Basic section - Read Mode --}}
	<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Basics</em></caption>
		<tr><td width="25%">Parent BU IMT:</td><td>{{BUIMT}}</td></tr>
		<tr><td>Country:</td><td>{{Country}}</td></tr>
		<tr><td>BU IOT:</td><td>{{IOT}}</td></tr>
		<tr><td>Current reporting period:</td><td><b class="ibm-important">{{CurrentPeriod}}</b></td></tr>
		<tr>
			<td>Status:</td>
			<td>
				<b class="ibm-important">{{Status}}</b><br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{StatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{StatusChangeWhen}}</span>
			</td>
		</tr>
	</table>
{{/if}}
