<textarea name="textarea" id="InternalAuditDataExport" cols="100" style="display:none">{{valuesToString exportInternalAuditData}}</textarea>
<textarea name="textarea" id="PPRDataExport" cols="100" style="display:none">{{valuesToString exportPPRData}}</textarea>
<textarea name="textarea" id="OtherAuditsDataExport" cols="100" style="display:none">{{valuesToString exportOtherAuditsData}}</textarea>

<table id="auditreview_table" class="ibm-data-table" width="100%">
  {{#if editmode}}
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Internal Audits</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="InternalAudit-link-export" id="InternalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
      	<span class="ibm-sep">&nbsp;</span>
      	<a href="javascript:void(0);" value="Export to Open Office" name="InternalAudit-link-export2" id="InternalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
    		<br /><br />
  			<table id="InternalAudit_table" width="100%" class="table_with_scroll">
  				<thead>
  					<th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
  					<th class="audit-review-viewheader" scope="col" width="15%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Engagement</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Audited Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="15%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Score</th>
  				</thead>
          {{#each InternalAuditData}}
            <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
              <td width="10%">{{plannedStartDate}}</td>
              <td width="15%">{{imt}}</td>
              <td width="8%">{{engagement}}</td>
              <td width="30%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
              <td width="15%">{{#if DocSubType}}{{DocSubType}}{{else}}&nbsp;{{/if}}</td>
              {{{ratingDisplayView PeriodRatingPrev 5}}}
              {{{ratingDisplayView PeriodRating 5}}}
              <td width="7%">{{CUSize}}</td>
              <td width="5%">{{CUScore}}</td>
            </tr>
  				{{/each}}
          <tr class="audit-review-viewheader-ar">
            <td class="audit-review-viewheader-ar" colspan="9"><b>Weighted Score: {{WeightedAuditScore}}</b></td>
          </tr>
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="IAExplanations" id="IAExplanations" value="{{IAExplanations}}"
              class="mira-field" for="Explanations for Audits and Reviews - Internal Audits" size="150"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Proactive Reviews - Quarterly Recommendation Status</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="ppr_treeview" width="100%" class="table_with_scroll">
  				<thead>
  					<th class="audit-review-viewheader" scope="col" width="7%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Pd</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Sts</th>
  					<!--<th class="audit-review-viewheader" scope="col" width="5%">LoB</th>--> <!--Line of Business is not used anymore. Need to know what to put here instead.-->
  					<th class="audit-review-viewheader" scope="col" width="8%">Review ID</th>
  					<th class="audit-review-viewheader" scope="col" width="35%">Country Process</th>
  					<th class="audit-review-viewheader" scope="col" width="10%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Total Recs</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Open Recs</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Count</th>
  				</thead>
          {{#each PPRData}}
            <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
              <td width="7%">{{#if catEntry}}{{auditOrReview}}{{/if}}</td>
              <td width="5%">{{#if catEntry}}{{reportingQuarter}}{{/if}}</td>
              <td width="5%">{{#if catEntry}}{{status}}{{/if}}</td>
              <!--<td width="5%">{{LoB}}</td>--> <!--Line of Business is not used anymore. Need to know what to put here instead.-->
              <td width="8%">{{reviewID}}</td>
              <td width="35%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
              <td width="10%">{{DocSubType}}</td>
              <td width="10%">{{reportDate}}</td>
              {{{ratingDisplayView rating 5}}}
              <td width="5%">{{numRecommendationsTotal}}</td>
              <td width="5%">{{numRecommendationsOpen}}</td>
              <td width="5%">{{count}}</td>
            </tr>
          {{/each}}
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="PRExplanations" id="PRExplanations" value="{{PRExplanations}}"
              class="mira-field" for="Explanations for Audits and Reviews - Proactive Reviews" size="150"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Other Audits and Reviews</b></span><br /><br />
        <a href="javascript:void(0);" value="Export to Excel" name="OtherAudits-link-export" id="OtherAudits-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
        <span class="ibm-sep">&nbsp;</span>
        <a href="javascript:void(0);" value="Export to Open Office" name="OtherAudits-link-export2" id="OtherAudits-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
        <br /><br />
        <table id="OtherAudits_treeview" width="100%" class="table_with_scroll">
  				<thead>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Rating/Status</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Date</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Assessable Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
  				</thead>
          {{#each OtherAuditsData}}
            <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
              <td width="8%">{{#if catEntry}}{{auditOrReviewName}}{{/if}}</td>
              {{{ratingDisplayView PeriodRating 8}}}
              <td width="8%">{{imt}}</td>
              <td width="8%">{{reportDate}}</td>
              <td width="30%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
              <td width="8%">{{#if DocSubType}}{{DocSubType}}{{else}}&nbsp;{{/if}}</td>
              {{{ratingDisplayView PeriodRatingPrev 5}}}
              <td width="5%">{{CUSize}}</td>
              <td width="20%">{{comments}}</td>
            </tr>
          {{/each}}
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="ARRExplanations" id="ARRExplanations" value="{{ARRExplanations}}"
              class="mira-field" for="Explanations for Audits and Reviews - Other Audits and Reviews" size="150"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Focus items, key changes, open items, comments for current &amp; next quarter</b></span><br /><br />
        <table width="100%" class="ibm-data-table">
          <tr class="asmt-viewdata">
            <td><input type="text" name="AuditFocusText" id="AuditFocusText" value="{{AuditFocusText}}"
              class="mira-field" for="Audits and Reviews - Focus items, key changes, open items, comments for current and next quarter" size="165"></td>
          </tr>
        </table>
      </td>
  	</tr>
  {{else}} <!-- Read Mode  -->
  <tr class="audit-review-content">
    <td>
      <span class="audit-review-header"><b>Internal Audits</b></span><br /><br />
      <a href="javascript:void(0);" value="Export to Excel" name="InternalAudit-link-export" id="InternalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
      <span class="ibm-sep">&nbsp;</span>
      <a href="javascript:void(0);" value="Export to Open Office" name="InternalAudit-link-export2" id="InternalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
      <br /><br />
      <table id="InternalAudit_table" width="100%" class="table_with_scroll">
        <thead>
          <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
          <th class="audit-review-viewheader" scope="col" width="15%">IMT</th>
          <th class="audit-review-viewheader" scope="col" width="8%">Engagement</th>
          <th class="audit-review-viewheader" scope="col" width="30%">Audited Unit</th>
          <th class="audit-review-viewheader" scope="col" width="15%">Type</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
          <th class="audit-review-viewheader" scope="col" width="7%">Size</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Score</th>
        </thead>
        {{#each InternalAuditData}}
          <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
            <td width="10%">{{plannedStartDate}}</td>
            <td width="15%">{{imt}}</td>
            <td width="8%">{{engagement}}</td>
            <td width="30%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
            <td width="15%">{{#if DocSubType}}{{DocSubType}}{{else}}&nbsp;{{/if}}</td>
            {{{ratingDisplayView PeriodRatingPrev 5}}}
            {{{ratingDisplayView PeriodRating 5}}}
            <td width="7%">{{CUSize}}</td>
            <td width="5%">{{CUScore}}</td>
          </tr>
        {{/each}}
        <tr class="audit-review-viewheader-ar">
          <td class="audit-review-viewheader-ar" colspan="9"><b>Weighted Score: {{WeightedAuditScore}}</b></td>
        </tr>
      </table>
      <table width="100%" class="ibm-data-table">
        <tr>
          <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
          <td class="asmt-viewdata" width="90%">{{IAExplanations}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="audit-review-content">
    <td>
      <span class="audit-review-header"><b>Proactive Reviews - Quarterly Recommendation Status</b></span><br /><br />
      <a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
      <span class="ibm-sep">&nbsp;</span>
      <a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
      <br /><br />
      <table id="ppr_treeview" width="100%" class="table_with_scroll">
        <thead>
          <th class="audit-review-viewheader" scope="col" width="7%">Type</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Pd</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Sts</th>
          <!--<th class="audit-review-viewheader" scope="col" width="5%">LoB</th>--> <!--Line of Business is not used anymore. Need to know what to put here instead.-->
          <th class="audit-review-viewheader" scope="col" width="8%">Review ID</th>
          <th class="audit-review-viewheader" scope="col" width="35%">Country Process</th>
          <th class="audit-review-viewheader" scope="col" width="10%">Type</th>
          <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Total Recs</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Open Recs</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Count</th>
        </thead>
        {{#each PPRData}}
          <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
            <td width="7%">{{#if catEntry}}{{auditOrReview}}{{/if}}</td>
            <td width="5%">{{#if catEntry}}{{reportingQuarter}}{{/if}}</td>
            <td width="5%">{{#if catEntry}}{{status}}{{/if}}</td>
            <!--<td width="5%">{{LoB}}</td>--> <!--Line of Business is not used anymore. Need to know what to put here instead.-->
            <td width="8%">{{#if reviewID}}{{reviewID}}{{else}}&nbsp;{{/if}}</td>
            <td width="35%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
            <td width="10%">{{DocSubType}}</td>
            <td width="10%">{{reportDate}}</td>
            {{{ratingDisplayView rating 5}}}
            <td width="5%">{{numRecommendationsTotal}}</td>
            <td width="5%">{{numRecommendationsOpen}}</td>
            <td width="5%">{{count}}</td>
          </tr>
        {{/each}}
      </table>
      <table width="100%" class="ibm-data-table">
        <tr>
          <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
          <td class="asmt-viewdata" width="90%">{{PRExplanations}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="audit-review-content">
    <td>
      <span class="audit-review-header"><b>Other Audits and Reviews</b></span><br /><br />
      <a href="javascript:void(0);" value="Export to Excel" name="OtherAudits-link-export" id="OtherAudits-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
      <span class="ibm-sep">&nbsp;</span>
      <a href="javascript:void(0);" value="Export to Open Office" name="OtherAudits-link-export2" id="OtherAudits-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
      <br /><br />
      <table id="OtherAudits_treeview" width="100%" class="table_with_scroll">
        <thead>
          <th class="audit-review-viewheader" scope="col" width="8%">Type</th>
          <th class="audit-review-viewheader" scope="col" width="8%">Rating/Status</th>
          <th class="audit-review-viewheader" scope="col" width="8%">IMT</th>
          <th class="audit-review-viewheader" scope="col" width="8%">Date</th>
          <th class="audit-review-viewheader" scope="col" width="30%">Assessable Unit</th>
          <th class="audit-review-viewheader" scope="col" width="8%">Type</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
          <th class="audit-review-viewheader" scope="col" width="5%">Size</th>
          <th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
        </thead>
        {{#each OtherAuditsData}}
          <tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
            <td width="8%">{{#if catEntry}}{{auditOrReviewName}}{{/if}}</td>
            {{{ratingDisplayView PeriodRating 8}}}
            <td width="8%">{{imt}}</td>
            <td width="8%">{{reportDate}}</td>
            <td width="30%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{Name}}</a></td>
            <td width="8%">{{#if DocSubType}}{{DocSubType}}{{else}}&nbsp;{{/if}}</td>
            {{{ratingDisplayView PeriodRatingPrev 5}}}
            <td width="5%">{{CUSize}}</td>
            <td width="20%">{{comments}}</td>
          </tr>
        {{/each}}
      </table>
      <table width="100%" class="ibm-data-table">
        <tr>
          <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
          <td class="asmt-viewdata" width="90%">{{ARRExplanations}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="audit-review-content">
    <td>
      <span class="audit-review-header"><b>Focus items, key changes, open items, comments for current &amp; next quarter</b></span><br /><br />
      <table width="100%" class="ibm-data-table">
        <tr class="asmt-viewdata"><td>&nbsp;{{AuditFocusText}}</td></tr>
      </table>
    </td>
  </tr>
  {{/if}}
</table>
<script>
	$("#ppr_treeview").treetable({expandable: true });
  $("#OtherAudits_treeview").treetable({expandable: true });
</script>
