<table id="kctest_table" class="ibm-data-table" width="100%">
	{{#if editmode}}
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Country Defect Rate Summary</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="10%"></th>
						<th class="kc-test-viewheader" scope="col" width="40%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Count</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Percent</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Tests</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defect Rate %</th>
					</thead>
					{{#each KCTest1Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="KCT1Section1Explanations" id="KCT1Section1Explanations" value="{{KCT1Section1Explanations}}" size="150"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Current Period Samples with Defects (includes all test types)</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="10%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Control</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Sample ID</th>
						<th class="kc-test-viewheader" scope="col" width="5%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defect Type</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remed. Status</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remaining Fin. Impact</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Target to Close</th>
						<th class="kc-test-viewheader" scope="col" width="25%">Defect Abstract</th>
					</thead>
					{{#each KCTest2Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="KCT1Section2Explanations" id="KCT1Section2Explanations" value="{{KCT1Section2Explanations}}" size="150"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Unremediated Samples from Prior Periods (includes all test types)</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="5%"></th>
						<th class="kc-test-viewheader" scope="col" width="10%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Control</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Sample ID</th>
						<th class="kc-test-viewheader" scope="col" width="5%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Defect Type</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Remed. Status</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remaining Fin. Impact</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Target to Close</th>
						<th class="kc-test-viewheader" scope="col" width="25%">Defect Abstract</th>
					</thead>
					{{#each KCTest3Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="KCT1Section3Explanations" id="KCT1Section3Explanations" value="{{KCT1Section3Explanations}}" size="150"></td>
					</tr>
				</table>
			</td>
		</tr>
	{{else}} <!-- Read Mode -->
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Country Defect Rate Summary</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="10%"></th>
						<th class="kc-test-viewheader" scope="col" width="40%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Count</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Percent</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Tests</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defect Rate %</th>
					</thead>
					{{#each KCTest1Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%">{{KCT1Section1Explanations}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Current Period Samples with Defects (includes all test types)</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="10%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Control</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Sample ID</th>
						<th class="kc-test-viewheader" scope="col" width="5%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defect Type</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remed. Status</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remaining Fin. Impact</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Target to Close</th>
						<th class="kc-test-viewheader" scope="col" width="25%">Defect Abstract</th>
					</thead>
					{{#each KCTest2Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%">{{KCT1Section2Explanations}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Unremediated Samples from Prior Periods (includes all test types)</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="5%"></th>
						<th class="kc-test-viewheader" scope="col" width="10%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Control</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Sample ID</th>
						<th class="kc-test-viewheader" scope="col" width="5%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Defect Type</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Remed. Status</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remaining Fin. Impact</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Target to Close</th>
						<th class="kc-test-viewheader" scope="col" width="25%">Defect Abstract</th>
					</thead>
					{{#each KCTest3Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%">{{KCT1Section3Explanations}}</td>
					</tr>
				</table>
			</td>
		</tr>
	{{/if}}
</table>
