<table id="kctest_table" class="ibm-data-table" width="100%">
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Country Defect Rate Summary</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="10%"></th>
						<th class="kc-test-viewheader" scope="col" width="40%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Count</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Percent</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Tests</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defect Rate %</th>
					</thead>
					{{#each KCTest1Data}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="10%" >{{RAGStatusCat}}</td>
						<td width="40%"><a target="_blank" href="/assessment?id={{_id}}">{{Country}}</a></td>
						<td width="10%" >{{count}}</td>
						<td width="10%" >{{percent}}</td>
						{{{defectRateDisplayView AUDefectRate ../parameters.MargThresholdPercent.0.options.0.name ../parameters.UnsatThresholdPercent.0.options.0.name 10}}}
						<td width="15%" >{{KCFRDefectCount}}</td>
						<td width="15%" >{{KCODefectRate}}</td>
					</tr>
				{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%">{{KCT1Section1Explanations}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Current Period Samples with Defects (includes all test types)</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="10%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Control</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Sample ID</th>
						<th class="kc-test-viewheader" scope="col" width="5%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Defect Type</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remed. Status</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remaining Fin. Impact</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Target to Close</th>
						<th class="kc-test-viewheader" scope="col" width="25%">Defect Abstract</th>
					</thead>
					{{#each KCTest2Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%">{{KCT1Section2Explanations}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="kc-test-content">
			<td>
				<span class="kc-test-header"><b>Unremediated Samples from Prior Periods (includes all test types)</b></span><br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="kc-test-viewheader" scope="col" width="5%"></th>
						<th class="kc-test-viewheader" scope="col" width="10%">Country</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Control</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Sample ID</th>
						<th class="kc-test-viewheader" scope="col" width="5%">Defects</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Defect Type</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Remed. Status</th>
						<th class="kc-test-viewheader" scope="col" width="10%">Remaining Fin. Impact</th>
						<th class="kc-test-viewheader" scope="col" width="9%">Target to Close</th>
						<th class="kc-test-viewheader" scope="col" width="25%">Defect Abstract</th>
					</thead>
					{{#each KCTest3Data}}
						<tr class="asmt-viewdata">
							{{#each col}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</table>
				<table width="100%" class="ibm-data-table">
					<tr>
						<td class="kc-test-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%">{{KCT1Section3Explanations}}</td>
					</tr>
				</table>
			</td>
		</tr>
</table>
