<table id="risk_table" class="ibm-data-table">
	<tr class="risk-msdcommit-content">
		<th class="risk-msdcommit">Open Issues Prior &amp; Current Quarters</th>
	</tr>
	<tr class="risk-msdcommit-content">
		<td>
			<table width="100%" class="ibm-data-table">
				<thead>
					<th class="risk-msdcommit-viewheader" width="30%"></th>
					{{#each PrevQtrs}}
						<th class="kc-test-viewsubheader" width="7%">{{this}}</th>
					{{/each}}
					<th class="risk-msdcommit-viewheader" width="7%">{{CurrentPeriod}}</th>
					<th class="risk-msdcommit-viewheader" width="2%"></th>
					<th class="risk-msdcommit-viewheader" width="33%"></th>
				</thead>
				<tr>
					<td class="risk-msdcommit-label" colspan="6"><b>Open issues from risk evaluations, deviations, etc.</b></td>
					<td class="risk-msdcommit-label"></td>
					<td class="risk-msdcommit-label"><b>Explanations for current quarter entries</b></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Self Assessment Issues - prior year</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
					<td class="asmt-viewdata" rowspan="10"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Self Assessment Issues - current year</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Deviations from Corp. Directives – high/medium</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Deviations from Corp. Directives – low</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">PWC Recommendations</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">PWC Deficiencies</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">SSAE 16 / SOC Open Reports</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">FIN 162 (Financial &amp; HR Applications)</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">ASCA Incs</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Unsat Audits</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label" colspan="8"><b>Totals</b></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Total Open Issues</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader" colspan="2"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Qtd Net Change</td>
					<td class="risk-msdcommit-label"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader" colspan="2"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Total Missed Issues</td>
					<td class="risk-msdcommit-label"></td>
					<td class="risk-msdcommit-label"></td>
					<td class="risk-msdcommit-label"></td>
					<td class="risk-msdcommit-label"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader" colspan="2"></td>
				</tr>
			</table>
			<table width="100%" class="ibm-data-table">
				<thead><th class="risk-msdcommit-label">Focus items, key changes, open items, comments for current &amp; next quarter</th></thead>
				<tr><td class="asmt-richtext-readmode-short"></td></tr>
			</table>
		</td>
	</tr>
	<tr class="risk-msdcommit-content">
		<td>
			<table width="100%" class="ibm-data-table">
				<tr>
					<td width="58%" class="risk-msdcommit-label">Total Missed MSAC Sat Targets</td>
					<td width="7%" class="asmt-viewdata"></td>
					<td width="35%" class="risk-msdcommit-label"></td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
				<thead>
					<th class="risk-msdcommit-viewheader" scope="col" width="50%%">Assessable Unit</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Prior Q</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Curr Q</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Missed Target Date</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Current Target Date</th>
				</thead>
				{{#each RiskView1Data}}
					<tr class="asmt-viewdata">
						{{#each col}}
							{{#if @first}}
								<td><a href="/risk?id={{../docid}}">{{this}}</a></td>
							{{else}}
								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
	<tr class="risk-msdcommit-content">
		<th class="risk-msdcommit">Current Quarter Open Issues</th>
	</tr>
	<tr class="risk-msdcommit-content">
		<td>
			<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
				<thead>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">Type</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">IMT</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Country</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">ID</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Status</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="8%">Target Date (Orig)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="8%">Target Date (Current)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Open Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Missed Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Open Issues</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="4%">Missed</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="20%">Risk Abstract</th>
				</thead>
				{{#each RiskView2Data}}
					<tr class="asmt-viewdata">
						{{#each col}}
							{{#if @first}}
								<td><a href="/risk?id={{../docid}}">{{this}}</a></td>
							{{else}}
								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>
