<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
	{{#if editmode}}
		<!-- Edit Mode -->
		{{#if admin}}
			<!-- Admin Edit Mode - Fields are Editable -->
			<tr>
				<td><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>
			<tr>
				<td><label for="CUSize">Size:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
					{{{uniqueSelect "CUSize" parameters.UnitSizes.0.options "name" "name" CUSize "required"}}}
					</span>
				</td>
			</tr>
			<tr>
				<td width="27%">{{{uniqueSelect "MetricsCriteria" parameters.GTSMetrics.0.options "name" "name" MetricsCriteria}}}<b for="MetricsCriteria">($M USD):</b></td>
				<td><span><input type="text" name="MetricsValue" value="{{MetricsValue}}" class="td_tcv" size="10"> (planning purposes only)</span></td>
			</tr>
			<tr>
				<td><label for="AuditLessonsKey">Audit Lessons Key:</label></td>
				<td>
					<input type="hidden" id="AuditLessonsKey" name="AuditLessonsKey" value="{{AuditLessonsKey}}">
					{{{multiSelect "lessonsList" lessonsList "id" "option" "scopeLessonsList"}}}
				</td>
			</tr>
			<tr>
				<td><label for="OpMetricKey">Operational Metric Key:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{{uniqueSelect "OpMetricKey" parameters.GTSOpMetricKeys.0.options "id" "name" OpMetricKey "required"}}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{{uniqueSelect "AuditProgram" parameters.GTSAuditPrograms.0.options "name" "name" AuditProgram "required"}}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="AuditableFlag">Auditable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if AuditableFlagYes}}
							<input class="showsize" type="radio" id="AFYes" name="AuditableFlag" value="Yes" checked>Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No">No
						{{else}}
							<input class="showsize" type="radio" id="AFYes" name="AuditableFlag" value="Yes">Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			{{#if_equal showARCFreq 1}}
				<tr>
					<td><label for="ARCFrequency">Audit Readiness Checklist (ARC) frequency:</label></td>
					<td>
						<span>
							{{{uniqueSelect "ARCFrequency" parameters.ARCFrequencies.0.options "name" "name" ARCFrequency}}}
						</span>
					</td>
				</tr>
			{{/if_equal}}
			{{>auinternalaudit/internalauditedit}}
		{{else}}
			<!-- Non-Admin Edit Mode - Fields are not Editable -->
			<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
			<tr><td>Size:<span class="ibm-required">*</span></td><td>{{CUSize}}</td></tr>
			<tr><td>{{MetricsCriteria}} ($M USD):</td><td><font class="td_tcv">{{MetricsValue}}</font> (planning purposes only)</td></tr>
			<tr><td>Audit Lessons Key:</td><td>{{AuditLessonsKey}}</td></tr>
			<tr>
				<td>Operational Metric Key:<span class="ibm-required">*</span></td>
				<td>
					{{#each parameters.GTSOpMetricKeys.0.options}}
						{{#if_equal id ../OpMetricKey}}
							{{name}}
						{{/if_equal}}
					{{/each}}
				</td>
			</tr>
			<tr><td>Audit Program:<span class="ibm-required">*</span></td><td>{{AuditProgram}}</td></tr>
			<tr><td>Auditable Unit?:<span class="ibm-required">*</span></td><td>{{AuditableFlag}}</td></tr>
			{{#if_equal showARCFreq 1}}
				<tr><td>Audit Readiness Checklist (ARC) frequency:</td><td>{{ARCFrequency}}</td></tr>
			{{/if_equal}}
			{{#if AuditableFlagYes}}
				{{>auinternalaudit/internalauditread}}
			{{/if}}
		{{/if}}
	{{else}}
		<!-- Read Mode -->
		<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
		<tr><td>Size:<span class="ibm-required">*</span></td><td>{{CUSize}}</td></tr>
		<tr><td>{{MetricsCriteria}} ($M USD):</td><td><font class="td_tcv">{{MetricsValue}}</font> (planning purposes only)</td></tr>
		<tr><td>Audit Lessons Key:</td><td>{{AuditLessonsKey}}</td></tr>
		<tr>
			<td>Operational Metric Key:<span class="ibm-required">*</span></td>
			<td>
				{{#each parameters.GTSOpMetricKeys.0.options}}
					{{#if_equal id ../OpMetricKey}}
						{{name}}
					{{/if_equal}}
				{{/each}}
			</td>
		</tr>
		<tr><td>Audit Program:<span class="ibm-required">*</span></td><td>{{AuditProgram}}</td></tr>
		<tr><td>Auditable Unit?:<span class="ibm-required">*</span></td><td>{{AuditableFlag}}</td></tr>
		{{#if_equal showARCFreq 1}}
			<tr><td>Audit Readiness Checklist (ARC) frequency:</td><td>{{ARCFrequency}}</td></tr>
		{{/if_equal}}
		{{#if AuditableFlagYes}}
			{{>auinternalaudit/internalauditread}}
		{{/if}}
	{{/if}}
</table>
