{{!-- AUCONTROLLABLEUNIT form - Basic section - Edit/Read Mode --}}
<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Basics</em></caption>
	{{#if editmode}}
		{{!-- AU ControllableUnit form - Administrative Use Only section - Edit Mode with Admin Access --}}
		{{#if admin}}
			{{!-- CU Change parent is only available for Admin --}}
			<tr>
				<td width="25%"><span name="ParentDocSubTypeDisplay">Parent {{ParentDocSubType}}:</span></td>
				<td>
					<span name="ParentSubjectDisplay">{{ParentSubject}}</span>
					<br/><br/>
					<div>
						<a href="javascript:void(0);" value="Change Parent" name="btn_changeparent" id="btn_changeparent" class="ibm-signin-link">Change Parent</a>
					</div>
					<div id="Overlay_Event" title="CU Parent Selection" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>aucontrollableunit/changeparent}}
					</div>
					<div id="divSavingImg" class="ibm-common-overlay"><center><p class="ibm-spinner-large"></p><strong>Saving...</strong><p>&nbsp;</p></center></div>
				</td>
			</tr>
		{{else}}
			<tr>
				<td width="25%">Parent {{ParentDocSubType}}:</td><td>{{ParentSubject}}</td>
			</tr>
		{{/if}}
		<tr><td>Business Unit:</td><td>{{BusinessUnit}}</td></tr>
		<tr><td>Category:</td><td>{{Category}}</td></tr>
		<tr><td>Subcategory:</td><td>{{Subcategory}}</td></tr>
		<tr><td>Controllable Unit:</td><td>{{Name}}</td></tr>
		{{#if (eq ParentDocSubType "BU Country")}}
			<tr><td>Country:</td><td><span name="Country">{{CountryDisp}}</span></td></tr>
		{{/if}}
		<tr>
			<td>Relevant country processes:</td>
			<td>
				{{#each RelevantCPs}}
					{{#if @last}} {{this}} {{else}} {{this}}<br /> {{/if}}
				{{/each}}
			</td>
		</tr>
		<tr><td>Current reporting period:</td><td><b class="ibm-important">{{CurrentPeriod}}</b></td></tr>
		<tr>
			<td><label for="Portfolio">Portfolio:<span class="ibm-required">*</span></label></td>
			<td>
				<span>
				{{#if_equal Portfolio "Yes"}}
						<input class="showsize" type="radio" id="PortfolioYes" name="Portfolio" value="Yes" checked>Yes
						<input type="radio" name="Portfolio" id="PortfolioNo" value="No">No
					{{else}}
						<input class="showsize" type="radio" id="PortfolioYes" name="Portfolio" value="Yes">Yes
						<input type="radio" name="Portfolio" id="PortfolioNo" value="No" checked>No
					{{/if_equal}}
				</span>
			</td>
		</tr>
		<tr>
			<td>Status:</td>
			<td>
				<b class="ibm-important">{{Status}}</b><br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{StatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{StatusChangeWhen}}</span>
			</td>
		</tr>
	{{else}}
		<tr><td width="25%">Parent {{ParentDocSubType}}:</td><td>{{ParentSubject}}</td></tr>
		<tr><td>Business Unit:</td><td>{{BusinessUnit}}</td></tr>
		<tr><td>Category:</td><td>{{Category}}</td></tr>
		<tr><td>Subcategory:</td><td>{{Subcategory}}</td></tr>
		<tr><td>Controllable Unit:</td><td>{{Name}}</td></tr>
		{{#if (eq ParentDocSubType "BU Country")}}
			<tr><td>Country:</td><td>{{CountryDisp}}</td></tr>
		{{/if}}
		<tr>
			<td>Relevant country processes:</td>
			<td>
				{{#each RelevantCPs}}
					{{#if @last}} {{this}} {{else}} {{this}}<br /> {{/if}}
				{{/each}}
			</td>
		</tr>
		<tr><td>Current reporting period:</td><td><b class="ibm-important">{{CurrentPeriod}}</b></td></tr>
		<tr><td>Portfolio:<span class="ibm-required">*</span></td><td>{{Portfolio}}</td></tr>
		<tr>
			<td>Status:</td>
			<td>
				<b class="ibm-important">{{Status}}</b><br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{StatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{StatusChangeWhen}}</span>
			</td>
		</tr>
	{{/if}}

</table>
