{{!-- AU Controllable Unit form - Constituent section - Edit/Read Mode --}}
<table id="constiheader_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Constituent Accounts</em></caption>
</table>
<div class="ibm-columns ibm-graphic-tabs">

	<div id="ControllableUnits" class="ibm-tabs-content">
		{{#if admin}}
			{{#if _id}}
				<a href="/newassessableunit?pid={{_id}}&docsubtype=Account" class="ibm-add1-link">Create new Account</a>
				<br /><br />
			{{/if}}
		{{/if}}
		<table id="controallableunits_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
			<thead class="controllable-unit">
				<th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Prior Qtr</th>
				<th scope="col">Current Qtr</th>
				<th scope="col">Outlook</th>
				<th scope="col">Target to Sat</th>
			</thead>
			{{#each AccountData}}
			<tr>
				<td><a target="_blank" href="/assessableunit?id={{docid}}">{{Name}}</a></td>
				<td>{{Status}}</td>
				{{{ratingDisplayView PeriodRatingPrev "PeriodRatingPrev"}}}
				{{{ratingDisplayView PeriodRating "PeriodRating"}}}
				{{{ratingDisplayView AUNextQtrRating "AUNextQtrRating"}}}
				<td>{{Target2Sat}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>
