<textarea name="textarea" id="OpenRisksDataExport" cols="100" style="display:none">{{valuesToString exportOpenRisks}}</textarea>
<textarea name="textarea" id="OpenRisks2DataExport" cols="100" style="display:none">{{valuesToString exportOpenRisks2}}</textarea>
<table id="risk_table" class="ibm-data-table">
	<tr class="risk-msdcommit-content">
		<td>
			<table width="100%" class="ibm-data-table">
				<thead>
					<th class="risk-msdcommit-viewheader"></th>
					<th class="risk-msdcommit-viewheader" colspan="5">CRM/Other Open issues prior &amp; current quarters</th>
					<th class="risk-msdcommit-viewheader"></th>
					<th class="risk-msdcommit-viewheader" colspan="5">Delivery Open issues prior &amp; current quarters</th>
				</thead>
				<thead>
					<th class="risk-msdcommit-viewheader" width="25%"></th>
					{{#each PrevQtrs}}
						<th class="kc-test-viewsubheader" width="7%">{{this}}</th>
					{{/each}}
					<th class="risk-msdcommit-viewheader" width="7%">{{CurrentPeriod}}</th>
					<th class="risk-msdcommit-viewheader" width="5%"></th>
					{{#each PrevQtrs}}
						<th class="kc-test-viewsubheader" width="7%">{{this}}</th>
					{{/each}}
					<th class="risk-msdcommit-viewheader" width="7%">{{CurrentPeriod}}</th>
				</thead>
				<tr>
					<td class="risk-msdcommit-label" colspan="12"><b>Open issues from risk evaluations, deviations, etc.</b></td>
				</tr>
				{{#each riskCategories}}
				<tr>
					<td class="risk-msdcommit-label">{{name}}</td>
					<td class="asmt-viewdata" align="center">{{CRMPrevQtr1}}</td>
					<td class="asmt-viewdata" align="center">{{CRMPrevQtr2}}</td>
					<td class="asmt-viewdata" align="center">{{CRMPrevQtr3}}</td>
					<td class="asmt-viewdata" align="center">{{CRMPrevQtr4}}</td>
					<td class="asmt-viewdata" align="center">{{CRMCurrent}}</td>
					<!--<td class="risk-msdcommit-viewheader" rowspan="10"></td>-->
					<td class="risk-msdcommit-viewheader"></td>
					<td class="asmt-viewdata" align="center">{{DeliveryPrevQtr1}}</td>
					<td class="asmt-viewdata" align="center">{{DeliveryPrevQtr2}}</td>
					<td class="asmt-viewdata" align="center">{{DeliveryPrevQtr3}}</td>
					<td class="asmt-viewdata" align="center">{{DeliveryPrevQtr4}}</td>
					<td class="asmt-viewdata" align="center">{{DeliveryCurrent}}</td>
				</tr>
				{{/each}}
				<!--<tr>
					<td class="risk-msdcommit-label">Self Assessment Issues - prior year</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="risk-msdcommit-viewheader" rowspan="10"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Self Assessment Issues - current year</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Deviations from Corp. Directives – high/medium</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Deviations from Corp. Directives – low</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">PWC Recommendations</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">PWC Deficiencies</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">SSAE 16 / SOC Open Reports</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">FIN 162 (Financial &amp; HR Applications)</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">ASCA Incs</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Unsat Audits</td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
					<td class="asmt-viewdata"></td>
				</tr>-->
				<tr>
					<td class="risk-msdcommit-label" colspan="12"><b>Totals</b></td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Total Open Issues</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.CRMPrevQtr1}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.CRMPrevQtr2}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.CRMPrevQtr3}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.CRMPrevQtr4}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.CRMCurrent}}</td>
					<td class="risk-msdcommit-viewheader" rowspan="4"></td>
					<td class="asmt-viewdata" align="center">{{totalRisks.DeliveryPrevQtr1}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.DeliveryPrevQtr2}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.DeliveryPrevQtr3}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.DeliveryPrevQtr4}}</td>
					<td class="asmt-viewdata" align="center">{{totalRisks.DeliveryCurrent}}</td>
				</tr>
				<tr>
					<td class="risk-msdcommit-label">Qtd Net Change</td>
					<td class="risk-msdcommit-label"></td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.CRMQtdChange1}}</td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.CRMQtdChange2}}</td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.CRMQtdChange3}}</td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.CRMQtdChange4}}</td>
					<td class="risk-msdcommit-label"></td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.DeliveryQtdChange1}}</td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.DeliveryQtdChange2}}</td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.DeliveryQtdChange3}}</td>
					<td class="asmt-viewdata" align="center">{{QtdChangeRisks.DeliveryQtdChange4}}</td>
				</tr>
				{{#if editmode}}
					<tr>
						<td class="risk-msdcommit-label">Total Missed Issues</td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="asmt-viewdata">
							<span>{{{uniqueSelect "MissedIssueRptColorCRM" parameters.MissedIssueColor.0.options "name" "name" MissedIssueRptColorCRM}}}</span><br /><br />
							&nbsp;{{MissedOpenIssueCountCRM}}
						</td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="asmt-viewdata">
							<span>{{{uniqueSelect "MissedIssueRptColorSOD" parameters.MissedIssueColor.0.options "name" "name" MissedIssueRptColorSOD}}}</span><br /><br />
							&nbsp;{{MissedOpenIssueCountSOD}}
						</td>
					</tr>
					<tr>
						<td class="risk-msdcommit-label">Total Missed MSAC Sat Targets</td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="asmt-viewdata">
							<span>{{{uniqueSelect "MissedMSACsRptColorCRM" parameters.MissedIssueColor.0.options "name" "name" MissedMSACsRptColorCRM}}}</span><br /><br />
							&nbsp;{{MissedMSACSatCountCRM}}
						</td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="asmt-viewdata">
							<span>{{{uniqueSelect "MissedMSACsRptColorSOD" parameters.MissedIssueColor.0.options "name" "name" MissedMSACsRptColorSOD}}}</span><br /><br />
							&nbsp;{{MissedMSACSatCountSOD}}
						</td>
					</tr>
				{{else}}
					<tr>
						<td class="risk-msdcommit-label">Total Missed Issues</td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						{{{MissedDataDisplay MissedOpenIssueCountCRM MissedIssueRptColorCRM}}}
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						{{{MissedDataDisplay MissedOpenIssueCountSOD MissedIssueRptColorSOD}}}
					</tr>
					<tr>
						<td class="risk-msdcommit-label">Total Missed MSAC Sat Targets</td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						{{{MissedDataDisplay MissedMSACSatCountCRM MissedMSACsRptColorCRM}}}
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						<td class="risk-msdcommit-label"></td>
						{{{MissedDataDisplay MissedMSACSatCountSOD MissedMSACsRptColorSOD}}}
					</tr>
				{{/if}}
			</table>
			<table width="100%" class="ibm-data-table">
				<thead><th class="risk-msdcommit-label">Focus items, key changes, open items, comments for current &amp; next quarter</th></thead>
				<tr>
					<td class="asmt-viewdata"><input type="text" name="GCSFocusItems" id="GCSFocusItems" value="{{GCSFocusItems}}" size="186"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="risk-msdcommit-content">
		<td>
			<span class="risk-msdcommit"><b>Missed Commits</b></span><br /><br />
			{{#if_equal EnteredBU "GTS"}}
			<a href="javascript:void(0);" value="Export to Excel" name="OpenRisks-link-export" id="OpenRisks-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="OpenRisks-link-export2" id="OpenRisks-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			{{/if_equal}}
			<table id="open_risks_treeview" width="100%" class="table_with_scroll">
				<thead>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%%">Cat</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="40%%">Assessable Unit</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Prior Q</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Curr Q</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Missed Target Date</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Current Target Date</th>
				</thead>
				<tbody>
				{{#each RiskView1Data}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="10%">{{catName}}</td>
						<td width="40%"><a target="_blank" href="/assessment?id={{_id}}">{{AssessableUnitName}}</a></td>
						{{{ratingDisplayView PeriodRating 10}}}
						{{{ratingDisplayView PeriodRating 10}}}
						<td width="15%">{{#if _id}}{{originalTargetDate}}{{else}}&nbsp;{{/if}}</td>
						<td width="15%">{{currentTargetDate}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="risk-msdcommit-content">
		<td>
			<span class="risk-msdcommit"><b>Current Quarter Open Issues</b></span><br /><br />
			<span class="risk-msdcommit"><b>Open Issues</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="OpenRisks2-link-export" id="OpenRisks2-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="OpenRisks2-link-export2" id="OpenRisks2-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="open_risks2_treeview" width="100%" class="table_with_scroll">
				<thead>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">Cat</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">Type</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">ID</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">Country</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Process</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">Status</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Target Date (Orig)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Target Date (Current)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Open Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Missed Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%"># Open Issues</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="5%">Missed</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Risk Abstract</th>
				</thead>
				<tbody>
				{{#each RiskView2Data}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="5%" >{{#unless numTasks}}{{catP}}{{/unless}}</td>
						<td width="5%" >{{#unless numTasks}}{{type}}{{/unless}}</td>
						<td width="10%">{{#if numTasks}}<a target="_blank" href="/asmtcomponents?id={{_id}}">{{id}}</a>{{/if}}</td>
						<td width="5%">{{#if _id}}{{country}}{{else}}&nbsp;{{/if}}</td>
						<td width="15%">{{process}}</td>
						<td width="5%">{{status}}</td>
						<td width="10%">{{originalTargetDate}}</td>
						<td width="10%">{{currentTargetDate}}</td>
						<td width="5%">{{numTasks}}</td>
						<td width="5%">{{numTasksOpen}}</td>
						<td width="5%">{{numMissedTasks}}</td>
						<td width="5%">{{numOpenIssues}}</td>
						<td width="5%">{{#if missedFlag}}<a class="ibm-error-link"></a>{{/if}}</td>
						<td width="10%">{{riskAbstract}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
</table>
<script>
	$("#open_risks2_treeview").treetable({expandable: true });
	$("#open_risks_treeview").treetable({expandable: true });
</script>
