<link href="./css/jquery.treetable.css" rel="stylesheet" type="text/css" />

<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
	<p>
	<h3>Please select an engagement from the list</h3>
	</p>
		<table id="EngagementbyId" cellspacing="0" cellpadding="0" border="0" class="mira-dashboard-table" >
			<thead>
					<tr>
						<th scope="col">Engagement</th>
						<th scope="col">Location</th>
						<th scope="col">Location Description</th>
						<th scope="col">Organization</th>
						<th scope="col">Process</th>
						<th scope="col">Added to AQ DB</th>
						<th scope="col">Rating</th>
						<th scope="col">&nbsp;</th>
					</tr>
			</thead>
			<tbody>
			{{#each IntAud}}
				<tr data-tt-id={{_id}} data-tt-parent-id={{parentid}}>
					<td>{{engagement}}</td>
					<td>{{location}}</td>
					<td>{{locationdescription}}</td>
					<td>{{organization}}</td>
					<td>{{RPTG_PROCESS}}</td>
					<td>{{addedToAQDB}}</td>
					<td>{{rating}}</td>
					<td><input type="radio" name="IntAud" id="IAID_{{_id}}" value="{{engagement}}" idintaud="{{_id}}" addedToAQDB="{{addedToAQDB}}" rating="{{rating}}" size1="{{size}}"  score="{{score}}"{{#if (eq _id ../parentid)}}checked {{/if}}/></td>
					<td></td>
				</tr>
			{{/each}}
		  </tbody>
		</table>
		<div class="ibm-buttons-row" style="box-sizing: border-box; width:95%" >
		<p>
			<input class="ibm-btn-pri" type="button" id="btn_okIntAudId" value="OK"/>
			<span class="ibm-sep">&nbsp;</span>
			<input class="ibm-btn-sec" type="button" id="btn_cancelIntAudId" value="Cancel" />
		</p>
	</div>
  </div>
</div>
<script>
	    $(document).ready(function() {
		if($("#btn_Select").length > 0){
			$('#btn_Select').click(function() {
			    if($("select[name='myselection']").val() == 'ById'){
				ibmweb.overlay.show('Overlay_EventbyId');
				}
/*				else if($("select[name='myselection']").val() == 'ByDistribution'){
				ibmweb.overlay.show('Overlay_EventbyDist');
				}
				else if($("select[name='myselection']").val() == 'ByLocation'){
				ibmweb.overlay.show('Overlay_EventbyLoc');
				}
				else if($("select[name='myselection']").val() == 'ByProcess'){
				ibmweb.overlay.show('Overlay_EventbyPro');
				}
				else if($("select[name='myselection']").val() == 'ByOrganization'){
				ibmweb.overlay.show('Overlay_EventbyOrg');
				}*/
			});
		}
		
		if($("#btn_okIntAudId").length > 0){
			$("#btn_okIntAudId").click(function() {
				//Update data	
                    var p_id=$("input[name='IntAud']:checked").attr("idintaud");
					var pEngagement = $("input[name='IntAud']:checked").attr("value");
					var paddedToAQDB = $("input[name='IntAud']:checked").attr("addedToAQDB");
					var pRating = $("input[name='IntAud']:checked").attr("rating");
					var pSize = $("input[name='IntAud']:checked").attr("size");
					var pScore = $("input[name='IntAud']:checked").attr("rating");
					var adding='<tr><td><a href="/asmtcomponents?id='+p_id+'">'+pEngagement+'</a></td><td>'+paddedToAQDB+'</td><td>'+pRating+'</td><td>'+pSize+'</td><td>'+pScore+'</td><td><a class="ibm-delete-link" id="btn_remove" name="btn_remove" value="Remove" href="javascript:void(0);">Remove</a></td></tr>';
					
					var flagIntAud='1';		
					$('#flagIntAud').val(flagIntAud);	
					$('#InternalAudits').val(adding);
					//get all values to save on InternalAuditsData	
                    var list=$('#InternalAuditsData').val();
					if(list == "")
						list = p_id;
					else{
						if(list.indexOf(p_id) == -1)
							list = list + ',' + p_id;
					}
					$('#InternalAuditsData').val(list);
			        ibmweb.overlay.hide('Overlay_EventbyId');
				//alert("It is required to save the document to apply the changes.");
			});
		}
		if($("#btn_cancelIntAudId").length > 0){
			$('#btn_cancelIntAudId').click(function() {
			    var flagIntAud='0';	
                var adding='';				
					$('#flagIntAud').val(flagIntAud);	
					$('#InternalAudits').val(adding);		
				ibmweb.overlay.hide('Overlay_EventbyId');
			});
		}
		
	});    	
</script> 