<link href="./css/jquery.treetable.css" rel="stylesheet" type="text/css" />

<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
	<p>
	<h3>Please select an engagement from the list</h3>
	</p>
		<table id="EngagementbyPro" cellspacing="0" cellpadding="0" border="0" class="mira-dashboard-table" >
			<thead>
					<tr>
						<th scope="col">Process</th>
						<th scope="col">Location</th>
						<th scope="col">Location Description</th>
						<th scope="col">Engagement</th>
						<th scope="col">Organization</th>						
						<th scope="col">Added to AQ DB</th>
						<th scope="col">Rating</th>
					</tr>
			</thead>
			<tbody>
			{{#each CUParents}}
				<tr data-tt-id={{_id}} data-tt-parent-id={{parentid}}>
					<td>{{RPTG_PROCESS}}</td>
				    <td>{{location}}</td>					
					<td>{{locationdescription}}</td>
					<td>{{engagement}}</td>
					<td>{{organization}}</td>
					<td>{{addedToAQDB}}</td>
					<td>{{rating}}</td>
					<td><input type="radio" name="IntAud" id="IAID_{{_id}}" value="{{engagement}}" idintaud="{{_id}}" addedToAQDB="{{addedToAQDB}}" rating="{{rating}}" size1="{{size}}"  score="{{score}}"{{#if (eq _id ../parentid)}}checked {{/if}}/></td>
					<td></td>
				</tr>
			{{/each}}
		  </tbody>
		</table>
		<div class="ibm-buttons-row" style="box-sizing: border-box; width:95%" >
		<p>
			<input class="ibm-btn-pri" type="button" id="btn_okIntAudPro" value="Update"/>
			<span class="ibm-sep">&nbsp;</span>
			<input class="ibm-btn-sec" type="button" id="btn_cancelIntAudPro" value="Close" />
		</p>
	</div>
  </div>
</div>
<script>
	    $(document).ready(function() {
		if($("#btn_Select").length > 0){
			$('#btn_Select').click(function() {
			    if($("select[name='myselection']").val() == 'ByLocation'){
				ibmweb.overlay.show('Overlay_EventbyPro');
				}
			});
		}
		
		if($("#btn_okIntAudPro").length > 0){
			$("#btn_okIntAudPro").click(function() {
				//Update data						   
					var pEngagement = $("input[name='IntAud']:checked").attr("value");
					var paddedToAQDB = $("input[name='IntAud']:checked").attr("addedToAQDB");
					var pRating = $("input[name='IntAud']:checked").attr("rating");
					var pSize = $("input[name='IntAud']:checked").attr("size");
					var pScore = $("input[name='IntAud']:checked").attr("rating");
                    
					var adding='<tr><td>'+pEngagement+'</td><td>'+paddedToAQDB+'</td><td>'+pRating+'</td><td>'+pSize+'</td><td>'+pScore+'</td></tr>';
					console.log('vamos:'+adding);
					var flagIntAud='1';		
					$('#flagIntAud').val(flagIntAud);	
					$('#InternalAudits').val(adding);						
					//$('#internalauditsview_table tbody').append('<tr><td>'+pEngagement+'</td><td>'+paddedToAQDB+'</td><td>'+pRating+'</td><td>'+pSize+'</td><td>'+pScore+'</td></tr>');

				
				ibmweb.overlay.hide('Overlay_EventbyPro');
				//alert("It is required to save the document to apply the changes.");
			});
		}
		if($("#btn_cancelIntAudPro").length > 0){
			$('#btn_cancelIntAudPro').click(function() {
			    var flagIntAud='0';	
                var adding='';				
					$('#flagIntAud').val(flagIntAud);	
					$('#InternalAudits').val(adding);		
				ibmweb.overlay.hide('Overlay_EventbyPro');
			});
		}
		
	});    	
</script> 