<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>For Administrative Use Only</em></caption>

	{{#if editmode}}

		{{!-- AU Country Process form - Administrative Use Only section - Edit Mode with Admin Access --}}
		{{#if admin}}
			<tr>
				<td width="25%"><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>
			<tr>
				<td><label for="AuditableFlag">Auditable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if AuditableFlagYes}}
							<input type="radio" name="AuditableFlag" id="AFYes" value="Yes" checked>Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No">No
						{{else}}
							<input type="radio" name="AuditableFlag" id="AFYes" value="Yes">Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="CUFlag">Controllable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if CUFlagYes}}
							<input type="radio" name="CUFlag" value="Yes" id="CFYes" checked>Yes
							<input type="radio" name="CUFlag" value="No" id="CFNo">No
						{{else}}
							<input type="radio" name="CUFlag" value="Yes" id="CFYes">Yes
							<input type="radio" name="CUFlag" value="No" id="CFNo" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			<tr class="size">
				<td><label for="CUSize">Size:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
					{{{uniqueSelect "CUSize" parameters.UnitSizes.0.options "name" "name" CUSize}}}
					</span>
				</td>
			</tr>
			{{#if_equal EnteredBU "GTS"}}
				<tr>
					<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
					<td>
						<span>
							{{{uniqueSelect "AuditProgram" parameters.GTSAuditPrograms.0.options "name" "name" AuditProgram}}}
						</span>
					</td>
				</tr>
			{{else}}
				<tr>
					<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
					<td>
						<span>
							{{{uniqueSelect "AuditProgram" parameters.GBSAuditPrograms.0.options "name" "name" AuditProgram}}}
						</span>
					</td>
				</tr>
			{{/if_equal}}
			<tr class="internal-audits">
				<td>Internal Audits:</td>
				<td>
					<div class="ibm-columns ibm-graphic-tabs">
						<table id="internalauditsview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
							<thead class="mira-subtable">
                <th scope="col"><font color="#FFF">Engagement</font></th>
								<th scope="col"><font color="#FFF">Added to AQ DB</font></th>
								<th scope="col"><font color="#FFF">Rating</font></th>
								<th scope="col"><font color="#FFF">Size</font></th>
								<th scope="col"><font color="#FFF">Score</font></th>
							</thead>
							{{#each IAData}}
							<tr>
								{{#each col}}<td>{{this}}</td>{{/each}}
							</tr>
							{{/each}}
						</table>
					</div>
				</td>
			</tr>

		{{else}}

			{{!-- AU Country Process form - Administrative Use Only section - Edit Mode with no Admin Access --}}
			<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
			<tr><td>Auditable Unit?:</td><td>{{AuditableFlag}}</td></tr>
			<tr><td>Controllable Unit?:</td><td>{{CUFlag}}</td></tr>
			{{#if SizeFlag}}
				<tr><td>Size:</td><td>{{CUSize}}</td></tr>
			{{/if}}
			<tr><td>Audit Program:</td><td>{{AuditProgram}}</td></tr>
			{{#if AuditableFlagYes}}
				<tr>
					<td>Internal Audits:</td>
					<td>
						<div class="ibm-columns ibm-graphic-tabs">
							<table id="internalauditsview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
								<thead class="mira-subtable">
                  <th scope="col"><font color="#FFF">Engagement</font></th>
  								<th scope="col"><font color="#FFF">Added to AQ DB</font></th>
  								<th scope="col"><font color="#FFF">Rating</font></th>
  								<th scope="col"><font color="#FFF">Size</font></th>
  								<th scope="col"><font color="#FFF">Score</font></th>
								</thead>
								{{#each IAData}}
								<tr>
									{{#each col}}<td>{{this}}</td>{{/each}}
								</tr>
								{{/each}}
							</table>
						</div>
					</td>
				</tr>
			{{/if}}
		{{/if}}

	{{else}}

		{{!-- AU Country Process form - Administrative Use Only section - Read Mode --}}
		<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
		<tr><td>Auditable Unit?:</td><td>{{AuditableFlag}}</td></tr>
		<tr><td>Controllable Unit?:</td><td>{{CUFlag}}</td></tr>
		{{#if SizeFlag}}
			<tr><td>Size:</td><td>{{CUSize}}</td></tr>
		{{/if}}
		<tr><td>Audit Program:</td><td>{{AuditProgram}}</td></tr>
		{{#if AuditableFlagYes}}
			<tr>
				<td>Internal Audits:</td>
				<td>
					<div class="ibm-columns ibm-graphic-tabs">
						<table id="internalauditsview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
							<thead class="mira-subtable">
                <th scope="col"><font color="#FFF">Engagement</font></th>
								<th scope="col"><font color="#FFF">Added to AQ DB</font></th>
								<th scope="col"><font color="#FFF">Rating</font></th>
								<th scope="col"><font color="#FFF">Size</font></th>
								<th scope="col"><font color="#FFF">Score</font></th>
							</thead>
							{{#each IAData}}
							<tr>
								{{#each col}}<td>{{this}}</td>{{/each}}
							</tr>
							{{/each}}
						</table>
					</div>
				</td>
			</tr>
		{{/if}}
	{{/if}}

</table>
