<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
	{{#if editmode}}
		<!-- Edit Mode -->
		{{#if admin}}
			<!-- Admin Edit Mode - Fields are Editable -->
			<tr>
				<td width="25%"><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>
			<tr>
				<td><label for="AuditableFlag">Auditable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if AuditableFlagYes}}
							<input type="radio" name="AuditableFlag" id="AFYes" value="Yes" checked>Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No">No
						{{else}}
							<input type="radio" name="AuditableFlag" id="AFYes" value="Yes">Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="CUFlag">Controllable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if CUFlagYes}}
							<input type="radio" name="CUFlag" value="Yes" id="CFYes" checked>Yes
							<input type="radio" name="CUFlag" value="No" id="CFNo">No
						{{else}}
							<input type="radio" name="CUFlag" value="Yes" id="CFYes">Yes
							<input type="radio" name="CUFlag" value="No" id="CFNo" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			<tr class="size">
				<td><label for="CUSize">Size:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
					{{{uniqueSelect "CUSize" parameters.UnitSizes.0.options "name" "name" CUSize "required"}}}
					</span>
				</td>
			</tr>
			<tr class="CUCategory">
				<td><label for="CUCat">Controllable Unit Category:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
					{{{uniqueSelect "CUCat" CUCatList "name" "name" CUCat "required"}}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="OpMetricKey">Operational Metric Key:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{{uniqueSelect "OpMetricKey" parameters.GTSOpMetricKeys.0.options "id" "name" OpMetricKey "required"}}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{{uniqueSelect "AuditProgram" parameters.GTSAuditPrograms.0.options "name" "name" AuditProgram "required"}}}
					</span>
				</td>
			</tr>
			{{>auinternalaudit/internalauditedit}}
		{{else}}
			<!-- Non-Admin Edit Mode - Fields are not Editable -->
			<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
			<tr><td>Auditable Unit?:<span class="ibm-required">*</span></td><td>{{AuditableFlag}}</td></tr>
			<tr><td>Controllable Unit?:<span class="ibm-required">*</span></td><td>{{CUFlag}}</td></tr>
			{{#if SizeFlag}}
				<tr><td>Size:<span class="ibm-required">*</span></td><td>{{CUSize}}</td></tr>
				<tr><td>Controllable Unit Category:<span class="ibm-required">*</span></td><td>{{CUCat}}</td></tr>
			{{/if}}
			<tr>
				<td>Operational Metric Key:<span class="ibm-required">*</span></td>
				<td>
					{{#each parameters.GTSOpMetricKeys.0.options}}
						{{#if_equal id ../OpMetricKey}}
							{{name}}
						{{/if_equal}}
					{{/each}}
				</td>
			</tr>
			<tr><td>Audit Program:<span class="ibm-required">*</span></td><td>{{AuditProgram}}</td></tr>
			{{#if AuditableFlagYes}}
				{{>auinternalaudit/internalauditread}}
			{{/if}}
		{{/if}}
	{{else}}
		<!-- Read Mode  -->
		<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
		<tr><td>Auditable Unit?:<span class="ibm-required">*</span></td><td>{{AuditableFlag}}</td></tr>
		<tr><td>Controllable Unit?:<span class="ibm-required">*</span></td><td>{{CUFlag}}</td></tr>
		{{#if SizeFlag}}
			<tr><td>Size:<span class="ibm-required">*</span></td><td>{{CUSize}}</td></tr>
			<tr><td>Controllable Unit Category:<span class="ibm-required">*</span></td><td>{{CUCat}}</td></tr>
		{{/if}}
		<tr>
			<td>Operational Metric Key:<span class="ibm-required">*</span></td>
			<td>
				{{#each parameters.GTSOpMetricKeys.0.options}}
					{{#if_equal id ../OpMetricKey}}
						{{name}}
					{{/if_equal}}
				{{/each}}
			</td>
		</tr>
		<tr><td>Audit Program:<span class="ibm-required">*</span></td><td>{{AuditProgram}}</td></tr>
		{{#if AuditableFlagYes}}
			{{>auinternalaudit/internalauditread}}
		{{/if}}
	{{/if}}
</table>
