<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
	{{#if editmode}}
		<!-- Edit Mode -->
		{{#if admin}}
			<!-- Admin Edit Mode - Fields are Editable -->
			<tr>
				<td width="25%"><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>
			<tr>
				<td><label for="AuditableFlag">Auditable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if AuditableFlagYes}}
							<input type="radio" name="AuditableFlag" id="AFYes" value="Yes" checked>Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No">No
						{{else}}
							<input type="radio" name="AuditableFlag" id="AFYes" value="Yes">Yes
							<input type="radio" name="AuditableFlag" id="AFNo" value="No" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="CUFlag">Controllable Unit?:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{#if CUFlagYes}}
							<input type="radio" name="CUFlag" value="Yes" id="CFYes" checked>Yes
							<input type="radio" name="CUFlag" value="No" id="CFNo">No
						{{else}}
							<input type="radio" name="CUFlag" value="Yes" id="CFYes">Yes
							<input type="radio" name="CUFlag" value="No" id="CFNo" checked>No
						{{/if}}
					</span>
				</td>
			</tr>
			<tr class="size">
				<td><label for="CUSize">Size:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
					{{{uniqueSelect "CUSize" parameters.UnitSizes.0.options "name" "name" CUSize}}}
					</span>
				</td>
			</tr>
			<tr>
				<td><label for="OpMetricKey">Operational Metric Key:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{{uniqueSelect "OpMetricKey" parameters.GTSOpMetricKeys.0.options "id" "name" OpMetricKey}}}
					</span>
				</td>
			</tr>			
			<tr>
				<td><label for="AuditProgram">Audit Program:<span class="ibm-required">*</span></label></td>
				<td>
					<span>
						{{{uniqueSelect "AuditProgram" parameters.GTSAuditPrograms.0.options "name" "name" AuditProgram}}}
					</span>
				</td>
			</tr>
			<tr class="internal-audits">
				<td><label>Internal Audits:</label>
					<input type="text" id="InternalAudits"  size="10"  style="visibility:hidden">
					<input type="hidden" id="InternalAuditsData" name="InternalAuditsData"  value="{{InternalAuditsData}}">
					<input type="text" id="flagIntAud"  size="10"  style="visibility:hidden"></td>
				<td>
					<div class="ibm-columns ibm-graphic-tabs">
					   <div>
						<a href="javascript:void(0);" value="Find Select" name="btn_findselect" id="btn_findselect" class="ibm-signin-link">Find/Select</a>
						<a href="javascript:void(0);" value="Remove" name="btn_remove" id="btn_remove" class="ibm-signin-link">Remove</a>
					</div>
					<div id="Overlay_Event2" title="Find Engagement" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>aucountryprocess/findengagement}}
					</div>
						<table id="internalauditsview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
							<thead class="mira-subtable">
								<th scope="col"><font color="#FFF">Engagement</font></th>
								<th scope="col"><font color="#FFF">Added to AQ DB</font></th>
								<th scope="col"><font color="#FFF">Rating</font></th>
								<th scope="col"><font color="#FFF">Size</font></th>
								<th scope="col"><font color="#FFF">Score</font></th>
							</thead>
							<tbody>
							{{#each InternalAuditsDataDisp}}
							<tr>
								<td><a href="/assessment?id={{docid}}">{{engagement}}</a></td>
									<td>{{addedToAQDB}}</td>
									<td>{{rating}}</td>
									<td>{{size}}</td>
									<td>{{score}}</td>
							</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		{{else}}
			<!-- Non-Admin Edit Mode - Fields are not Editable -->
			<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
			<tr><td>Auditable Unit?:</td><td>{{AuditableFlag}}</td></tr>
			<tr><td>Controllable Unit?:</td><td>{{CUFlag}}</td></tr>
			{{#if SizeFlag}}
				<tr><td>Size:</td><td>{{CUSize}}</td></tr>
			{{/if}}
			<tr>
				<td>Operational Metric Key:</td>
				<td>
					{{#each parameters.GTSOpMetricKeys.0.options}}
						{{#if_equal id ../OpMetricKey}}
							{{name}}
						{{/if_equal}}
					{{/each}}
				</td>
			</tr>
			<tr><td>Audit Program:</td><td>{{AuditProgram}}</td></tr>
			{{#if AuditableFlagYes}}
				<tr>
					<td>Internal Audits:</td>
					<td>
						<div class="ibm-columns ibm-graphic-tabs">
							<table id="internalauditsview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
								<thead class="mira-subtable">
									<th scope="col"><font color="#FFF">Engagement</font></th>
									<th scope="col"><font color="#FFF">Added to AQ DB</font></th>
									<th scope="col"><font color="#FFF">Rating</font></th>
									<th scope="col"><font color="#FFF">Size</font></th>
									<th scope="col"><font color="#FFF">Score</font></th>
								</thead>
								<tbody>
									{{#each InternalAuditsDataDisp}}
									<tr>
										<td>{{engagement}}</td>
											<td>{{addedToAQDB}}</td>
											<td>{{rating}}</td>
											<td>{{size}}</td>
											<td>{{score}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			{{/if}}
		{{/if}}
	{{else}}
		<!-- Read Mode  -->
		<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
		<tr><td>Auditable Unit?:</td><td>{{AuditableFlag}}</td></tr>
		<tr><td>Controllable Unit?:</td><td>{{CUFlag}}</td></tr>
		{{#if SizeFlag}}
			<tr><td>Size:</td><td>{{CUSize}}</td></tr>
		{{/if}}
		<tr>
			<td>Operational Metric Key:</td>
			<td>
				{{#each parameters.GTSOpMetricKeys.0.options}}
					{{#if_equal id ../OpMetricKey}}
						{{name}}
					{{/if_equal}}
				{{/each}}
			</td>
		</tr>
		<tr><td>Audit Program:</td><td>{{AuditProgram}}</td></tr>
		{{#if AuditableFlagYes}}
			<tr>
				<td>Internal Audits:</td>
				<td>
					<div class="ibm-columns ibm-graphic-tabs">
						<table id="internalauditsview_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
							<thead class="mira-subtable">
								<th scope="col"><font color="#FFF">Engagement</font></th>
								<th scope="col"><font color="#FFF">Added to AQ DB</font></th>
								<th scope="col"><font color="#FFF">Rating</font></th>
								<th scope="col"><font color="#FFF">Size</font></th>
								<th scope="col"><font color="#FFF">Score</font></th>
							</thead>
							<tbody>
								{{#each InternalAuditsDataDisp}}
								<tr>
									<td>{{engagement}}</td>
										<td>{{addedToAQDB}}</td>
										<td>{{rating}}</td>
										<td>{{size}}</td>
										<td>{{score}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		{{/if}}
	{{/if}}
</table>
