{{!-- AU Global Process form - Basic section - Edit/Read Mode --}}
<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Basics</em></caption>
	<tr>
		<td width="25%">Parent Global Process:</td><td>{{GlobalProcess}}</td>
	</tr>
	<tr>
		<td>Business Unit:</td><td>{{BusinessUnit}}</td>
	</tr>
	<tr>
		<td>Country:</td><td>{{Country}}</td>
	</tr>
	<tr>
		<td>BU IMT:</td><td>{{IMT}}</td>
	</tr>
	<tr>
		<td>BU IOT:</td><td>{{IOT}}</td>
	</tr>
	<tr>
		<td>Current reporting period:</td><td>{{CurrentPeriod}}</td>
	</tr>
	<tr>
		<td>Status:</td><td>{{Status}}</td>
	</tr>
</table>
