<textarea name="textarea" id="AUniverseDataExport" cols="100" style="display:none">{{valuesToString exportAUniverse}}</textarea>
<table id="audit_universe_table" class="ibm-data-table">
	<thead class="other">
		<th class="other">Weighted Score:</th>
	</thead>
	<tr class="other">
		<td>
			<a href="javascript:void(0);" value="Export to Excel" name="AUniverse-link-export" id="AUniverse-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="AUniverse-link-export2" id="AUniverse-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="AUniverse_treeview" width="100%" class="other-viewheader table_with_scroll">
				<thead>
					<th class="other-viewheader" scope="col" width="6%"></th>
					<th class="other-viewheader" scope="col" width="15%">Audit Universe</th>
					<th class="other-viewheader" scope="col" width="5%">Count</th>
					<th class="other-viewheader" scope="col" width="8%">Type</th>
					<th class="other-viewheader" scope="col" width="8%">Audit Readiness Review Status</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 4</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 3</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 2</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 1</th>
					<th class="other-viewheader" scope="col" width="5%">Current Quarter (CQ)</th>
					<th class="other-viewheader" scope="col" width="5%">Next Qtr Outlook</th>
					<th class="other-viewheader" scope="col" width="5%">Target to Sat</th>
					<th class="other-viewheader" scope="col" width="4%">Size</th>
					<th class="other-viewheader" scope="col" width="4%">Max Score</th>
					<th class="other-viewheader" scope="col" width="5%">CQ Score</th>
					<th class="other-viewheader" scope="col" width="10%">Explanation</th>
				</thead>
				<tbody>
				{{#each AUData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="6%">{{name}}</td>
						<td width="15%">{{AssessableUnitName}}</td>
						<td width="5%">{{counter}}</td>
						<td width="8%">{{Portfolio}}</td>
						<td width="8%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="4%">{{process}}</td>
						<td width="4%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="10%">{{process}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
</table>
<script>
	$("#AUniverse_treeview").treetable({expandable: true });
</script>
