<script src="/public/js/bucountry_performanceoverview.js"></script>
<script src='/public/js/utility.js'></script>
<table id="po_table" class="ibm-data-table">
	<input type="hidden" name="opMetricIDs" id="opMetricIDs" value="{{opMetricIDs}}">
	{{#if editmode}}
		<tr class="ar-asmt-content">
			<td>
				<table width="100%" class="ibm-data-table">
					<tr>
						<th class="ar-asmt-label" width="25%">Performance Indicators</th>
						<th class="ar-asmt-label" width="10%"></th>
						<th class="ar-asmt-label" width="65%">Summary/Comments</th>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="OverallAssessmentComments">Overall Assessment</label></td>
						{{{ratingDisplayView PeriodRating}}}
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="OverallAssessmentComments" type="text" name="OverallAssessmentComments" class="mira-field" for="Overall Assessment Comments">{{OverallAssessmentComments}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="KCFRTestingComments">KCFR Defect Rate</label></td>
						{{{defectRateDisplayViewWpercent KCFRDefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="KCFRTestingComments" type="text" name="KCFRTestingComments" class="mira-field" for="KCFR Defect Rate Comments">{{KCFRTestingComments}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="KCOTestingComments">KCO Defect Rate</label></td>
						{{{defectRateDisplayViewWpercent KCODefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="KCOTestingComments" type="text" name="KCOTestingComments" class="mira-field" for="KCO defect rate Comments">{{KCOTestingComments}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="CorpIAComments">CHQ Internal Audit Score</label></td>
						<td class="content-data-centered">{{WeightedAuditScore}}</td>
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="CorpIAComments" type="text" name="CorpIAComments" class="mira-field" for="CHQ internal audit score comments">{{CorpIAComments}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="MissedREComments">Missed Risk Evaluations</label></td>
						<td class="content-data-centered">{{MissedOpenIssueCount}}</td>
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="MissedREComments" type="text" name="MissedREComments" class="mira-field" for="Missed Risk Evaluations comments">{{MissedREComments}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="MissedMSACComments">Missed MSAC Commitments</label></td>
						<td class="content-data-centered">{{MissedMSACSatCount}}</td>
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="MissedMSACComments" type="text" name="MissedMSACComments" class="mira-field" for="Missed MSAC Commitments">{{MissedMSACComments}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<th class="ar-asmt-label">Operational and Other Indicators</th>
						<th class="ar-asmt-label"></th>
						<th class="ar-asmt-label">Summary/Comments</th>
					</tr>
					{{#each OpMetric}}
						<input type="hidden" name="{{namefield}}" id="{{namefield}}" value="{{name}}" class="mira-field" for="Operational metric name">
						<tr>
							<td class="ar-asmt-label">{{name}}</td>
							<td class="content-data">
									<span>{{{uniqueSelect ratingfield ../parameters.OpMetricRating.0.options "name" "name" rating}}}</span>
							</td>
							<td class="content-data">
								<!-- {{commentfield}} -->
								<div class='yui-skin-sam'>
									<span>
										<textarea id="{{commentfield}}" type="text" name="{{commentfield}}">{{action}}</textarea>
									</span>
								</div>
							</td>
						</tr>
					{{/each}}
					<tr>
						<td class="ar-asmt-label"><label for="BoCComments">Basics of Control Exceptions</label></td>
						<td class="asmt-viewdata-centered">{{BOCExceptionCount}}</td>
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="BoCComments" type="text" name="BoCComments" class="mira-field" for="Basic control of Exceptions comments">{{BoCComments}}</textarea></span>
							</div>
						</td>
					</tr>
				</table>
				<table width="100%">
					<tr>
						<td class="ar-asmt-label" width="25%"><label for="PerfOverviewOtherExplanation">Other Explanation</label></td>
						<td class="content-data" width="75%">
							<div class='yui-skin-sam'>
								<span><textarea id="PerfOverviewOtherExplanation" type="text" name="PerfOverviewOtherExplanation" class="mira-field" for="Performance Overview Explanation">{{PerfOverviewOtherExplanation}}</textarea></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label"><label for="PerfOverviewCriticaExplanation">Critical Issues</label></td>
						<td class="content-data">
							<div class='yui-skin-sam'>
								<span><textarea id="PerfOverviewCriticaExplanation" type="text" name="PerfOverviewCriticaExplanation" class="mira-field" for="Critical issues">{{PerfOverviewCriticaExplanation}}</textarea></span>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	{{else}} <!-- Read Mode  -->
		<tr class="ar-asmt-content">
			<td>
				<table width="100%" class="ibm-data-table">
					<tr>
						<th class="ar-asmt-label" width="25%">Performance Indicators</th>
						<th class="ar-asmt-label" width="10%"></th>
						<th class="ar-asmt-label" width="65%">Summary/Comments</th>
					</tr>
					<tr>
						<td class="ar-asmt-label">Overall Assessment</td>
						{{{ratingDisplayView PeriodRating}}}
						<td class="content-data">
							<input type="hidden" name="OverallAssessmentCommentsRO" value="{{OverallAssessmentComments}}" class="mira-field" for="Overall Assessment Comments">
							<div id="OverallAssessmentCommentsReadOnly"></div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label">KCFR Defect Rate</td>
						{{{defectRateDisplayViewWpercent KCFRDefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
						<td class="content-data">
							<input type="hidden" name="KCFRTestingCommentsRO" value="{{KCFRTestingComments}}" class="mira-field" for="KCFR Defect Rate Comments">
							<div id="KCFRTestingCommentsReadOnly"></div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label">KCO Defect Rate</td>
						{{{defectRateDisplayViewWpercent KCODefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
						<td class="content-data">
							<input type="hidden" name="KCOTestingCommentsRO" value="{{KCOTestingComments}}" class="mira-field" for="KCO defect rate Comments">
							<div id="KCOTestingCommentsReadOnly"></div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label">CHQ Internal Audit Score</td>
						<td class="content-data-centered">{{WeightedAuditScore}}</td>
						<td class="content-data">
							<input type="hidden" name="CorpIACommentsRO" value="{{CorpIAComments}}" class="mira-field" for="CHQ internal audit score comments">
							<div id="CorpIACommentsReadOnly"></div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label">Missed Risk Evaluations</td>
						<td class="content-data-centered">{{MissedOpenIssueCount}}</td>
						<td class="content-data">
							<input type="hidden" name="MissedRECommentsRO" value="{{MissedREComments}}" class="mira-field" for="Missed Risk Evaluations comments">
							<div id="MissedRECommentsReadOnly"></div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label">Missed MSAC Commitments</td>
						<td class="content-data-centered">{{MissedMSACSatCount}}</td>
						<td class="content-data">
							<input type="hidden" name="MissedMSACCommentsRO" value="{{MissedMSACComments}}" class="mira-field" for="Missed MSAC Commitments">
							<div id="MissedMSACCommentsReadOnly"></div>
						</td>
					</tr>
					<tr>
						<th class="ar-asmt-label">Operational and Other Indicators</th>
						<th class="ar-asmt-label"></th>
						<th class="ar-asmt-label">Summary/Comments</th>
					</tr>
					{{#each OpMetric}}
						<tr>
							<td class="ar-asmt-label">{{name}}</td>
							{{{ratingDisplayView rating}}}
							<td class="content-data">
								<input type="hidden" name="{{commentfieldRO}}" value="{{action}}" class="mira-field" for="Operational and other indicators">
								<div id="{{commentfieldReadOnly}}"></div>
							</td>
						</tr>
					{{/each}}
					<tr>
						<td class="ar-asmt-label">Basics of Control Exceptions</td>
						<td class="asmt-viewdata-centered">{{BOCExceptionCount}}</td>
						<td class="content-data">
							<input type="hidden" name="BoCCommentsRO" value="{{BoCComments}}" class="mira-field" for="Basic control of Exceptions comments">
							<div id="BoCCommentsReadOnly"></div>
						</td>
					</tr>
				</table>
				<table width="100%">
					<tr>
						<td class="ar-asmt-label" width="25%">Other Explanation</td>
						<td class="content-data" width="75%">
							<input type="hidden" name="PerfOverviewOtherExplanationRO" value="{{PerfOverviewOtherExplanation}}" class="mira-field" for="Performance Overview Explanation">
							<div id="PerfOverviewOtherExplanationReadOnly"></div>
						</td>
					</tr>
					<tr>
						<td class="ar-asmt-label">Critical Issues</td>
						<td class="content-data">
							<input type="hidden" name="PerfOverviewCriticaExplanationRO" value="{{PerfOverviewCriticaExplanation}}" class="mira-field" for="Critical issues">
							<div id="PerfOverviewCriticaExplanationReadOnly"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	{{/if}}
	<tr class="ar-asmt-content">
		<td>
			<span id="CPCUPerformanceIn_tittle" name = "CPCUPerformanceIn_tittle"  class="ar-asmt-header">Country Process and CU Performance Indicators</span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="POBU-link-export" id="POBU-link-export" class="ibm-symp-spreadsheet whiteanchor" >Export to Excel</a>
			<span class="ibm-sep">&nbsp;</span>
			<a href="javascript:void(0);" value="Export to Open Office" name="POBU-link-export2" id="POBU-link-export2" class="ibm-symp-spreadsheet whiteanchor" >Export to Open Office</a>
			<br /><br />
			<table width="100%" id="CPCUPerformanceIn_treeview" class="other-viewheader table_with_scroll">
				<thead>
					<th class="ar-asmt-viewheader" scope="col" width="33%">Assessed Unit</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">CQ-4</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">CQ-3</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">CQ-2</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">CQ-1</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">Current Quarter (CQ)</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">KCFR Defect Rate</th>
					<th class="ar-asmt-viewheader" scope="col" width="7%">KCO Defect Rate</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Missed Risk Evaluations</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Missed MSAC Commitments</th>
				</thead>
				<tbody>
				{{#each BUCAsmtDataPIview}}
					<tr class="asmt-viewdata" data-tt-id={{docid}} data-tt-parent-id="{{treeParent}}">
						{{#if_equal name ""}}
							<td class="asmt-viewdata" width="33%">&nbsp;</td>
						{{else}}
							{{#if_greater treeParent "-1"}}
								<td class="asmt-viewdata" width="33%">{{name}}</td>
							{{else}}
								<td class="asmt-viewdata" width="33%"><a target="_blank" href="/assessment?id={{docid}}">{{name}}</a></td>
							{{/if_greater}}

						{{/if_equal}}
						{{{ratingDisplayView ratingPQ4 7}}}
						{{{ratingDisplayView ratingPQ3 7}}}
						{{{ratingDisplayView ratingPQ2 7}}}
						{{{ratingDisplayView ratingPQ1 7}}}
						{{{ratingDisplayView ratingCQ 7}}}
						{{{defectRateDisplayViewNoDash kcfrDR ../parameters.MargThresholdPercent.0.options.0.name ../parameters.UnsatThresholdPercent.0.options.0.name 7}}}
						{{{defectRateDisplayViewNoDash kcoDR ../parameters.MargThresholdPercent.0.options.0.name ../parameters.UnsatThresholdPercent.0.options.0.name 7}}}
						<td class="asmt-viewdata" width="9%">{{msdRisk}}</td>
						<td class="asmt-viewdata" width="9%">{{msdMSAC}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
			<br />
			<span id="CPCUPerformanceInOthers_tittle" name = "CPCUPerformanceInOthers_tittle" class="ar-asmt-header">Country Process and CU Operational and Other Indicators</span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="POBUOT-link-export"  class="ibm-symp-spreadsheet whiteanchor" id="POBUOT-link-export">Export to Excel</a>
			<span class="ibm-sep">&nbsp;</span>
			<a href="javascript:void(0);" value="Export to Open Office" name="POBUOT-link-export2"  class="ibm-symp-spreadsheet whiteanchor" id="POBUOT-link-export2">Export to Open Office</a>
			<br /><br />
			<table width="100%" id="CPCUPerformanceInOther_treeview" class="other-viewheader table_with_scroll">
				<thead>
					<th class="ar-asmt-viewheader" scope="col" width="37%">Assessed Unit</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Proactive Reviews</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Procurement Bypass (YTD)</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Labour Claiming</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">DS&amp;P Overall Rating</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Unauthorized Pricing Commitments (UPC)</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Basics of Controls Exceptions</th>
					<th class="ar-asmt-viewheader" scope="col" width="9%">Other Metrics</th>
				</thead>
				{{#each BUCAsmtDataOIview}}
					<tr class="asmt-viewdata" data-tt-id={{docid}} data-tt-parent-id="{{treeParent}}">
						{{#if_equal name ""}}
							<td class="asmt-viewdata" width="37%">&nbsp;</td>
						{{else}}
							{{#if_greater treeParent "-1"}}
								<td class="asmt-viewdata" width="37%">{{name}}</td>
							{{else}}
								<td class="asmt-viewdata" width="37%"><a target="_blank" href="/assessment?id={{docid}}">{{name}}</a></td>
							{{/if_greater}}

						{{/if_equal}}

						{{{ratingDisplayView OMID10Rating 9}}}
						{{{ratingDisplayView OMID11Rating 9}}}
						{{{ratingDisplayView OMID7Rating 9}}}
						{{{ratingDisplayView OMID5Rating 9}}}
						{{{ratingDisplayView OMID13Rating 9}}}
						<td class="asmt-viewdata-centered" width="9%">{{bocExCount}}</td>
						{{{ratingDisplayView OMID9Rating 9}}}
					</tr>
				{{/each}}
				<tr>
			</table>
		</td>
	</tr>
</table>

<script>

		//load tree tables for Country Process and CU Performance Indicators and others indicators tables at performanceoverview partial
	$("#CPCUPerformanceIn_treeview").treetable({expandable: true});

	$("#CPCUPerformanceInOther_treeview").treetable({expandable: true});
</script>
