{{#if editmode}}
	{{!-- AU Account assesable unit form - Basic section - Edit Mode --}}
	<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>Basics</em></caption>
		<tr><td width="25%">Parent Controllable Unit:</td><td>
			{{#if newunit}}
			{{ControllableUnit}}
			<input type="hidden" name="ControllableUnit" id="ControllableUnit" value="{{ControllableUnit}}">
			<!--<input type="hidden" name="parentid" id="parentid" value="{{parentid}}">-->
			{{else}}
			<input type="hidden" name="ControllableUnit" id="ControllableUnit" value="{{ControllableUnit}}">
			<!--<input type="hidden" name="parentid" id="parentid" value="{{parentid}}">-->
			{{{uniqueSelect "cuparentname" CUPList "_id" "Name" ControllableUnit}}}
			{{/if}}
			<!--{{ControllableUnit}}-->
		</td></tr>
		<tr>
			<td><label for="Name">Account name:<span class="ibm-required">*</span></label></td>
			<td>
				<span><input type="text" name="Name" id="Name" value="{{Name}}" size="100" maxlength="300"></span>
			</td>
		</tr>
		<tr>
			<td>Current reporting period:</td><td><b class="ibm-important">{{CurrentPeriod}}</b></td>
		</tr>
		<tr>
			<td><label for="Status">Status:<span class="ibm-required">*</span></label></td>
			<td>
				<span>{{{uniqueSelect "Status" parameters.AssessableUnitStatus.0.options "name" "name" Status}}}</span>
				<br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{StatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{StatusChangeWhen}}</span>
			</td>
		</tr>
	</table>
{{else}}
	{{!-- AU Account assesable unit form - Basic section - Read Mode --}}
	<table id="basics_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Basics</em></caption>
		<tr><td width="25%">Parent Controllable Unit:</td><td>{{ControllableUnit}}</td></tr>
		<tr><td>Account name:</td><td>{{Name}}</td></tr>
		<tr><td>Current reporting period:</td><td><b class="ibm-important">{{CurrentPeriod}}</b></td></tr>
		<tr>
			<td>Status:</td>
			<td>
				<b class="ibm-important">{{Status}}</b><br />
				<span class="mira-subdata">Status last changed by: </span><span class="mira-subdatablue">{{StatusChangeWho}}</span><span class="mira-subdata"> on </span><span class="mira-subdatablue">{{StatusChangeWhen}}</span>
			</td>
		</tr>
	</table>
{{/if}}
