<table id="audit_universe_table" class="ibm-data-table">
	<thead class="other">
		<th class="other">Weighted Score:</th>
	</thead>
	<tr class="other">
		<td>
			<table id="AUniverse_treeview"width="100%" class="other-viewheader">
				<thead>
					<th class="other-viewheader" scope="col" width="6%"></th>
					<th class="other-viewheader" scope="col" width="15%">Audit Universe</th>
					<th class="other-viewheader" scope="col" width="5%">Count</th>
					<th class="other-viewheader" scope="col" width="8%">Type</th>
					<th class="other-viewheader" scope="col" width="8%">Audit Readiness Review Status</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 4</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 3</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 2</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 1</th>
					<th class="other-viewheader" scope="col" width="5%">Current Quarter (CQ)</th>
					<th class="other-viewheader" scope="col" width="5%">Next Qtr Outlook</th>
					<th class="other-viewheader" scope="col" width="5%">Target to Sat</th>
					<th class="other-viewheader" scope="col" width="4%">Size</th>
					<th class="other-viewheader" scope="col" width="4%">Max Score</th>
					<th class="other-viewheader" scope="col" width="5%">CQ Score</th>
					<th class="other-viewheader" scope="col" width="10%">Explanation</th>
				</thead>
				<tbody>
				{{#each AUData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="6%">{{name}}</td>
						<td width="15%">{{counter}}</td>
						<td width="5%">{{Portfolio}}</td>
						<td width="8%">{{process}}</td>
						<td width="8%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="4%">{{process}}</td>
						<td width="4%">{{process}}</td>
						<td width="5%">{{process}}</td>
						<td width="10%">{{process}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="other">
		<td>
			<table width="100%" class="other-viewheader">
				<thead>
					<th class="other-viewheader" scope="col" width="2%"></th>
					<th class="other-viewheader" scope="col" width="2%"></th>
					<th class="other-viewheader" scope="col" width="5%">Process</th>
					<th class="other-viewheader" scope="col" width="5%">Country</th>
					<th class="other-viewheader" scope="col" width="10%">Audit Universe</th>
					<th class="other-viewheader" scope="col" width="5%">Count</th>
					<th class="other-viewheader" scope="col" width="8%">Type</th>
					<th class="other-viewheader" scope="col" width="8%">Audit Readiness Review Status</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 4</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 3</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 2</th>
					<th class="other-viewheader" scope="col" width="5%">CQ - 1</th>
					<th class="other-viewheader" scope="col" width="5%">Current Quarter (CQ)</th>
					<th class="other-viewheader" scope="col" width="5%">Next Qtr Outlook</th>
					<th class="other-viewheader" scope="col" width="5%">Target to Sat</th>
					<th class="other-viewheader" scope="col" width="4%">Size</th>
					<th class="other-viewheader" scope="col" width="4%">Max Score</th>
					<th class="other-viewheader" scope="col" width="4%">CQ Score</th>
					<th class="other-viewheader" scope="col" width="8%">Explanation</th>
				</thead>
				{{#each AUData2}}
					<tr class="asmt-viewdata">
						{{#each col}}
							{{#if @first}}
								<td><a href="/risk?id={{../docid}}">{{this}}</a></td>
							{{else}}
								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>
