<table id="auditreview_table" class="ibm-data-table" width="100%">
  {{#if editmode}}
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Internal Audits</b></span><br /><br />
  			<table cellspacing="0" cellpadding="0" border="0" width="100%">
  				<thead>
  					<th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="10%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Engagement</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Audited Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="16%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Rating</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Score</th>
  				</thead>
  				{{#each InternalAuditData}}
  					<tr class="asmt-viewdata">
  						{{#each col}}
  							{{#if @first}}
  								<td><a href="/audittrusted?id={{../docid}}">{{this}}</a></td>
  							{{else}}
  								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
  							{{/if}}
  						{{/each}}
  					</tr>
  				{{/each}}
          <tr class="audit-review-viewheader-ar">
            <td class="audit-review-viewheader-ar" colspan="9"><b>Weighted Score: {{WeightedAuditScore}}</b></td>
          </tr>
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="IAExplanations" id="IAExplanations" value="{{IAExplanations}}" size="167"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Proactive Reviews - Quarterly Recommendation Status</b></span><br /><br />
  			<table cellspacing="0" cellpadding="0" border="0" width="100%">
  				<thead>
            <th class="audit-review-viewheader" scope="col" width="7%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Pd</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Sts</th>
            <th class="audit-review-viewheader" scope="col" width="5%">IMT</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Review ID</th>
            <th class="audit-review-viewheader" scope="col" width="30%">Assessable Unit</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Total Recs</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Open Recs</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Count</th>
  				</thead>
  				{{#each PPRData}}
  					<tr class="asmt-viewdata">
  						{{#each col}}
  							{{#if @first}}
  								<td><a href="/audittrusted?id={{../docid}}">{{this}}</a></td>
  							{{else}}
  								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
  							{{/if}}
  						{{/each}}
  					</tr>
  				{{/each}}
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="PRExplanations" id="PRExplanations" value="{{PRExplanations}}" size="167"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
  		<td>
        <span class="audit-review-header"><b>Other Audits and Reviews</b></span><br /><br />
  			<table cellspacing="0" cellpadding="0" border="0" width="100%">
  				<thead>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Rating/Status</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Date</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Assessable Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
  				</thead>
  				{{#each OtherAuditsData}}
  					<tr class="asmt-viewdata">
  						{{#each col}}
  							{{#if @first}}
  								<td><a href="/audittrusted?id={{../docid}}">{{this}}</a></td>
  							{{else}}
  								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
  							{{/if}}
  						{{/each}}
  					</tr>
  				{{/each}}
  			</table>
        <table width="100%" class="ibm-data-table">
					<tr>
						<td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
						<td class="asmt-viewdata" width="90%"><input type="text" name="ARRExplanations" id="ARRExplanations" value="{{ARRExplanations}}" size="167"></td>
					</tr>
				</table>
  		</td>
  	</tr>
  	<tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Focus items, key changes, open items, comments for current &amp; next quarter</b></span><br /><br />
        <table width="100%" class="ibm-data-table">
          <tr class="asmt-viewdata">
            <td><input type="text" name="AuditFocusText" id="AuditFocusText" value="{{AuditFocusText}}" size="186"></td>
          </tr>
        </table>
      </td>
  	</tr>
  {{else}} <!-- Read Mode  -->
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Internal Audits</b></span><br /><br />
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="10%">IMT</th>
  					<th class="audit-review-viewheader" scope="col" width="8%">Engagement</th>
  					<th class="audit-review-viewheader" scope="col" width="30%">Audited Unit</th>
  					<th class="audit-review-viewheader" scope="col" width="16%">Type</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Last MSAC</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Rating</th>
  					<th class="audit-review-viewheader" scope="col" width="7%">Size</th>
  					<th class="audit-review-viewheader" scope="col" width="5%">Score</th>
          </thead>
          {{#each InternalAuditData}}
            <tr class="asmt-viewdata">
              {{#each col}}
                {{#if @first}}
                  <td><a href="/audittrusted?id={{../docid}}">{{this}}</a></td>
                {{else}}
                  <td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
          <tr class="audit-review-viewheader-ar">
            <td class="audit-review-viewheader-ar" colspan="9"><b>Weighted Score: {{WeightedAuditScore}}</b></td>
          </tr>
        </table>
        <table width="100%" class="ibm-data-table">
          <tr>
            <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
            <td class="asmt-viewdata" width="90%">{{IAExplanations}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Proactive Reviews - Quarterly Recommendation Status</b></span><br /><br />
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <th class="audit-review-viewheader" scope="col" width="7%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Pd</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Sts</th>
            <th class="audit-review-viewheader" scope="col" width="5%">IMT</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Review ID</th>
            <th class="audit-review-viewheader" scope="col" width="30%">Assessable Unit</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="10%">Report Date</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Total Recs</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Open Recs</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Count</th>
          </thead>
          {{#each PPRData}}
            <tr class="asmt-viewdata">
              {{#each col}}
                {{#if @first}}
                  <td><a href="/audittrusted?id={{../docid}}">{{this}}</a></td>
                {{else}}
                  <td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
        </table>
        <table width="100%" class="ibm-data-table">
          <tr>
            <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
            <td class="asmt-viewdata" width="90%">{{PRExplanations}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Other Audits and Reviews</b></span><br /><br />
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <th class="audit-review-viewheader" scope="col" width="8%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Rating/Status</th>
            <th class="audit-review-viewheader" scope="col" width="8%">IMT</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Date</th>
            <th class="audit-review-viewheader" scope="col" width="30%">Assessable Unit</th>
            <th class="audit-review-viewheader" scope="col" width="8%">Type</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Last MSAC</th>
            <th class="audit-review-viewheader" scope="col" width="5%">Size</th>
            <th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
          </thead>
          {{#each OtherAuditsData}}
            <tr class="asmt-viewdata">
              {{#each col}}
                {{#if @first}}
                  <td><a href="/audittrusted?id={{../docid}}">{{this}}</a></td>
                {{else}}
                  <td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
        </table>
        <table width="100%" class="ibm-data-table">
          <tr>
            <td class="audit-review-viewheader-al" width="10%"><b>Explanations</b></td>
            <td class="asmt-viewdata" width="90%">{{ARRExplanations}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="audit-review-content">
      <td>
        <span class="audit-review-header"><b>Focus items, key changes, open items, comments for current &amp; next quarter</b></span><br /><br />
        <table width="100%" class="ibm-data-table">
          <tr class="asmt-viewdata">
            <td>&nbsp;{{AuditFocusText}}</td>
          </tr>
        </table>
      </td>
    </tr>
  {{/if}}
</table>
