<table id="auditreadyasmt_table" class="ibm-data-table">
	{{#if_equal EnteredBU "GTS"}}
		<tr class="ar-asmt-content">
			<th class="ar-asmt-content">Analysis to Audit Lessons Learned</th>
		</tr>
		<tr class="ar-asmt-content">
			<td>
				<table width="100%" class="ar-asmt-label">
					<thead>
						<th scope="col" width="35%">Question</th>
						<th scope="col" width="10%">Response</th>
						<th scope="col" width="10%">Finding</th>
						<th scope="col" width="10%">Explanation</th>
						<th scope="col" width="35%">Target to Sat</th>
					</thead>
					<tr>
						<td>Have you analyzed the list of lessons learned to determine if there are similar exposures in the assessed unit?</td>
						<td class="content-data">{{ARALLResponse}}</td>
						<td class="content-data">{{ARALLQtrRating}}</td>
						<td class="content-data">{{ARALLTarget2Sat}}</td>
						<td class="content-data">{{ARALLExplanation}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="ar-asmt-content">
			<td>
				<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
					<thead>
						<th class="ar-asmt-viewheader" scope="col" width="10%">Qtr</th>
						<th class="ar-asmt-viewheader" scope="col" width="10%">ID</th>
						<th class="ar-asmt-viewheader" scope="col" width="35%">Summary of Issue/Recommendation</th>
						<th class="ar-asmt-viewheader" scope="col" width="15%">Observation Category</th>
						<th class="ar-asmt-viewheader" scope="col" width="15%">Audit/CAR</th>
						<th class="ar-asmt-viewheader" scope="col" width="15%">Subprocess</th>
					</thead>
					{{#each ALLData}}
						<tr class="asmt-viewdata">
							{{#each col}}
								{{#if @first}}
									<td><a href="/auditlessonlearned?id={{../docid}}">{{this}}</a></td>
								{{else}}
									<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
								{{/if}}
							{{/each}}
						</tr>
					{{/each}}
					<tr>
						<td colspan="6" class="asmt-viewdata"><a href="javascript:void(0)">Click here</a> to view all audit lessons learned.</td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- Audit Readiness Checklist is for GTS CRM/Other type of docs only -->
		{{#if_equal CatP "CRM"}}
			<tr class="ar-asmt-content">
				<th class="ar-asmt-content">Audit Readiness Checklist</th>
			</tr>
			<tr class="ar-asmt-content">
				<td>
					<table width="100%" class="ar-asmt-label">
						<thead>
							<th scope="col" width="35%">Question</th>
							<th scope="col" width="10%">Response</th>
							<th scope="col" width="10%">Rating</th>
							<th scope="col" width="10%">Target to Sat</th>
							<th scope="col" width="35%">Explanation</th>
						</thead>
						<tr>
							<td>Did you perform/complete an Audit Readiness Self Assessment checklist (checklist is performed to a defined schedule, not necessarily quarterly)?</td>
							<td class="content-data">{{ARCResponse}}</td>
							<td class="content-data">{{ARCRating}}</td>
							<td class="content-data">{{ARCTarget2Sat}}</td>
							<td class="content-data">{{ARCRatingExplanation}}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="ar-asmt-content">
				<td>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
						<thead>
							<th class="ar-asmt-viewheader" scope="col" width="20%">Period</th>
							<th class="ar-asmt-viewheader" scope="col" width="20%">Rating</th>
							<th class="ar-asmt-viewheader" scope="col" width="35%">Assessed by</th>
							<th class="ar-asmt-viewheader" scope="col" width="25%">Target to Sat</th>
						</thead>
						{{#each ARCData}}
							<tr class="asmt-viewdata">
								{{#each col}}
									{{#if @first}}
										<td><a href="/auditlessonlearned?id={{../docid}}">{{this}}</a></td>
									{{else}}
										<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
									{{/if}}
								{{/each}}
							</tr>
						{{/each}}
					</table>
				</td>
			</tr>
		{{/if_equal}}
	{{else}} <!-- Non GTS -->
		<tr class="ar-asmt-content">
			<td>
				<table width="100%" class="ar-asmt-label">
					<tr>
						<td>
							The GBS Audit Readiness Program (ARP)  includes the tool, templates and process to assist GBS management in assessing their audit preparedness.
							This is accomplished by giving management the ability to understand the audit program, identify gaps, weaknesses, or risk areas in the process execution and perform independent assessments.
							This process is managed and supported  through GATT (GBS Audit Tracker Tool) which houses the GBS Audit Universe and the individual auditable unit history profile, attributes and risk levels.
							Identified gaps, weaknesses,  and risks in the process should be part of the holistic assessment and should be noted on the summary tab of the assessment along with actions and target dates to close.
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="ar-asmt-content">
			<td>
				<table width="100%">
					<tr>
						<td width="30%" class="ar-asmt-label">Audit readiness review status:</td>
						<td width="70%" class="content-data"></td>
					</tr>
					<tr>
						<td class="ar-asmt-label">Audit readiness review date:</td>
						<td class="content-data"></td>
					</tr>
					<tr>
						<td class="ar-asmt-label">GATT auditable unit record:</td>
						<td class="content-data"></td>
					</tr>
				</table>
			</td>
		</tr>
	{{/if_equal}}
</table>
