<table id="summary_table" class="ibm-data-table">
	<tr class="basic-ctrl-content">
		<td>
			{{#if_equal EnteredBU "GTS"}}
				See <a href="http://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instruction+FIN+182">Corporate Instruction FIN 182</a> and <a href="javascript:void(0)">GTS Basics of Controls Guidance</a>
			{{else}}
				<a href="http://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instruction+FIN+182">Corporate Instruction FIN 182</a>
			{{/if_equal}}
		</td>
	</tr>
	<tr class="basic-ctrl-content">
		<td>
			<table width="100%">
				<thead class="basic-ctrl-label">
					<th width="5%">#</th>
					<th width="40%">Question</th>
					<th width="15%">Response</th>
					<th width="15%">Target Date</th>
					<th width="25%">Comments</th>
				</thead>
				<tr>
					<td class="basic-ctrl-label">1.</td>
					<td class="basic-ctrl-label">
						Can you demonstrate organizational or process ownership?<br />Includes:
						<ul>
							<li>having a documented and effective process</li>
							<li>identification/monitoring of metrics</li>
							<li>assignment of responsibility with appropriate separation of duties</li>
							<li>periodic process inspection and validation</li>
							<li>periodic re-evaluation of changes in the business environment or business model</li>
						</ul>
						<br /><strong>Note:</strong>  Please answer "No" if one or more bullets are "No".
					</td>
					<td class="content-data">{{BoCResponse1}}</td>
					<td class="content-data">{{BoCTargetCloseDate1}}</td>
					<td class="content-data">{{BoCComments1}}</td>
				</tr>
				<tr>
					<td class="basic-ctrl-label">2.</td>
					<td class="basic-ctrl-label">
						Are your procedures well documented and is there ongoing education?
					</td>
					<td class="content-data">{{BoCResponse2}}</td>
					<td class="content-data">{{BoCTargetCloseDate2}}</td>
					<td class="content-data">{{BoCComments2}}</td>
				</tr>
				<tr>
					<td class="basic-ctrl-label">3.</td>
					<td class="basic-ctrl-label">
						Can you demonstrate compliance with relevant <a href="http://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instructions">Corporate Instructions</a>, Guidelines, Policies, and Procedures?
					</td>
					<td class="content-data">{{BoCResponse3}}</td>
					<td class="content-data">{{BoCTargetCloseDate3}}</td>
					<td class="content-data">{{BoCComments3}}</td>
				</tr>
				<tr>
					<td class="basic-ctrl-label">4.</td>
					<td class="basic-ctrl-label">
						Can you demonstrate appropriate management of applications and information technology infrastructure, for both IBM internal use and external client service delivery?
					</td>
					<td class="content-data">{{BoCResponse4}}</td>
					<td class="content-data">{{BoCTargetCloseDate4}}</td>
					<td class="content-data">{{BoCComments4}}</td>
				</tr>
				<tr>
					<td class="basic-ctrl-label">5.</td>
					<td class="basic-ctrl-label">
						Can you demonstrate effective identification, assessment and management of risk including fraud prevention/detection, and regulatory compliance?
					</td>
					<td class="content-data">{{BoCResponse5}}</td>
					<td class="content-data">{{BoCTargetCloseDate5}}</td>
					<td class="content-data">{{BoCComments5}}</td>
				</tr>
			</table>
		</td>
	</tr>

	<!-- <tr class="basic-ctrldata1">
		<td colspan="5">
			<br />
			{{#if_equal EnteredBU "GTS"}}
				See <a href="http://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instruction+FIN+182">Corporate Instruction FIN 182</a> and <a href="javascript:void(0)">GTS Basics of Controls Guidance</a>
			{{else}}
				<a href="http://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instruction+FIN+182">Corporate Instruction FIN 182</a>
			{{/if_equal}}
			<br /><br />
		</td>
	</tr> -->
	<!-- <tr class="basic-ctrldata1">
		<td width="5%"><strong>#</strong></td>
		<td width="40%"><strong>Question</strong></td>
		<td width="15%"><strong>Response</strong></td>
		<td width="15%"><strong>Target Date</strong></td>
		<td width="25%"><strong>Comments</strong></td>
	</tr>
	<tr>
		<td class="basic-ctrldata1">1.</td>
		<td class="basic-ctrldata2">
			Can you demonstrate organizational or process ownership?<br />Includes:
			<ul>
				<li>having a documented and effective process</li>
				<li>identification/monitoring of metrics</li>
				<li>assignment of responsibility with appropriate separation of duties</li>
				<li>periodic process inspection and validation</li>
				<li>periodic re-evaluation of changes in the business environment or business model</li>
			</ul>
			<br /><strong>Note:</strong>  Please answer "No" if one or more bullets are "No".
		</td>
		<td>{{BoCResponse1}}</td>
		<td>{{BoCTargetCloseDate1}}</td>
		<td>{{BoCComments1}}</td>
	</tr>
	<tr>
		<td class="basic-ctrldata1">2.</td>
		<td class="basic-ctrldata2">
			Are your procedures well documented and is there ongoing education?
		</td>
		<td>{{BoCResponse2}}</td>
		<td>{{BoCTargetCloseDate2}}</td>
		<td>{{BoCComments2}}</td>
	</tr>
	<tr>
		<td class="basic-ctrldata1">3.</td>
		<td class="basic-ctrldata2">
			Can you demonstrate compliance with relevant <a href="http://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instructions">Corporate Instructions</a>, Guidelines, Policies, and Procedures?
		</td>
		<td>{{BoCResponse3}}</td>
		<td>{{BoCTargetCloseDate3}}</td>
		<td>{{BoCComments3}}</td>
	</tr>
	<tr>
		<td class="basic-ctrldata1">4.</td>
		<td class="basic-ctrldata2">
			Can you demonstrate appropriate management of applications and information technology infrastructure, for both IBM internal use and external client service delivery?
		</td>
		<td>{{BoCResponse4}}</td>
		<td>{{BoCTargetCloseDate4}}</td>
		<td>{{BoCComments4}}</td>
	</tr>
	<tr>
		<td class="basic-ctrldata1">5.</td>
		<td class="basic-ctrldata2">
			Can you demonstrate effective identification, assessment and management of risk including fraud prevention/detection, and regulatory compliance?
		</td>
		<td>{{BoCResponse5}}</td>
		<td>{{BoCTargetCloseDate5}}</td>
		<td>{{BoCComments5}}</td>
	</tr>
	<tr class="basic-ctrldata1"><td colspan="5">&nbsp;</td></tr> -->
</table>
