<table id="risk_table" class="ibm-data-table">
	<tr class="risk-msdcommit-content">
		<th class="risk-msdcommit-label">Risk Evaluations from current and prior quarters, which have tasks that are still open, and potentially missed.</th>
	</tr>
	<tr class="risk-msdcommit-content">
		<td>
			<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
				<thead>
					<th class="risk-msdcommit-viewheader" scope="col" width="3%">Type</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="8%">ID</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Status</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="20%">Process</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Issue Target Date (Orig)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Issue Target Date (Current)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="6%"># Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="6%"># Open Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="9%"># Overdue Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="4%">Missed</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Risk Abstract</th>
				</thead>
				{{#each RiskData}}
					<tr class="asmt-viewdata">
						{{#each col}}
							{{#if @first}}
								<td><a href="/risk?id={{../docid}}">{{this}}</a></td>
							{{else}}
								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>
