<textarea name="textarea" id="dataForExport" cols="100" style="display:none">{{exportOpenRisks}}</textarea>
<input type="hidden" name="ORMCMissedRisks" id="ORMCMissedRisks" value="{{ORMCMissedRisks}}">
<table id="risk_table" class="ibm-data-table">
	<tr class="risk-msdcommit-content">
		<th class="risk-msdcommit-label">Risk Evaluations from current and prior quarters, which have tasks that are still open, and potentially missed.</th>
	</tr>
	<tr class="risk-msdcommit-content">
		<a href="javascript:void(0);" value="Export to Excel" name="link-export" id="link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
		<span class="ibm-sep"> </span>
		<a href="javascript:void(0);" value="Export to Open Office" name="link-export2" id="link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
		<td>
			<table id="open_risks_treeview" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating table_with_scroll">
				<thead>
					<th class="risk-msdcommit-viewheader" scope="col" width="3%"><input type="checkbox" class="openrisks_checkbox_tree" id="openrisks_checkbox_tree" name="openrisks_checkbox "/></th>
					<th class="risk-msdcommit-viewheader" scope="col" width="3%">Type</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="8%">ID</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Status</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="20%">Process</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Issue Target Date (Orig)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="10%">Issue Target Date (Current)</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="6%"># Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="6%"># Open Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="6%"># Overdue Tasks</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="4%">Missed</th>
					<th class="risk-msdcommit-viewheader" scope="col" width="15%">Risk Abstract</th>
				</thead>

				<tbody>
				{{#each openrisks}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" >
						<th style="background-color: white !important;" width="3%" scope="row" class="ibm-table-row">{{#if parent}}<input type="checkbox" class="openrisks_checkbox_tree"/>{{/if}}</th>
						<td style="background-color: white !important;" width="3%" {{#unless parent}} {{/unless}}>{{name}}</td>
						{{#if parent}}<td style="background-color: white !important;" width="8%"><a href="/asmtcomponents?id={{_id}}">{{id}}</a></td>
						<td style="background-color: white !important;" width="10%">{{status}}</td>{{/if}}
						<td style="background-color: white !important;" width="20%">{{process}}</td>
						<td style="background-color: white !important;" width="10%">{{originalTargetDate}}</td>
						<td style="background-color: white !important;" width="10%">{{currentTargetDate}}</td>
						<td style="background-color: white !important;" width="6%">{{numTasks}}</td>
						<td style="background-color: white !important;" width="6%">{{numTasksOpen}}</td>
						<td style="background-color: white !important;" width="6%">{{numMissedTasks}}</td>
						<td style="background-color: white !important;" width="4%">{{#if missedFlag}}<a class="ibm-error-link"></a>{{/if}}</td>
						<td style="background-color: white !important;" width="15%">{{riskAbstract}}</td>
					</tr>
				{{/each}}
				</tbody>
				<!--{{#each RiskData}}
					<tr class="asmt-viewdata">
						{{#each col}}
							{{#if @first}}
								<td><a href="/risk?id={{../docid}}">{{this}}</a></td>
							{{else}}
								<td>{{#if_equal this ""}}&nbsp;{{else}}{{this}}{{/if_equal}}</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}-->
			</table>
		</td>
	</tr>
</table>
