{{#if editmode}}
{{!-- AUBUSINESSUNIT form - Administrative Use Only section - Edit Mode --}}
	<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
		{{#if admin}}
			<tr>
				<td width="25%"><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>
		{{else}}
			<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
		{{/if}}
	</table>
{{else}}
{{!-- AUBUSINESSUNIT form - Administrative Use Only section - Read Mode --}}
	<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
		<tr><td width="25%">BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
	</table>
{{/if}}
