<textarea name="textarea" id="PRRatingDataExport" cols="100" style="display:none">{{valuesToString exportAccountRatings}}</textarea>
<textarea name="textarea" id="PRRating2DataExport" cols="100" style="display:none">{{valuesToString exportAccountRatings2}}</textarea>
<table id="processrating_table" class="ibm-data-table">
	<tr class="processrating">
		<td width="70%" class="processrating-legend">
			<table width="100%">
				<thead class="processrating-label"><th scope="col" colspan="11">Financial Process Ratings Profile</th></thead>
				<tr>
					<td width="16%" class="processrating-label"></td>
					<td width="8%" class="sat-bg">Sat &#61;</td>
					<td width="8%" class="sat-bg">Sat &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#61;</td>
					<td width="8%" class="marg-bg">Marg &#9660;</td>
					<td width="8%" class="unsat-bg">Unsat &#61;</td>
					<td width="8%" class="unsat-bg">Unsat &#9660;</td>
					<td width="8%" class="unrated-bg">Exempt</td>
					<td width="8%" class="unrated-bg">NR</td>
					<td width="12%" class="processrating-viewheader">Total</td>
				</tr>
				<tr class="content-data">
					<td class="processrating-label">Counts</td>
					<td class="content-data-centered">{{FINCPSatEqualCnt}}</td>
					<td class="content-data-centered">{{FINCPSatPlusCnt}}</td>
					<td class="content-data-centered">{{FINCPMargPlusCnt}}</td>
					<td class="content-data-centered">{{FINCPMargEqualCnt}}</td>
					<td class="content-data-centered">{{FINCPMargMinusCnt}}</td>
					<td class="content-data-centered">{{FINCPUnsatEqualCnt}}</td>
					<td class="content-data-centered">{{FINCPUnsatMinusCnt}}</td>
					<td class="content-data-centered">{{FINCPEXEMPTCnt}}</td>
					<td class="content-data-centered">{{FINCPNRCnt}}</td>
					<td class="content-data-centered">{{FINCPTotalCnt}}</td>
				</tr>
				<tr class="content-data">
					<td class="processrating-label">Percentages</td>
					<td class="content-data-centered">{{FINCPSatEqualPct}}</td>
					<td class="content-data-centered">{{FINCPSatPlusPct}}</td>
					<td class="content-data-centered">{{FINCPMargPlusPct}}</td>
					<td class="content-data-centered">{{FINCPMargEqualPct}}</td>
					<td class="content-data-centered">{{FINCPMargMinusPct}}</td>
					<td class="content-data-centered">{{FINCPUnsatEqualPct}}</td>
					<td class="content-data-centered">{{FINCPUnsatMinusPct}}</td>
					<td class="content-data-centered">{{FINCPEXEMPTPct}}</td>
					<td class="content-data-centered">{{FINCPNRPct}}</td>
					<td class="content-data-centered">{{FINCPTotalPct}}</td>
				</tr>
			</table>
			<br /><br />
			<table width="100%">
				<thead class="processrating-label"><th scope="col" colspan="11">Operational Process Ratings Profile</th></thead>
				<tr>
					<td width="16%" class="processrating-label"></td>
					<td width="8%" class="sat-bg">Sat &#61;</td>
					<td width="8%" class="sat-bg">Sat &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#61;</td>
					<td width="8%" class="marg-bg">Marg &#9660;</td>
					<td width="8%" class="unsat-bg">Unsat &#61;</td>
					<td width="8%" class="unsat-bg">Unsat &#9660;</td>
					<td width="8%" class="unrated-bg">Exempt</td>
					<td width="8%" class="unrated-bg">NR</td>
					<td width="12%" class="processrating-viewheader">Total</td>
				</tr>
				<tr class="content-data">
					<td class="processrating-label">Counts</td>
					<td class="content-data-centered">{{OPSCPSatEqualCnt}}</td>
					<td class="content-data-centered">{{OPSCPSatPlusCnt}}</td>
					<td class="content-data-centered">{{OPSCPMargPlusCnt}}</td>
					<td class="content-data-centered">{{OPSCPMargEqualCnt}}</td>
					<td class="content-data-centered">{{OPSCPMargMinusCnt}}</td>
					<td class="content-data-centered">{{OPSCPUnsatEqualCnt}}</td>
					<td class="content-data-centered">{{OPSCPUnsatMinusCnt}}</td>
					<td class="content-data-centered">{{OPSCPEXEMPTCnt}}</td>
					<td class="content-data-centered">{{OPSCPNRCnt}}</td>
					<td class="content-data-centered">{{OPSCPTotalCnt}}</td>
				</tr>
				<tr class="content-data">
					<td class="processrating-label">Percentages</td>
					<td class="content-data-centered">{{OPSCPSatEqualPct}}</td>
					<td class="content-data-centered">{{OPSCPSatPlusPct}}</td>
					<td class="content-data-centered">{{OPSCPMargPlusPct}}</td>
					<td class="content-data-centered">{{OPSCPMargEqualPct}}</td>
					<td class="content-data-centered">{{OPSCPMargMinusPct}}</td>
					<td class="content-data-centered">{{OPSCPUnsatEqualPct}}</td>
					<td class="content-data-centered">{{OPSCPUnsatMinusPct}}</td>
					<td class="content-data-centered">{{OPSCPEXEMPTPct}}</td>
					<td class="content-data-centered">{{OPSCPNRPct}}</td>
					<td class="content-data-centered">{{OPSCPTotalPct}}</td>
				</tr>
			</table>
			<br /><br />
			<table width="100%">
				<thead class="processrating-label"><th scope="col" colspan="11">Overall Process Ratings Profile</th></thead>
				<tr>
					<td width="16%" class="processrating-label"></td>
					<td width="8%" class="sat-bg">Sat &#61;</td>
					<td width="8%" class="sat-bg">Sat &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#61;</td>
					<td width="8%" class="marg-bg">Marg &#9660;</td>
					<td width="8%" class="unsat-bg">Unsat &#61;</td>
					<td width="8%" class="unsat-bg">Unsat &#9660;</td>
					<td width="8%" class="unrated-bg">Exempt</td>
					<td width="8%" class="unrated-bg">NR</td>
					<td width="12%" class="processrating-viewheader">Total</td>
				</tr>
				<tr class="content-data">
					<td class="processrating-label">Counts</td>
					<td class="content-data-centered">{{CPSatEqualCnt}}</td>
					<td class="content-data-centered">{{CPSatPlusCnt}}</td>
					<td class="content-data-centered">{{CPMargPlusCnt}}</td>
					<td class="content-data-centered">{{CPMargEqualCnt}}</td>
					<td class="content-data-centered">{{CPMargMinusCnt}}</td>
					<td class="content-data-centered">{{CPUnsatEqualCnt}}</td>
					<td class="content-data-centered">{{CPUnsatMinusCnt}}</td>
					<td class="content-data-centered">{{CPEXEMPTCnt}}</td>
					<td class="content-data-centered">{{CPNRCnt}}</td>
					<td class="content-data-centered">{{CPTotalCnt}}</td>
				</tr>
				<tr class="content-data">
					<td class="processrating-label">Percentages</td>
					<td class="content-data-centered">{{CPSatEqualPct}}</td>
					<td class="content-data-centered">{{CPSatPlusPct}}</td>
					<td class="content-data-centered">{{CPMargPlusPct}}</td>
					<td class="content-data-centered">{{CPMargEqualPct}}</td>
					<td class="content-data-centered">{{CPMargMinusPct}}</td>
					<td class="content-data-centered">{{CPUnsatEqualPct}}</td>
					<td class="content-data-centered">{{CPUnsatMinusPct}}</td>
					<td class="content-data-centered">{{CPEXEMPTPct}}</td>
					<td class="content-data-centered">{{CPNRPct}}</td>
					<td class="content-data-centered">{{CPTotalPct}}</td>
				</tr>
			</table>
		</td>
		<td width="2%" class="processrating-legend">&nbsp;</td>
		<td width="28%" class="processrating-legend">
			<table width="100%">
				<thead>
					<th class="processrating-legend" colspan="3">Key/Comments</th>
				</thead>
				<tr>
					<td class="sat-bg" width="3%"></td>
					<td class="processrating-legend" width="20%">
						Sat &#61;<br \>
						Sat &#9650;</td>
					<td class="processrating-legend" width="77%">
						: unchanged or not rated in prior quarter<br \>
						: improved from marg/unsat</td>
				</tr>
				<tr>
					<td class="marg-bg"></td>
					<td class="processrating-legend">
						Marg &#9650;<br \>
						Marg &#61;<br \>
						Marg &#9660;
					</td>
					<td class="processrating-legend">
						: improved from unsat<br \>
						: unchanged or not rated in prior quarter<br \>
						: deteriorated from sat
					</td>
				</tr>
				<tr>
					<td class="unsat-bg"></td>
					<td class="processrating-legend">
						Unsat &#61;<br \>
						Unsat &#9660;
					</td>
					<td class="processrating-legend">
						: unchanged<br \>
						: deteriorated from sat/marg
					</td>
				</tr>
				<tr>
					<td class="unrated-bg"></td>
					<td class="processrating-legend">NR</td>
					<td class="processrating-legend">: not rated</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="processrating">
		<td colspan="3">
			<span class="processrating-header">Processes by Rating</span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="PRRating-link-export" id="PRRating-link-export" class="whiteanchor ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="PRRRating-link-export2" id="PRRating-link-export2" class="whiteanchor ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="processrating_treetable" width="100%"  class="other-viewheader table_with_scroll">
				<thead>
					<th class="processrating-viewheader" scope="col" width="10%">Rating</th>
					<th class="processrating-viewheader" scope="col" width="20%">Process</th>
					<th class="processrating-viewheader" scope="col" width="20%">Country Process</th>
					<th class="processrating-viewheader" scope="col" width="5%">Count</th>
					<th class="processrating-viewheader" scope="col" width="5%">Percent</th>
					<th class="processrating-viewheader" scope="col" width="10%">Prior Q</th>
					<th class="processrating-viewheader" scope="col" width="10%">Curr Q</th>
					<th class="processrating-viewheader" scope="col" width="10%">Prior Target to Sat</th>
					<th class="processrating-viewheader" scope="col" width="10%">Target to Sat</th>
					<th class="processrating-viewheader" scope="col" width="20%">Explanations</th>
				</thead>
				{{#each BUCAsmtDataPRview}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}"  class="asmt-viewdata">
						<td class="asmt-viewdata" width="10%">{{{category}}}</td>
						<td class="asmt-viewdata" width="20%">{{processName}}</td>
						{{#if name}}
							<td class="asmt-viewdata" width="20%"><a target="_blank" href="/assessment?id={{docid}}">{{name}}</a></td>
						{{else}}
							<td class="asmt-viewdata" width="20%">&nbsp;</td>
						{{/if}}
						<td class="asmt-viewdata" width="5%">{{count}}</td>
						<td class="asmt-viewdata" width="5%">{{percent}}{{#if percent}}%{{/if}}</td>
						{{{ratingDisplayView ratingPQ1 10}}}
						{{{ratingDisplayView ratingCQ 10}}}
						<td class="asmt-viewdata" width="10%">{{targettosat}}</td>
						<td class="asmt-viewdata" width="10%">{{targettosatprev}}</td>
						<td class="asmt-viewdata" width="20%">{{reviewcomments}}</td>
					</tr>
				{{/each}}
				<tr>
			</table>
		</td>
	</tr>
	<tr class="processrating">
		<td colspan="3">
			<span class="processrating-header">Processes by Country</span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="PRRating-link-export3" id="PRRating-link-export3" class="whiteanchor ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="PRRRating-link-export4" id="PRRating-link-export4" class="whiteanchor ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="processrating_treetable2" class="other-viewheader table_with_scroll">
				<thead>
					<th class="processrating-viewheader"scope="col" width="20%">Country</th>
					<th class="processrating-viewheader" scope="col" width="10%">Rating</th>
					<th class="processrating-viewheader" scope="col" width="20%">Process</th>
					<th class="processrating-viewheader" scope="col" width="5%">Count</th>
					<th class="processrating-viewheader" scope="col" width="5%">Percent</th>
					<th class="processrating-viewheader" scope="col" width="10%">Prior Q</th>
					<th class="processrating-viewheader" scope="col" width="10%">Curr Q</th>
					<th class="processrating-viewheader" scope="col" width="10%">Target to Sat</th>
					<th class="processrating-viewheader" scope="col" width="10%">Explanations</th>
				</thead>
				{{#each BUCAsmtDataPRview2}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}"  class="asmt-viewdata">						
						{{#if name}}
						<td class="asmt-viewdata" scope="col">&nbsp;</td>
						{{else}}
						<td class="asmt-viewdata" scope="col">{{country}}</td>
						{{/if}}				
						<td class="asmt-viewdata" scope="col">{{{category}}}</td>
						{{#if name}}
							<td class="asmt-viewdata" scope="col"><a target="_blank" href="/assessment?id={{docid}}">{{name}}</a></td>
						{{else}}
							<td class="asmt-viewdata" scope="col">&nbsp;</td>
						{{/if}}
						<td class="asmt-viewdata" scope="col">{{count}}</td>
						<td class="asmt-viewdata" scope="col">{{percent}}{{#if percent}}%{{/if}}</td>
						{{{ratingDisplayView ratingPQ1}}}
						{{{ratingDisplayView ratingCQ}}}
						<td class="asmt-viewdata" scope="col">{{targettosat}}</td>
						<td class="asmt-viewdata" scope="col">{{reviewcomments}}</td>
					</tr>
				{{/each}}
				<tr>
			</table>
		</td>
	</tr>
</table>
