<table id="summary_table" class="ibm-data-table">
	{{#if editmode}}
		<tr class="summaryrollup">
			<td>
				<table width="100%">
					<thead class="summaryrollup-label"><th scope="col"><label for="RatingSummary">Rating Summary</label></th></thead>
					<tr class="content-data">
						<td>
							<div class='yui-skin-sam'>
								<span><textarea id="RatingSummary" type="text" name="RatingSummary" cols="168" rows="3">{{RatingSummary}}</textarea></span>
							</div>
						</td>
					</tr>
				</table>
        <table width="100%">
					<thead class="summaryrollup-label">
						<th scope="col"><label for="Highlight">Highlights</label></th>
						<th scope="col"><label for="FocusArea">Focus Areas</label></th>
					</thead>
					<tr class="content-data">
						<td>
							<div class='yui-skin-sam'>
								<span><textarea id="Highlight" type="text" name="Highlight" cols="78" rows="3">{{Highlight}}</textarea></span>
							</div>
						</td>
						<td>
							<div class='yui-skin-sam'>
								<span><textarea id="FocusArea" type="text" name="FocusArea" cols="78" rows="3">{{FocusArea}}</textarea></span>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="summaryrollup">
			<td class="summaryrollup-label">
				<ul class="ibm-twisty">
					<li>
						<a class="ibm-twisty-trigger" href="#toggle"><img alt="-" src="//www.ibm.com/i/c.gif" /></a>
						<span class="ibm-twisty-head">Business Insights</span>
						<div class="ibm-twisty-body">
							<br /><br />
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Significant Organization Changes</th></thead>
								<tr class="asmt-viewdata">
									<td>
										<span class="mira-subdata2">
											<i>Significant organization, location, and mission changes including centralization of activities <strong>and their impact on the controls environment</strong>. Identify from/to organizations, new/dissolved organizations, scope/responsibilities of mission changes, process(es) impacted, etc.</i>
										</span><br />
										<input type="text" name="Insight1" id="Insight1" value="{{Insight1}}" size="182">
									</td>
								</tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Significant Process Changes</th></thead>
								<tr class="asmt-viewdata">
									<td>
										<span class="mira-subdata2">
											<i>Significant process changes <strong>and their impact on the controls environment</strong>. Include the reason for the change such as harmonization, centralization, reorganization, etc.</i>
										</span><br />
										<input type="text" name="Insight2" id="Insight2" value="{{Insight2}}" size="182">
									</td>
								</tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Strategic Business Development Activities (acquisitions &amp; divestitures)</th></thead>
								<tr class="asmt-viewdata">
									<td>
										<span class="mira-subdata2">
											<i>Business development activities (acquisitions, divestitures and joint ventures) <strong>and their impact on the controls environment</strong>. Provide a brief description, including scope and size, process(es) impacted, etc.</i>
										</span><br />
										<input type="text" name="Insight3" id="Insight3" value="{{Insight3}}" size="182">
									</td>
								</tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Outsourcing of internal controls to an external 3rd party or changes to an outsourcing arrangement impacting internal controls</th></thead>
								<tr class="asmt-viewdata">
									<td>
										<span class="mira-subdata2">
											<i>Outsourcing of internal processes to an external 3rd party <strong>and their impact on the controls environment</strong>. Provide a brief description, including scope and size, processes impacted, etc. Include changes to existing agreements as well as new or terminated agreements</i>
										</span><br />
										<input type="text" name="Insight4" id="Insight4" value="{{Insight4}}" size="182">
									</td>
								</tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Other information (significant items that have not been reported, emerging regulatory requirements, and new or emerging risk areas)</th></thead>
								<tr class="asmt-viewdata">
									<td>
										<span class="mira-subdata2">
											<i>Other information <strong>and the impact on the controls environment</strong> (e.g.: significant IT system installations, changes necessitated by regulatory requirements, new or emerging risk areas, and other focus items).</i>
										</span><br />
										<input type="text" name="Insight5" id="Insight5" value="{{Insight5}}" size="182">
									</td>
								</tr>
							</table>
						</div>
					</li>
				</ul>
			</td>
		</tr>
	{{else}} <!-- Read Mode -->
		<tr class="summaryrollup">
			<td>
				<table width="100%">
					<thead class="summaryrollup-label"><th scope="col">Rating Summary</th></thead>
					<tr class="content-data">
						<td>&nbsp;
							<input type="hidden" name="RatingSummaryRO" value="{{RatingSummary}}">
							<div id="RatingSummaryReadOnly"></div>
						</td>
					</tr>
				</table>
        <table width="100%">
					<thead class="summaryrollup-label">
						<th scope="col">Highlights</th>
						<th scope="col">Focus Areas</th>
					</thead>
					<tr class="content-data">
						<td>&nbsp;
							<input type="hidden" name="HighlightRO" value="{{Highlight}}">
							<div id="HighlightReadOnly"></div>
						</td>
						<td>&nbsp;
							<input type="hidden" name="FocusAreaRO" value="{{FocusArea}}">
							<div id="FocusAreaReadOnly"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="summaryrollup">
			<td class="summaryrollup-label">
				<ul class="ibm-twisty">
					<li>
						<a class="ibm-twisty-trigger" href="#toggle"><img alt="-" src="//www.ibm.com/i/c.gif" /></a>
						<span class="ibm-twisty-head">Business Insights</span>
						<div class="ibm-twisty-body">
							<br /><br />
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Significant Organization Changes</th></thead>
								<tr class="asmt-viewdata"><td>&nbsp;{{Insight1}}</td></tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Significant Process Changes</th></thead>
								<tr class="asmt-viewdata"><td>&nbsp;{{Insight2}}</td></tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Strategic Business Development Activities (acquisitions &amp; divestitures)</th></thead>
								<tr class="asmt-viewdata"><td>&nbsp;{{Insight3}}</td></tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Outsourcing of internal controls to an external 3rd party or changes to an outsourcing arrangement impacting internal controls</th></thead>
								<tr class="asmt-viewdata"><td>&nbsp;{{Insight4}}</td></tr>
							</table>
							<table width="100%">
								<thead class="summaryrollup-sublabel"><th scope="col">Other information (significant items that have not been reported, emerging regulatory requirements, and new or emerging risk areas)</th></thead>
								<tr class="asmt-viewdata"><td>&nbsp;{{Insight5}}</td></tr>
							</table>
						</div>
					</li>
				</ul>
			</td>
		</tr>
	{{/if}}
	<tr class="summaryrollup">
		<td>
			<table width="100%">
				<thead class="summaryrollup-label"><th scope="col" colspan="11">Country Process Ratings Profile</th></thead>
				<tr>
					<td width="16%" class="summaryrollup-label"></td>
					<td width="8%" class="sat-bg">Sat &#61;</td>
					<td width="8%" class="sat-bg">Sat &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#61;</td>
					<td width="8%" class="marg-bg">Marg &#9660;</td>
					<td width="8%" class="unsat-bg">Unsat &#61;</td>
					<td width="8%" class="unsat-bg">Unsat &#9660;</td>
					<td width="8%" class="unrated-bg">Exempt</td>
					<td width="8%" class="unrated-bg">NR</td>
					<td width="12%" class="summaryrollup-viewheader">Total</td>
				</tr>
				<tr class="content-data">
					<td class="summaryrollup-label">Counts</td>
					<td class="content-data-centered">{{CPSatEqualCnt}}</td>
					<td class="content-data-centered">{{CPSatPlusCnt}}</td>
					<td class="content-data-centered">{{CPMargPlusCnt}}</td>
					<td class="content-data-centered">{{CPMargEqualCnt}}</td>
					<td class="content-data-centered">{{CPMargMinusCnt}}</td>
					<td class="content-data-centered">{{CPUnsatEqualCnt}}</td>
					<td class="content-data-centered">{{CPUnsatMinusCnt}}</td>
					<td class="content-data-centered">{{CPEXEMPTCnt}}</td>
					<td class="content-data-centered">{{CPNRCnt}}</td>
					<td class="content-data-centered">{{CPTotalCnt}}</td>
				</tr>
				<tr class="content-data">
					<td class="summaryrollup-label">Percentages</td>
					<td class="content-data-centered">{{CPSatEqualPct}}</td>
					<td class="content-data-centered">{{CPSatPlusPct}}</td>
					<td class="content-data-centered">{{CPMargPlusPct}}</td>
					<td class="content-data-centered">{{CPMargEqualPct}}</td>
					<td class="content-data-centered">{{CPMargMinusPct}}</td>
					<td class="content-data-centered">{{CPUnsatEqualPct}}</td>
					<td class="content-data-centered">{{CPUnsatMinusPct}}</td>
					<td class="content-data-centered">{{CPEXEMPTPct}}</td>
					<td class="content-data-centered">{{CPNRPct}}</td>
					<td class="content-data-centered">{{CPTotalPct}}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="summaryrollup">
		<td>
			<table width="100%">
				<thead class="summaryrollup-label"><th scope="col" colspan="11">Controllable Unit (CU) Ratings Profile</th></thead>
				<tr>
					<td width="16%" class="summaryrollup-label"></td>
					<td width="8%" class="sat-bg">Sat &#61;</td>
					<td width="8%" class="sat-bg">Sat &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#9650;</td>
					<td width="8%" class="marg-bg">Marg &#61;</td>
					<td width="8%" class="marg-bg">Marg &#9660;</td>
					<td width="8%" class="unsat-bg">Unsat &#61;</td>
					<td width="8%" class="unsat-bg">Unsat &#9660;</td>
					<td width="8%" class="unrated-bg">Exempt</td>
					<td width="8%" class="unrated-bg">NR</td>
					<td width="12%" class="summaryrollup-viewheader">Total</td>
				</tr>
				<tr class="content-data">
					<td class="summaryrollup-label">Counts</td>
					<td class="content-data-centered">{{CUSatEqualCnt}}</td>
					<td class="content-data-centered">{{CUSatPlusCnt}}</td>
					<td class="content-data-centered">{{CUMargPlusCnt}}</td>
					<td class="content-data-centered">{{CUMargEqualCnt}}</td>
					<td class="content-data-centered">{{CUMargMinusCnt}}</td>
					<td class="content-data-centered">{{CUUnsatEqualCnt}}</td>
					<td class="content-data-centered">{{CUUnsatMinusCnt}}</td>
					<td class="content-data-centered">{{CUEXEMPTCnt}}</td>
					<td class="content-data-centered">{{CUNRCnt}}</td>
					<td class="content-data-centered">{{CUTotalCnt}}</td>
				</tr>
				<tr class="content-data">
					<td class="summaryrollup-label">Percentages</td>
					<td class="content-data-centered">{{CUSatEqualPct}}</td>
					<td class="content-data-centered">{{CUSatPlusPct}}</td>
					<td class="content-data-centered">{{CUMargPlusPct}}</td>
					<td class="content-data-centered">{{CUMargEqualPct}}</td>
					<td class="content-data-centered">{{CUMargMinusPct}}</td>
					<td class="content-data-centered">{{CUUnsatEqualPct}}</td>
					<td class="content-data-centered">{{CUUnsatMinusPct}}</td>
					<td class="content-data-centered">{{CUEXEMPTPct}}</td>
					<td class="content-data-centered">{{CUNRPct}}</td>
					<td class="content-data-centered">{{CUTotalPct}}</td>
				</tr>
				<tr class="content-data">
					<td class="summaryrollup-label-ar" colspan="10"><strong>Weighted Score</strong></td>
					<td class="content-data-centered">{{WeightedCUScore}}</td>
				</tr>
				<tr class="summaryrollup-legend"><td colspan="11">&nbsp;</td></tr>
				<tr class="summaryrollup-legend">
					<td class="summaryrollup-legend" colspan="8">Weighted Score Key</td>
					<td class="asmt-viewdata-red">Unsat<br />&lt; 75%</td>
					<td class="asmt-viewdata-yellow">Marg<br />75 - 89%</td>
					<td class="asmt-viewdata-green">Sat<br />90% +</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
