<textarea name="textarea" id="PPRDataExport" cols="100" style="display:none">{{valuesToString exportPPR}}</textarea>
<textarea name="textarea" id="LocalAuditDataExport" cols="100" style="display:none">{{valuesToString exportLocalAuditsList}}</textarea>
<textarea name="textarea" id="InternalAuditDataExport" cols="100" style="display:none">{{valuesToString AuditTrustedRCUData}}</textarea>
<table id="auditreview_table" class="ibm-data-table">
	<tr class="audit-review-content">
		<a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
		<span class="ibm-sep"> </span>
		<a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
		<td>
			<span class="audit-review"><b>Internal Audits and Proactive Reviews (Process Reviews, PwC Required Walkthroughs, IBM Voluntary Walkthroughs, and Application Reviews)</b></span><br /><br />
			<!--<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">-->
			<table id="ppr_treeview" width="100%" class="table_with_scroll">
				<thead>
					<!--<th class="audit-review-viewheader" width="2%"><input type="checkbox" class="ppr_checkbox_tree" id="ppr_checkbox_tree" name="ppr_checkbox "/></th>-->
					<th class="audit-review-viewheader" width="6%">Period</th>
					<th class="audit-review-viewheader" width="3%">CO</th>
					<th class="audit-review-viewheader" width="15%">Audit or Review</th>
					<th class="audit-review-viewheader" width="10%">ID</th>
					<th class="audit-review-viewheader" width="20%">Assessable Unit</th>
					<th class="audit-review-viewheader" width="5%">Date</th>
					<th class="audit-review-viewheader" width="5%">Rating</th>
					<th class="audit-review-viewheader" width="3%">Total Recs</th>
					<th class="audit-review-viewheader" width="3%">Open Recs</th>
					<th class="audit-review-viewheader" width="7%">Target to Close</th>
					<th class="audit-review-viewheader" width="20%">Comments</th>
				</thead>
				<tbody>
				{{#each AuditTrustedData}}
				<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
					<!--<th width="2%">{{#if countryProcess}}<input type="checkbox" class="ppr_checkbox_tree"/>{{/if}}</th>-->
						<td width="6%">{{#if catEntry}}{{reportingQuarter}}{{/if}}</td>
						<td width="3%">{{#if COFlag}}<span class="ibm-check-link"></span>{{/if}}</td>
						<td width="15%">{{#if auditOrReview}}{{auditOrReview}}{{else}}&nbsp;{{/if}}</td>
						<td width="10%">{{#unless catEntry}}<a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{eid}}</a>{{/unless}}</td>
						<td width="20%">{{countryProcess}}</td>
						<td width="5%">{{reportDate}}</td>
						{{{ratingDisplayView rating 5}}}
						<td width="3%">{{numRecommendationsTotal}}</td>
						<td width="3%">{{numRecommendationsOpen}}</td>
						<td width="7%">{{targetClose}}</td>
						<td width="20%">{{comments}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="audit-review-content">
		<td>
			<span class="audit-review"><b>Relevant CU Internal Audits</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="InternalAudit-link-export" id="InternalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="InternalAudit-link-export2" id="InternalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
			<table id="InternalAudit_table" width="100%" class="table_with_scroll">
				<thead>
					<th class="audit-review-viewheader" width="6%">Period</th>
					<th class="audit-review-viewheader" width="15%">Audit or Review</th>
					<th class="audit-review-viewheader" width="10%">ID</th>
					<th class="audit-review-viewheader" width="22%">Assessable Unit</th>
					<th class="audit-review-viewheader" width="5%">Report Date</th>
					<th class="audit-review-viewheader" width="5%">Rating</th>
					<th class="audit-review-viewheader" width="5%">Total Recs</th>
					<th class="audit-review-viewheader" width="5%">Open Recs</th>
					<th class="audit-review-viewheader" width="7%">Target to Close</th>
					<th class="audit-review-viewheader" width="20%">Comments</th>
				</thead>
				<tbody>
				{{#each AuditTrustedRCUData}}
					<tr class="asmt-viewdata">
						<td width="6%">{{reportingQuarter}}</td>
						<td width="15%">{{auditOrReview}}</a></td>
						<td width="10%"><a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{id}}</a></td>
						<td width="22%">{{#if _id}}{{controllableUnit}}{{else}}&nbsp;{{/if}}</td>
						<td width="5%">{{reportDate}}</td>
						{{{ratingDisplayView rating 5}}}
						<td width="5%">{{numRecommendationsTotal}}</td>
						<td width="5%">{{numRecommendationsOpen}}</td>
						<td width="7%">{{targetClose}}</td>
						<td width="20%">{{comments}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="audit-review-content">
		<td>
			<span class="audit-review"><b>Audits &amp; Reviews (data managed locally)</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="LocalAudit-link-export" id="LocalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="LocalAudit-link-export2" id="LocalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
			<table id="LocalAudit_treeview" width="100%" class="table_with_scroll">
			<!--{{#if admin}}-->
			<!--{{/if}}-->
				<a target="_blank" href="/localaudit?id={{_id}}&pid={{parentid}}&new" class="ibm-add1-link whiteanchor">New</a></td>

				<br /><br />

				<thead>
					<th class="audit-review-viewheader" width="7%">Period</th>
					<th class="audit-review-viewheader" width="20%">Audit or Review</th>
					<th class="audit-review-viewheader" width="7%">Date</th>
					<th class="audit-review-viewheader" width="7%">Rating</th>
					<th class="audit-review-viewheader" width="10%">Total Recs</th>
					<th class="audit-review-viewheader" width="9%">Open Recs</th>
					<th class="audit-review-viewheader" width="10%">Target to Close</th>
					<th class="audit-review-viewheader" width="30%">Comments</th>
				</thead>
				<tbody>
				{{#each AuditLocalData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#unless parent}}
							<td width="6%">{{reportingQuarter}}</td>
						{{else}}
							<td width="6%">&nbsp;</td>
						{{/unless}}
						<td width="20%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{auditOrReview}}</a></td>
						<td width="7%">{{reportDate}}</td>
						{{{ratingDisplayView rating 7}}}
						<td width="10%">{{numRecommendationsTotal}}</td>
						<td width="9%">{{numRecommendationsOpen}}</td>
						<td width="10%">{{targetCloseOriginal}}</td>
						<td width="30%">{{comments}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
</table>
