<table id="kctest_table" width="100%" class="ibm-data-table">
	<tr class="kc-test-content">
		<td width="35%" class="kc-test-content">
			<span class="kc-test-header"><b>Process Testing Summary</b></span><br /><br />
			<table width="100%" class="ibm-data-table">
				<thead class="kc-test-viewheader">
					<th colspan="5" class="kc-test-viewheader">Defect Rates (%) for Prior and Current Quarters</th>
				</thead>
				<tr class="kc-test-viewheader">
					{{#each PrevQtrs}}
						<td width="20%" class="kc-test-viewsubheader">{{this}}</td>
					{{/each}}
					<td class="asmt-viewdata" width="20%">{{CurrentPeriod}}</td>
				</tr>
				<tr class="asmt-viewdata">
					{{{defectRateDisplayView AUDefectRatePrev4 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev3 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev2 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev1 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
				</tr>
			</table>
		</td>
		<td width="65%" class="kc-test-content"></td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Reporting Country Testing</b></span><br /><br />
			<table id="RCTest_treeview" width="100%" class="table_with_scroll">
				<thead class="kc-test-viewheader">
					<th class="kc-test-viewheader" width="5%">Period</th>
					<th class="kc-test-viewheader" width="5%">Type</th>
					<th class="kc-test-viewheader" width="40%">Control</th>
					<th class="kc-test-viewheader" width="10%">Tests</th>
					<th class="kc-test-viewheader" width="10%">Defects</th>
					<th class="kc-test-viewheader" width="10%">Defect Rate %</th>
					<th class="kc-test-viewheader" width="20%">Remaining Fin. Impact</th>
				</thead>
				<tbody>
				{{#each RCTestData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
							<td width="5%" {{#unless parent}} nowrap {{/unless}}>{{reportingQuarter}}</td>
							<td width="5%">{{controlType}}</td>
						{{else}}
							<td width="5%" {{#unless parent}} nowrap {{/unless}}></td>
							<td width="5%"></td>
						{{/if}}
						<td width="40%"><a href="/asmtcomponents?id={{_id}}">{{controlName}}</a></td>
						<td width="10%">{{numActualTests}}</td>
						<td width="10%">{{numDefects}}</td>
						<td width="10%">{{defectRate}}</td>
						<td width="20%">{{#if remFinImpact}}$ {{/if}}{{remFinImpact}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Sampled Country Testing</b></span><br /><br />
			<table id="SCTest_treeview" width="100%" class="table_with_scroll">
				<thead class="kc-test-viewheader">
					<th class="kc-test-viewheader" width="5%">Period</th>
					<th class="kc-test-viewheader" width="5%">Type</th>
					<th class="kc-test-viewheader" width="20%">Control</th>
					<th class="kc-test-viewheader" width="25%">Reporting Country</th>
					<th class="kc-test-viewheader" width="15%">Tests</th>
					<th class="kc-test-viewheader" width="15%">Defects</th>
					<th class="kc-test-viewheader" width="15%">Defect Rate %</th>
				</thead>
				<tbody>
				{{#each SCTestData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
							<td>{{reportingQuarter}}</td>
							<td>{{controlType}}</td>
							<td>{{controlName}}</td>
						{{else}}
							<td></td>
							<td></td>
							<td></td>
						{{/if}}
						<td>{{#if reportingCountry}}<a href="/asmtcomponents?id={{_id}}">{{/if}}{{reportingCountry}}{{#if reportingCountry}}</a>{{/if}}</td>
						<td>{{numtest}}</td>
						<td>{{numDefects}}</td>
						<td>{{defectRate}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Current Period Samples with Defects (includes all test types)</b></span><br /><br />
			<table id="Sample_treeview" width="100%" cellspacing="0" cellpadding="0" border="0" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating table_with_scroll">
				<thead>
					<th class="kc-test-viewheader" width="5%">Cat</th>
					<th class="kc-test-viewheader" width="5%">Process</th>
					<th class="kc-test-viewheader" width="5%">Control</th>
					<th class="kc-test-viewheader" width="10%">Sample ID</th>
					<th class="kc-test-viewheader" width="5%">Defects</th>
					<th class="kc-test-viewheader" width="10%">Defect Type</th>
					<th class="kc-test-viewheader" width="10%">Remed. Status</th>
					<th class="kc-test-viewheader" width="5%">Remaining Fin. Impact</th>
					<th class="kc-test-viewheader" width="13%">Original Target to Close</th>
					<th class="kc-test-viewheader" width="12%">Current Target to Close</th>
					<th class="kc-test-viewheader" width="20%">Defect Abstract</th>
				</thead>
				<tbody>
				{{#each SampleData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
							<td width="5%" {{#unless parent}} nowrap {{/unless}}>{{processCategory}}</td>
							<td width="5%">{{processSampled}}</td>
							<td width="5%">{{controlName}}</td>
						{{else}}
							<td width="5%" {{#unless parent}} nowrap {{/unless}}></td>
							<td width="5%"></td>
							<td width="5%"></td>
						{{/if}}
						<td width="10%"><a href="/asmtcomponents?id={{_id}}">{{IntegrationKeyWWBCIT}}</a></td>
						<td width="5%">{{numDefects}}</td>
						<td width="10%">{{defectType}}</td>
						<td width="10%">{{remediationStatus}}</td>
						<td width="5%">{{remainingFinancialImpact}}</td>
						<td width="13%">{{originalTargetDate}}</td>
						<td width="12%">{{targetClose}}</td>
						<td width="20%">{{defectsAbstract}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Unremediated Samples from Prior Periods (includes all test types)</b></span><br /><br />
			<table id="Sample2_treeview" width="100%" cellspacing="0" cellpadding="0" border="0" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating table_with_scroll">
				<thead>
					<th class="kc-test-viewheader" width="5%">Period</th>
					<th class="kc-test-viewheader" width="5%">Type</th>
					<th class="kc-test-viewheader" width="18%">Control</th>
					<th class="kc-test-viewheader" width="10%">Sample ID</th>
					<th class="kc-test-viewheader" width="15%">Process</th>
					<th class="kc-test-viewheader" width="5%">Defects</th>
					<th class="kc-test-viewheader" width="5%">Defect Type</th>
					<th class="kc-test-viewheader" width="7%">Remaining Fin. Impact</th>
					<th class="kc-test-viewheader" width="7.5%">Original Target to Close</th>
					<th class="kc-test-viewheader" width="7.5%">Current Target to Close</th>
					<th class="kc-test-viewheader" width="15%">Defect Abstract</th>
				</thead>
				<tbody>
				{{#each SampleData2}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
							<td {{#unless parent}} nowrap {{/unless}}>{{originalReportingQuarter}}</td>
							<td>{{testType}}</td>
						{{else}}
							<td {{#unless parent}} nowrap {{/unless}}></td>
							<td></td>
						{{/if}}
						<td>{{controlName}}</td>
						<td><a href="/asmtcomponents?id={{_id}}">{{IntegrationKeyWWBCIT}}</a></td>
						<td>{{processSampled}}</td>
						<td>{{numDefects}}</td>
						<td>{{defectType}}</td>
						<td>{{remainingFinancialImpact}}</td>
						<td>{{originalTargetDate}}</td>
						<td>{{targetClose}}</td>
						<td>{{defectsAbstract}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
</table>
