<table id="kctest_table" width="100%" class="ibm-data-table">
	<tr class="kc-test-content">
		<td width="35%" class="kc-test-content">
			<span class="kc-test-header"><b>Process Testing Summary</b></span><br /><br />
			<table width="100%" class="ibm-data-table">
				<thead class="kc-test-viewheader">
					<th colspan="5" class="kc-test-viewheader">Defect Rates (%) for Prior and Current Quarters</th>
				</thead>
				<tr class="kc-test-viewheader">
					{{#each PrevQtrs}}
						<td width="20%" class="kc-test-viewsubheader">{{this}}</td>
					{{/each}}
					<td class="asmt-viewdata" width="20%">{{CurrentPeriod}}</td>
				</tr>
				<tr class="asmt-viewdata">
					{{{defectRateDisplayView AUDefectRatePrev4 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev3 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev2 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev1 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
				</tr>
			</table>
		</td>
		<td width="65%" class="kc-test-content"></td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Reporting Country Testing</b></span><br /><br />
			<table width="100%">
				<thead class="kc-test-viewheader">
					<th class="kc-test-viewheader" width="5">Period</th>
					<th class="kc-test-viewheader" width="5">Type</th>
					<th class="kc-test-viewheader" width="40">Control</th>
					<th class="kc-test-viewheader" width="10">Tests</th>
					<th class="kc-test-viewheader" width="10">Defects</th>
					<th class="kc-test-viewheader" width="10">Defect Rate %</th>
					<th class="kc-test-viewheader" width="20">Remaining Fin. Impact</th>
				</thead>
				{{#each RCTestData}}
					<tr class="asmt-viewdata">
						<td>{{reportingQuarter}}</td>
						<td>{{controlType}}</td>
						<td><a href="/asmtcomponents?id={{_id}}">{{controlName}}</a></td>
						<td>{{numActualTests}}</td>
						<td>{{numDefects}}</td>
						<td>{{defectRate}}</td>
						<td>$ {{remFinImpact}}</td>
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Sampled Country Testing</b></span><br /><br />
			<table width="100%">
				<thead class="kc-test-viewheader">
					<th class="kc-test-viewheader" width="10">Period</th>
					<th class="kc-test-viewheader" width="15">Type</th>
					<th class="kc-test-viewheader" width="15">Control</th>
					<th class="kc-test-viewheader" width="30">Reporting Country</th>
					<th class="kc-test-viewheader" width="10">Tests</th>
					<th class="kc-test-viewheader" width="10">Defects</th>
					<th class="kc-test-viewheader" width="10">Defect Rate %</th>
				</thead>
				{{#each SCTestData}}
					<tr class="asmt-viewdata">
						<td>{{reportingQuarter}}</td>
						<td>{{controlType}}</td>
						<td><a href="/asmtcomponents?id={{_id}}">{{controlName}}</a></td>
						<td>{{reportingCountry}}</td>
						<td>{{numtest}}</td>
						<td>{{numDefects}}</td>
						<td>{{defectRate}}</td>
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Current Period Samples with Defects (includes all test types)</b></span><br /><br />
			<table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
				<thead>
					<th class="kc-test-viewheader" width="5">Cat</th>
					<th class="kc-test-viewheader" width="5">Process</th>
					<th class="kc-test-viewheader" width="5">Control</th>
					<th class="kc-test-viewheader" width="10">Sample ID</th>
					<th class="kc-test-viewheader" width="5">Defects</th>
					<th class="kc-test-viewheader" width="10">Defect Type</th>
					<th class="kc-test-viewheader" width="10">Remed. Status</th>
					<th class="kc-test-viewheader" width="5">Remaining Fin. Impact</th>
					<th class="kc-test-viewheader" width="13">Original Target to Close</th>
					<th class="kc-test-viewheader" width="12">Current Target to Close</th>
					<th class="kc-test-viewheader" width="20">Defect Abstract</th>
				</thead>
				{{#each SampleData}}
					<tr class="asmt-viewdata">
						<td>{{processCategory}}</td>
						<td>{{processSampled}}</td>
						<td>{{controlName}}</td>
						<td><a href="/asmtcomponents?id={{_id}}">{{sampleUniqueID}}</a></td>
						<td>{{numDefects}}</td>
						<td>{{defectType}}</td>
						<td>{{remediationStatus}}</td>
						<td>{{remainingFinancialImpact}}</td>
						<td>{{originalTargetDate}}</td>
						<td>{{targetClose}}</td>
						<td>{{defectsAbstract}}</td>
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Unremediated Samples from Prior Periods (includes all test types)</b></span><br /><br />
			<table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
				<thead>
					<th class="kc-test-viewheader" width="5">Period</th>
					<th class="kc-test-viewheader" width="5">Type</th>
					<th class="kc-test-viewheader" width="10">Control</th>
					<th class="kc-test-viewheader" width="10">Sample ID</th>
					<th class="kc-test-viewheader" width="10">Process</th>
					<th class="kc-test-viewheader" width="5">Defects</th>
					<th class="kc-test-viewheader" width="5">Defect Type</th>
					<th class="kc-test-viewheader" width="5">Remaining Fin. Impact</th>
					<th class="kc-test-viewheader" width="13">Original Target to Close</th>
					<th class="kc-test-viewheader" width="12">Current Target to Close</th>
					<th class="kc-test-viewheader" width="20">Defect Abstract</th>
				</thead>
				{{#each SampleData}}
					<tr class="asmt-viewdata">
						<td>{{originalReportingQuarter}}</td>
						<td>{{testType}}</td>
						<td>{{controlName}}</td>
						<td><a href="/asmtcomponents?id={{_id}}">{{sampleUniqueID}}</a></td>
						<td>{{processSampled}}</td>
						<td>{{numDefects}}</td>
						<td>{{defectType}}</td>
						<td>{{remainingFinancialImpact}}</td>
						<td>{{originalTargetDate}}</td>
						<td>{{targetClose}}</td>
						<td>{{defectsAbstract}}</td>
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>
