{{#if editmode}}
{{!-- AUBUSINESSUNIT form - Administrative Use Only section - Edit Mode --}}
	<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
		{{#if admin}}
			<tr>
				<td width="25%"><label for="RGRollup">Reporting group rollup included in this assessment:</label></td>
				<td>
					<input type="hidden" id="RGRollup" name="RGRollup" value="{{RGRollup}}">
					{{{multiSelect "rgrlist" ReportingGroupList "docid" "name" "scopeRGR"}}}
				</td>
			</tr>
			<tr>
				<td><label for="BRGMembership">BU reporting groups:</label></td>
				<td>
					<input type="hidden" id="BRGMembership" name="BRGMembership" value="{{BRGMembership}}">
					{{{multiSelect "brglist" ReportingGroupList "docid" "name" "scopeBRG"}}}
				</td>
			</tr>
			<tr>
				<td><label for="BUCountryIOT">BU Country included in this assessment:</label></td>
				<td>
					<input type="hidden" id="BUCountryIOT" name="BUCountryIOT" value="{{BUCountryIOT}}">
					{{{multiSelect "buclist" BUCountryList "docid" "name" "scopeBUC"}}}
				</td>
			</tr>
		{{else}}
			<tr><td width="25%">Reporting group rollup included in this assessment:</td><td>{{RGRollupDisp}}</td></tr>
			<tr><td>BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
			<tr><td>BU Country included in this assessment:</td><td>{{BUCountryIOTDisp}}</td></tr>
		{{/if}}
	</table>
{{else}}
{{!-- AUBUSINESSUNIT form - Administrative Use Only section - Read Mode --}}
	<table id="admin_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
		<caption class="mira-caption"><em>For Administrative Use Only</em></caption>
			<tr><td width="25%">Reporting group rollup included in this assessment:</td><td>{{RGRollupDisp}}</td></tr>
			<tr><td>BU reporting groups:</td><td>{{BRGMembershipDisp}}</td></tr>
			<tr><td>BU Country included in this assessment:</td><td>{{BUCountryIOTDisp}}</td></tr>
	</table>
{{/if}}
