<textarea name="textarea" id="RCTestDataExport" cols="100" style="display:none">{{valuesToString exportRCTest}}</textarea>

<table id="kctest_table" class="ibm-data-table">
	<tr class="kc-test-content">
		<td class="kc-test-content">
		<span class="kc-test-header"><b>Key Controls Testing</b></span><br /><br />
		<a href="javascript:void(0);" value="Export to Excel" name="RCTest-link-export" id="RCTest-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
		<span class="ibm-sep"> </span>
		<a href="javascript:void(0);" value="Export to Open Office" name="RCTest-link-export2" id="RCTest-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
		<a target="_blank" href="/accountControls?id={{_id}}&new" class="ibm-add1-link">New</a>
		<table id="RCTest_treeview" width="100%" class="table_with_scroll">
			<thead class="kc-test-viewheader">
				<th class="kc-test-viewheader" width="15%"></th>
				<th class="kc-test-viewheader" width="18%">Process</th>
				<th class="kc-test-viewheader" width="10%">Event Date</th>
				<th class="kc-test-viewheader" width="5%">Tests</th>
				<th class="kc-test-viewheader" width="5%">Process Defects</th>
				<th class="kc-test-viewheader" width="5%">Control Deficiences</th>
				<th class="kc-test-viewheader" width="5%">Defect Rate</th>
				<th class="kc-test-viewheader" width="10%">Remediation Status</th>
				<th class="kc-test-viewheader" width="10%">Target to Close</th>
				<th class="kc-test-viewheader" width="17%">Comments</th>
			</thead>
			<tbody>
				{{#each RCTestData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="15%">{{name}}</td>
						<td width="18%"><a target="_blank" href="/asmtcomponents?id={{_id}}">{{process}}</a></td>
						<td width="10%">{{eventDate}}</td>
						<td width="5%">{{numTestsCompleted}}</td>
						<td width="5%">{{numProcessDefects}}</td>
						<td width="5%">{{numControlDeficiencies}}</td>
						{{{compDocDRDisplayView RAGStatus defectRate}}}
						<!-- {{{defectRateDisplayView defectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}} -->

						<td width="10%">{{remediationStatus}}</td>
						<td width="10%">{{targetToClose}}</td>
						<td width="17%">{{comments}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</td>
	</tr>
</table>
