<table id="opmetric_table" class="ibm-data-table">
	<input type="hidden" name="opMetricIDs" id="opMetricIDs" value="{{opMetricIDs}}">
	<input type="hidden" name="opMetricException" id="opMetricException" value="{{opMetricException}}">
	<tr class="op-metric-content">
		<td>
			<table width="100%" id="opmetric_content">
				<thead class="op-metric-label">
					<th scope="col">Metric</th>
					{{#if OpMetric.desc}}
						<th scope="col">Defined Target</th>
					{{/if}}
					<th scope="col">Rating</th>
					<th scope="col">Target to Sat</th>
					<th scope="col">Findings</th>
					<th scope="col">Actions</th>
				</thead>
				{{#each OpMetric}}
					<input type="hidden" name="{{namefield}}" id="{{namefield}}" value="{{name}}">
					<tr>
						<td class="op-metric-label">{{name}}</td>
						{{#if desc}}
							<td class="op-metric-label">{{desc}}</td>
						{{/if}}
						{{#if ../editmode}}
							<td class="content-data">
								<span>{{{uniqueSelect ratingfield ../parameters.OpMetricRating.0.options "name" "name" rating}}}</span>
							</td>
							<td class="content-data">
								<span id={{colDate}}>
									<input type="date" name="{{targetsatdatefield}}" id="{{targetsatdatefield}}" value="{{targetsatdate}}">
									<span for="{{targetsatdatefield}}" class="ibm-calendar-link"></span>
								</span>
							</td>
							<td class="content-data">
								<span class="content-data" id={{colFinding}}><input type="text" name="{{findingfield}}" id="{{findingfield}}" value="{{finding}}"></span>
							</td>
							<td class="content-data">
								<span class="content-data" id={{colAction}}><input type="text" name="{{actionfield}}" id="{{actionfield}}" value="{{action}}"></span>
							</td>
						{{else}}
							<td class="content-data">{{{ratingDisplay rating}}}</td>
							<td class="content-data">{{{dateDisplay targetsatdate}}}</td>
							<td class="content-data">{{finding}}</td>
							<td class="content-data">{{action}}</td>
						{{/if}}
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>