<textarea name="textarea" id="PPRDataExport" cols="100" style="display:none">{{valuesToString exportPPR}}</textarea>
<textarea name="textarea" id="LocalAuditDataExport" cols="100" style="display:none">{{valuesToString exportLocalAuditsList}}</textarea>
<textarea name="textarea" id="InternalAuditDataExport" cols="100" style="display:none">{{valuesToString AuditTrustedRCUData}}</textarea>
<table id="auditreview_table" class="ibm-data-table">
	<tr class="audit-review-content">
		<a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
		<span class="ibm-sep"> </span>
		<a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
		<td>
			<span class="audit-review"><b>Internal Audits and Proactive Reviews (Process Reviews, PwC Required Walkthroughs, IBM Voluntary Walkthroughs, and Application Reviews)</b></span><br /><br />
			<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
				<thead>
					<th class="audit-review-viewheader" scope="col" width="4%">Period</th>
					<th class="audit-review-viewheader" scope="col" width="4%">CO</th>
					<th class="audit-review-viewheader" scope="col" width="15%">Audit or Review</th>
					<th class="audit-review-viewheader" scope="col" width="10%">ID</th>
					<th class="audit-review-viewheader" scope="col" width="20%">Assessable Unit</th>
					<th class="audit-review-viewheader" scope="col" width="5%">Date</th>
					<th class="audit-review-viewheader" scope="col" width="5%">Rating</th>
					<th class="audit-review-viewheader" scope="col" width="5%">Total Recs</th>
					<th class="audit-review-viewheader" scope="col" width="5%">Open Recs</th>
					<th class="audit-review-viewheader" scope="col" width="7%">Target to Close</th>
					<th class="audit-review-viewheader" scope="col" width="20%">Comments</th>
				</thead>
				{{#each AuditTrustedData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
					<!--<th width="2%">{{#if countryProcess}}<input type="checkbox" class="ppr_checkbox_tree"/>{{/if}}</th>-->
						<td width="6%">{{#unless countryProcess}}{{reportingQuarter}}{{/unless}}</td>
						<td width="3%">{{#if COFlag}}<a class="ibm-check-link"></a>{{/if}}</td>
						<td width="15%">{{auditOrReview}}</td>
						<td width="10%">{{#unless catEntry}}<a target="_blank" href="/asmtcomponents?id={{_id}}">{{eid}}</a>{{/unless}}</td>
						<td width="20%">{{#if _id}}{{countryProcess}}{{else}}&nbsp;{{/if}}</td>
						<td width="5%">{{reportDate}}</td>
						<td width="5%">{{rating}}</td>
						<td width="3%">{{numRecommendationsTotal}}</td>
						<td width="3%">{{numRecommendationsOpen}}</td>
						<td width="7%">{{targetClose}}</td>
						<td width="20%">{{comments}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="audit-review-content">
		<td>
			<span class="audit-review"><b>Audits &amp; Reviews (data managed locally)</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="LocalAudit-link-export" id="LocalAudit-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="LocalAudit-link-export2" id="LocalAudit-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="LocalAudit_treeview" width="100%" class="table_with_scroll">
			<!--{{#if admin}}-->
			<!--{{/if}}-->
				<a target="_blank" href="/localaudit?id={{_id}}&new" class="ibm-add1-link">New</a></td>

				<br /><br />
				<thead>
					<th class="audit-review-viewheader" width="7%">Period</th>
					<th class="audit-review-viewheader" width="20%">Audit or Review</th>
					<th class="audit-review-viewheader" width="7%">Date</th>
					<th class="audit-review-viewheader" width="7%">Rating</th>
					<th class="audit-review-viewheader" width="10%">Total Recs</th>
					<th class="audit-review-viewheader" width="9%">Open Recs</th>
					<th class="audit-review-viewheader" width="10%">Target to Close</th>
					<th class="audit-review-viewheader" width="30%">Comments</th>
				</thead>
				{{#each AuditLocalData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#unless parent}}
							<td width="6%">{{reportingQuarter}}</td>
						{{else}}
							<td width="6%">&nbsp;</td>
						{{/unless}}
						<td width="20%"><a target="_blank" href="/asmtcomponents?id={{id}}">{{auditOrReview}}</a></td>
						<td width="7%">{{#if _id}}{{reportDate}}{{else}}&nbsp;{{/if}}</td>
						<td width="7%">{{rating}}</td>
						<td width="10%">{{numRecommendationsTotal}}</td>
						<td width="9%">{{numRecommendationsOpen}}</td>
						<td width="10%">{{targetCloseOriginal}}</td>
						<td width="30%">{{comments}}</td>
					</tr>
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>
