<textarea name="textarea" id="PPRDataExport" cols="100" style="display:none">{{valuesToString exportPPR}}</textarea>
<textarea name="textarea" id="LocalAuditDataExport" cols="100" style="display:none">{{valuesToString exportLocalAuditsList}}</textarea>
<textarea name="textarea" id="InternalAuditDataExport" cols="100" style="display:none">{{valuesToString AuditTrustedRCUData}}</textarea>
<table id="auditreview_table" class="ibm-data-table">
	<tr class="audit-review-content">
		
		<td>
			<span class="audit-review"><b>Audits & Reviews (data from trusted sources)</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="ppr-link-export" id="ppr-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="ppr-link-export2" id="ppr-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a><br /><br />
			<!--<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">-->
			<table id="ppr_treeview" width="100%" class="table_with_scroll">
				<thead>
					<th class="audit-review-viewheader" scope="col" width="6%">Period</th>
					<th class="audit-review-viewheader" scope="col" width="6%">CO</th>
					<th class="audit-review-viewheader" scope="col" width="17%">Audit or Review</th>
					<th class="audit-review-viewheader" scope="col" width="12%">ID</th>
					<th class="audit-review-viewheader" scope="col" width="7%">Date</th>
					<th class="audit-review-viewheader" scope="col" width="7%">Rating</th>
					<th class="audit-review-viewheader" scope="col" width="7%">Total Recs</th>
					<th class="audit-review-viewheader" scope="col" width="7%">Open Recs</th>
					<th class="audit-review-viewheader" scope="col" width="9%">Target to Close</th>
					<th class="audit-review-viewheader" scope="col" width="22%">Comments</th>
				</thead>
				{{#each AuditTrustedData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						<td width="6%" color="red">{{#if catEntry}}{{reportingQuarter}}{{/if}}</td>
						<td width="6%">
							{{#if COFlag}}<span class="ibm-check-link"></span>{{/if}}
						</td>
						<td width="17%"><a target="_blank" href="/asmtcomponents?id={{id}}&pid={{../parentid}}">{{auditOrReview}}</a></td>
						<td width="12%">{{#unless catEntry}}<a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{eid}}</a>{{/unless}}</td>
						<td width="7%">{{reportDate}}</td>
						{{{ratingDisplayView rating 7}}}
						<td width="7%">{{numRecommendationsTotal}}</td>
						<td width="7%">{{numRecommendationsOpen}}</td>
						<td width="9%">{{targetClose}}</td>
						<td width="22%">{{comments}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="audit-review-content">
		<td>
			<span class="audit-review"><b>Audits &amp; Reviews (data managed locally)</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="LocalAudit-link-export" id="LocalAudit-link-export" class="ibm-symp-spreadsheet whiteanchor">Export to Excel</a>
			<span class="ibm-sep">&nbsp;</span>
			<a href="javascript:void(0);" value="Export to Open Office" name="LocalAudit-link-export2" id="LocalAudit-link-export2" class="ibm-symp-spreadsheet whiteanchor">Export to Open Office</a>
			{{#if editmode}}
			<span class="ibm-sep">&nbsp;</span>
			<a target="_blank" href="/localaudit?id={{_id}}&pid={{parentid}}&new" class="ibm-add1-link whiteanchor">New</a>
			{{/if}}
			<br /><br />
			<table id="LocalAudit_treeview" width="100%" class="table_with_scroll">
			<!--{{#if admin}}-->
			<!--{{/if}}-->
				<thead>
					<th class="audit-review-viewheader" width="7%">Period</th>
					<th class="audit-review-viewheader" width="20%">Audit or Review</th>
					<th class="audit-review-viewheader" width="7%">Date</th>
					<th class="audit-review-viewheader" width="7%">Rating</th>
					<th class="audit-review-viewheader" width="10%">Total Recs</th>
					<th class="audit-review-viewheader" width="9%">Open Recs</th>
					<th class="audit-review-viewheader" width="10%">Target to Close</th>
					<th class="audit-review-viewheader" width="30%">Comments</th>
				</thead>
				<tbody>
				{{#each AuditLocalData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#unless parent}}
							<td width="7%">{{reportingQuarter}}</td>
						{{else}}
							<td width="7%">&nbsp;</td>
						{{/unless}}
						<td width="20%"><a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{auditOrReview}}</a></td>
						<td width="7%">{{#if _id}}{{reportDate}}{{else}}&nbsp;{{/if}}</td>
						{{{ratingDisplayView rating 7}}}
						<td width="10%">{{numRecommendationsTotal}}</td>
						<td width="9%">{{numRecommendationsOpen}}</td>
						<td width="10%">{{targetCloseOriginal}}</td>
						<td width="30%">{{comments}}</td>
					</tr>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</td>
	</tr>
</table>
