<table id="other_table" class="ibm-data-table">
	<tr class="other">
		<td class="other">Compliance Test Reporting Tool (CTRT) Input</td>
	</tr>
	<tr class="other">
		<td>
			<table width="100%">
				<tr>
					<td class="other-viewheader-al" width="20%"><strong>Current Qtr :</strong></td>
					<td class="asmt-viewdata" width="80%">{{CTRT.reportingQuarter}}</td>
				</tr>
				<tr>
					<td class="other-viewheader-al"><strong>Geo :</strong></td>
					<td class="asmt-viewdata">{{CTRT.geo}}</td>
				</tr>
				<tr>
					<td class="other-viewheader-al"><strong>Process :</strong></td>
					<td class="asmt-viewdata">{{CTRT.process}}</td>
				</tr>
				<tr>
					<td class="other-viewheader-al"><strong>Total Tests :</strong></td>
					<td class="asmt-viewdata">{{CTRT.totalTests}}</td>
				</tr>
				<tr>
					<td class="other-viewheader-al"><strong>Defects :</strong></td>
					<td class="asmt-viewdata">{{CTRT.defects}}</td>
				</tr>
				<tr>
					<td class="other-viewheader-al"><strong>Defects % :</strong></td>
					<td class="asmt-viewdata">{{CTRT.defectsRate}}</td>
				</tr>
				<tr>
					<td class="other-viewheader-al"><strong>Rating :</strong></td>
					<td class="asmt-viewdata">{{CTRT.rating}}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="other">
		<td class="other">Other Considerations</td>
	</tr>
	<tr class="other">
		{{#if editmode}}
			<td class="content-data">
				<div class='yui-skin-sam'>
					<span><textarea id="AsmtOtherConsiderations" type="text" name="AsmtOtherConsiderations" cols="168" rows="3">{{AsmtOtherConsiderations}}</textarea></span>
				</div>
			</td>
		{{else}}
			<td class="content-data">&nbsp;
				<input type="hidden" name="AsmtOtherConsiderationsRO" value="{{AsmtOtherConsiderations}}">
				<div id="AsmtOtherConsiderationsReadOnly"></div>
			</td>
		{{/if}}
	</tr>
</table>
