<textarea name="textarea" id="RCTestDataExport" cols="100" style="display:none">{{valuesToString exportRCTest}}</textarea>
<textarea name="textarea" id="SampleDataExport" cols="100" style="display:none">{{valuesToString exportSample}}</textarea>
<textarea name="textarea" id="Sample2DataExport" cols="100" style="display:none">{{valuesToString exportSample2}}</textarea>
<table id="kctest_table" width="100%" class="ibm-data-table">
	<tr class="kc-test-content">
		<td width="35%" class="kc-test-content">
			<span class="kc-test-header"><b>Process Testing Summary</b></span><br /><br />
			<table width="100%" class="ibm-data-table">
				<thead class="kc-test-viewheader">
					<th colspan="5" class="kc-test-viewheader">Defect Rates (%) for Prior and Current Quarters</th>
				</thead>
				<tr class="kc-test-viewheader">
					{{#each PrevQtrs}}
						<td width="20%" class="kc-test-viewsubheader">{{this}}</td>
					{{/each}}
					<td class="asmt-viewdata" width="20%">{{CurrentPeriod}}</td>
				</tr>
				<tr class="asmt-viewdata">
					{{{defectRateDisplayView AUDefectRatePrev4 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev3 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev2 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRatePrev1 parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
					{{{defectRateDisplayView AUDefectRate parameters.MargThresholdPercent.0.options.0.name parameters.UnsatThresholdPercent.0.options.0.name}}}
				</tr>
			</table>
		</td>
		<td width="65%" class="kc-test-content"></td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<!--<span class="kc-test-header"><b>Reporting Country Testing</b></span><br /><br />-->
			<a href="javascript:void(0);" value="Export to Excel" name="RCTest-link-export" id="RCTest-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="RCTest-link-export2" id="RCTest-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="RCTest_treeview" width="100%" class="table_with_scroll">
				<thead class="kc-test-viewheader">
					<!--<th class="kc-test-viewheader" width="2%"><input type="checkbox" class="RCTest_checkbox_tree" id="RCTest_checkbox_tree" name="RCTest_checkbox "/></th>-->
					<th class="kc-test-viewheader" width="5%">Period</th>
					<th class="kc-test-viewheader" width="5%">Type</th>
					<th class="kc-test-viewheader" width="20%">Process</th>
					<th class="kc-test-viewheader" width="20%">Control</th>
					<th class="kc-test-viewheader" width="10%">Tests</th>
					<th class="kc-test-viewheader" width="10%">Defects</th>
					<th class="kc-test-viewheader" width="10%">Defect Rate %</th>
					<th class="kc-test-viewheader" width="20%">Remaining Fin. Impact</th>
				</thead>
				<tbody>
				{{#each RCTestData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
						<!--<th width="2%" ></th>-->
							<td width="5%">{{reportingQuarter}}</td>
							<td width="5%">{{controlType}}</td>
							<td width="20%">{{process}}</td>
						{{else}}
						<!--<th width="2%" >{{#if controlType}}<input type="checkbox" class="RCTest_checkbox_tree"/>{{/if}}</th>-->
							<td width="5%"></td>
							<td width="5%"></td>
							<td width="20%"></td>
						{{/if}}
						<td width="20%"><a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{controlName}}</a></td>
						<td width="10%">{{numTests}}</td>
						<td width="10%">{{DefectCount}}</td>
						<td width="10%">{{defectRate}}</td>
						<td width="20%">{{#if remainingFinancialImpact}}$ {{/if}}{{remainingFinancialImpact}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Current Period Samples with Defects (includes all test types)</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="Sample-link-export" id="Sample-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="Sample-link-export2" id="Sample-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="Sample_treeview" width="100%" cellspacing="0" cellpadding="0" border="0" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating table_with_scroll">
				<thead>
					<!--<th class="kc-test-viewheader" width="2%"><input type="checkbox" class="Sample_checkbox_tree" id="Sample_checkbox_tree" name="Sample_checkbox "/></th>-->
					<th class="kc-test-viewheader" width="5%">Cat</th>
					<th class="kc-test-viewheader" width="5%">Process</th>
					<th class="kc-test-viewheader" width="16%">Control</th>
					<th class="kc-test-viewheader" width="7%">Sample ID</th>
					<th class="kc-test-viewheader" width="10%">Defect Type</th>
					<th class="kc-test-viewheader" width="5%">Defects</th>
					<th class="kc-test-viewheader" width="10%">Remed. Status</th>
					<th class="kc-test-viewheader" width="8%">Remaining Fin. Impact</th>
					<th class="kc-test-viewheader" width="8%">Original Target to Close</th>
					<th class="kc-test-viewheader" width="8%">Current Target to Close</th>
					<th class="kc-test-viewheader" width="18%">Defect Abstract</th>
				</thead>
				<tbody>
				{{#each SampleData}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
						  <!--<th width="2%" ></th>-->
							<td width="5%" >{{processCategory}}</td>
							<td width="5%">{{processSampled}}</td>
						{{else}}
							<!--<th width="2%" >{{#if controlName}}<input type="checkbox" class="Sample_checkbox_tree"/>{{/if}}</th>-->
							<td width="5%" ></td>
							<td width="5%"></td>
						{{/if}}
						<td width="16%">{{controlName}}</td>
						<td width="7%"><a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{IntegrationKeyWWBCIT}}</a></td>
						<td width="10%">{{defectType}}</td>
						<td width="5%">{{numDefects}}</td>
						<td width="10%">{{remediationStatus}}</td>
						<td width="8%">{{#if remainingFinancialImpact}}$ {{/if}}{{remainingFinancialImpact}}</td>
						<td width="8%">{{originalTargetDate}}</td>
						<td width="8%">{{targetClose}}</td>
						<td width="18%">{{defectsAbstract}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
	<tr class="kc-test-content">
		<td class="kc-test-content" colspan="2">
			<span class="kc-test-header"><b>Unremediated Samples from Prior Periods (includes all test types)</b></span><br /><br />
			<a href="javascript:void(0);" value="Export to Excel" name="Sample2-link-export" id="Sample2-link-export" class="ibm-symp-spreadsheet">Export to Excel</a>
			<span class="ibm-sep"> </span>
			<a href="javascript:void(0);" value="Export to Open Office" name="Sample2-link-export2" id="Sample2-link-export2" class="ibm-symp-spreadsheet">Export to Open Office</a>
			<table id="Sample2_treeview" width="100%" cellspacing="0" cellpadding="0" border="0" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating table_with_scroll">
				<thead>
					<!--<th class="kc-test-viewheader" width="2%"><input type="checkbox" class="Sample2_checkbox_tree" id="Sample2_checkbox_tree" name="Sample2_checkbox "/></th>-->
					<th class="kc-test-viewheader" width="5%">Period</th>
					<th class="kc-test-viewheader" width="5%">Type</th>
					<th class="kc-test-viewheader" width="18%">Control</th>
					<th class="kc-test-viewheader" width="10%">Sample ID</th>
					<th class="kc-test-viewheader" width="15%">Process</th>
					<th class="kc-test-viewheader" width="5%">Defects</th>
					<th class="kc-test-viewheader" width="5%">Defect Type</th>
					<th class="kc-test-viewheader" width="7%">Remaining Fin. Impact</th>
					<th class="kc-test-viewheader" width="6.5%">Original Target to Close</th>
					<th class="kc-test-viewheader" width="6.5%">Current Target to Close</th>
					<th class="kc-test-viewheader" width="15%">Defect Abstract</th>
				</thead>
				<tbody>
				{{#each SampleData2}}
					<tr data-tt-id={{id}} data-tt-parent-id="{{parent}}" class="asmt-viewdata">
						{{#if catEntry}}
							<!--<th width="2%" ></th>-->
							<td width="5%">{{originalReportingQuarter}}</td>
							<td width="5%">{{testType}}</td>
						{{else}}
							<!--<th width="2%" >{{#if controlName}}<input type="checkbox" class="Sample2_checkbox_tree"/>{{/if}}</th>-->
							<td width="5%"></td>
							<td width="5%"></td>
						{{/if}}
						<td width="18%">{{controlName}}</td>
						<td width="10%"><a target="_blank" href="/asmtcomponents?id={{_id}}&pid={{../parentid}}">{{IntegrationKeyWWBCIT}}</a></td>
						<td width="15%">{{processSampled}}</td>
						<td width="5%">{{numDefects}}</td>
						<td width="5%">{{defectType}}</td>
						<td width="7%">{{#if remainingFinancialImpact}}$ {{/if}}{{remainingFinancialImpact}}</td>
						<td width="6.5%">{{originalTargetDate}}</td>
						<td width="6.5%">{{targetClose}}</td>
						<td width="15%">{{defectsAbstract}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
		</td>
	</tr>
</table>
