<table id="opmetric_table" class="ibm-data-table">
	<input type="hidden" name="opMetricIDs" id="opMetricIDs" value="{{opMetricIDs}}">
	<tr class="op-metric-content">
		<td>
			<table width="100%" id="opmetric_content">
				<thead class="op-metric-label">
					<th scope="col" width="18%">Metric</th>
					<th scope="col" width="20%">Defined Target</th>
					<th scope="col" width="9%">Rating</th>
					<th scope="col" width="13%">Target to Sat</th>
					<th scope="col" width="20%">Findings</th>
					<th scope="col" width="20%">Actions</th>
				</thead>
				{{#each OpMetric}}
					<input type="hidden" name="{{namefield}}" id="{{namefield}}" value="{{name}}">
					<tr>
						<td class="op-metric-label">{{name}}</td>
						<td class="op-metric-label">
							{{#each desc}}
								<span class="mira-subdata2">{{this}}</span><br />
							{{/each}}
						</td>
						{{#if ../editmode}}
							<td class="content-data">
								<span>{{{uniqueSelect ratingfield ../parameters.OpMetricRating.0.options "name" "name" rating}}}</span>
							</td>
							<td class="content-data">
								<span id={{colDate}}>
									<input type="date" name="{{targetsatdatefield}}" id="{{targetsatdatefield}}" value="{{targetsatdate}}" size="12">
									<span for="{{targetsatdatefield}}" class="ibm-calendar-link"></span>
								</span>
							</td>
							<td class="content-data">
								<span class="content-data" id={{colFinding}}><input type="text" name="{{findingfield}}" id="{{findingfield}}" value="{{finding}}" size="27"></span>
							</td>
							<td class="content-data">
								<span class="content-data" id={{colAction}}><input type="text" name="{{actionfield}}" id="{{actionfield}}" value="{{action}}" size="27"></span>
							</td>
						{{else}}
							<td class="content-data">{{{ratingDisplay rating}}}</td>
							<td class="content-data">{{{dateDisplay targetsatdate}}}</td>
							<td class="content-data">{{finding}}</td>
							<td class="content-data">{{action}}</td>
						{{/if}}
					</tr>
				{{/each}}
			</table>
		</td>
	</tr>
</table>
